@model BackOffice.Models.Admin.AdminViewModel

@if (Model.AdminMenu != null &&
    Model.AdminMenu.Count > 0)
{
    if (!Model.RenderScripts)
    {
        <div class="POBOProviderSideMenu">
            <ul id="ulProviderMenu">
                @foreach (BackOffice.Models.General.GenericMenu pm in Model.AdminMenu.OrderBy(x => x.Position))
                {
                    string strSeleClass = string.Empty;
                    if (pm.IsSelected)
                    {
                        strSeleClass = "principalmenuselected";
                    }

                    <li class="@strSeleClass">
                        <label>@pm.Name</label>
                        <ul class="POBOProviderSideSubMenu">
                            @foreach (BackOffice.Models.General.GenericMenu sm in pm.ChildMenu.OrderBy(x => x.Position))
                            {
                                strSeleClass = string.Empty;
                                if (sm.IsSelected)
                                {
                                    strSeleClass = "secundarymenuselected";
                                }
                                <li class="@strSeleClass">
                                    <a href="@sm.Url">@sm.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function () {
                @*Provider_InitMenu({
                    ObjId: 'ulProviderMenu',
                    active: @(Model.AdminMenu.Where(x => x.IsSelected).Select(x => x.Position).DefaultIfEmpty(0).FirstOrDefault()),
                });*@
            });
        </script>
    }
}
