@model Tuple<BackOffice.Models.Provider.ProviderViewModel, IntegrationPlatform.Models.Integration.CustomFieldModel, ProveedoresOnLine.Company.Models.Util.GenericItemModel, string>

@if (!Model.Item1.RenderScripts)
{
    var oCustomFileURLId = Model.Item3 != null ? Model.Item3.ItemId : 0;
    var oCustomFileInfoURLId = Model.Item3 != null && Model.Item3.ItemInfo != null ? Model.Item3.ItemInfo.FirstOrDefault().ItemInfoId : 0;
    var oCustomFileURL = Model.Item3 != null && Model.Item3.ItemInfo != null ? Model.Item3.ItemInfo.FirstOrDefault().LargeValue : string.Empty;

    <span>@Model.Item2.Label</span>
    <br />

    <div id="FileUploadForm">
        <input type="file" name="LoadFile_@(Model.Item4)" id="LoadFile_@(Model.Item4)" value="" />
    </div>

    <input type="hidden" name="CustomData_@(Model.Item2.AditionalFieldId + "_" + oCustomFileURLId + "_" + Model.Item4 + "_" + oCustomFileInfoURLId)" id="CustomFileURL_@(Model.Item4)" value="@oCustomFileURL" />
    

    if (oCustomFileURL != null && oCustomFileURL.Length > 0)
    {
        <a href="@(oCustomFileURL)" target="_blank">Ver archivo</a>
    }
}
else
{
    @section body_scripts{

        <script type="text/javascript">

            var oFieldId = "CustomFileURL_" + @Model.Item4;

            $(document).ready(function () {
                debugger;
                UploadFile({
                    ProviderPublicId: '@Model.Item1.RelatedProvider.RelatedCompany.CompanyPublicId',
                    ControlellerResponseId: oFieldId,
                });
            });
        </script>
    }
}

