@model Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>

@{
    var UnitId = Model.Item2 != null &&
        Model.Item2.EC_UnitId != null ? Convert.ToInt32(Model.Item2.EC_UnitId.Trim()) : 0;
    var Unit = Model.Item2 != null &&
        Model.Item2.EC_Unit != null ? Model.Item2.EC_Unit.ToString() : string.Empty;

    var EvaluationCriteriaId = Model.Item2 != null &&
        Model.Item2.EC_EvaluationCriteriaId != null ? Convert.ToInt32(Model.Item2.EC_EvaluationCriteriaId.Trim()) : 0;
    var EvaluationCriteria = Model.Item2 != null &&
        Model.Item2.EC_EvaluationCriteria != null ? Model.Item2.EC_EvaluationCriteria.ToString() : string.Empty;

    var OrderId = Model.Item2 != null &&
        Model.Item2.EC_OrderId != null ? Convert.ToInt32(Model.Item2.EC_OrderId.Trim()) : 0;
    var Order = Model.Item2 != null &&
        Model.Item2.EC_Order != null ? Model.Item2.EC_Order.ToString() : string.Empty;

    var RatingId = Model.Item2 != null &&
        Model.Item2.EC_RatingId != string.Empty ? Convert.ToInt32(Model.Item2.EC_RatingId.Trim()) : 0;
    var Rating = Model.Item2 != null &&
        Model.Item2.EC_Rating != string.Empty ? Model.Item2.EC_Rating.ToString() : string.Empty;

    var ExperiencesId = Model.Item2 != null &&
        Model.Item2.EC_ExperienceConfigId != string.Empty ? Convert.ToInt32(Model.Item2.EC_ExperienceConfigId.Trim()) : 0;

    var AmmountEnable = Model.Item2.ProjectConfigExperience.AmmounEnable != null ? Model.Item2.ProjectConfigExperience.AmmounEnable : true;
    var CurrencyEnable = Model.Item2.ProjectConfigExperience.CurrencyEnable != null ? Model.Item2.ProjectConfigExperience.CurrencyEnable : true;
    var CustomActivityEnable = Model.Item2.ProjectConfigExperience.CustomAcitvityEnable != null ? Model.Item2.ProjectConfigExperience.CustomAcitvityEnable : true;
    var DefaultActivityEnable = Model.Item2.ProjectConfigExperience.DefaultAcitvityEnable != null ? Model.Item2.ProjectConfigExperience.DefaultAcitvityEnable : true;

    var QuantityInterval = Model.Item2.GetExperienceQuantityValues();
    var YearsInterval = Model.Item2.GetExperienceYearValues();
}

<div>
    <label>Criterio de Evaluación de Experiencias</label>
    <ul>
        <li>
            <label>Unidad:</label>
            <input id="@UnitId" name="EC_UnitId" value="@Unit" />
        </li>
        <li>
            <label>Criterio de Evaluación:</label>
            <input id="@EvaluationCriteriaId" name="EC_EvaluationCriteriaId" value="@EvaluationCriteria" />
        </li>
        <li>
            <label>Orden</label>
            <input id="@OrderId" name="EC_OrderId" value="@Order" />
        </li>
        <li>
            <label>Habilitado:</label>
            <input type="checkbox" checked />
            <label>Peso:</label>
            <input id="@RatingId" name="EC_RatingId" value="@Rating" />
        </li>
        <li>
            <label>Configuración de Experiencia</label>
            <div id="divProjectConfigExperiences"></div>
            <input type="hidden" name="EC_ExperiencesConfigId" value="@ExperiencesId" />
            <div>
                <ul>
                    <li>
                        <label>Años de experiencia a tener en cuenta</label>
                        <div>
                            <ul>
                                <li>
                                    <label>Tipo de Fecha:</label>
                                    <input />
                                </li>
                                <li>
                                    <label>Identificador:</label>
                                    <input />
                                </li>
                                <li>
                                    <label>Operador:</label>
                                    <input />
                                </li>
                                <li>
                                    <label>Etiqueta:</label>
                                    <input />
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <label>Cantidad minima de experiencias:</label>
                        <div>
                            <ul>
                                <li>
                                    <label>Identificador:</label>
                                    <input />
                                </li>
                                <li>
                                    <label>Etiqueta:</label>
                                    <input />
                                </li>
                                <li>
                                    <label>Habilitado</label>
                                    <input type="checkbox" checked />
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <label>Actividades Económicas:</label>
                        <input type="checkbox" value="@DefaultActivityEnable" />
                    </li>
                    <li>
                        <label>Actividades Económicas Personalizadas:</label>
                        <input type="checkbox" value="@CustomActivityEnable />
                    </li>
                    <li>
                        <label>Valor estimado:</label>
                        <input type="checkbox" value="@AmmountEnable" />
                    </li>
                    <li>
                        <label>Moneda:</label>
                        <input type="checkbox" value="@CurrencyEnable" />
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>