@model Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>

@{
    var UnitId = Model.Item2 != null &&
        Model.Item2.EC_UnitId != null ? Convert.ToInt32(Model.Item2.EC_UnitId.Trim()) : 0;
    var Unit = Model.Item2 != null &&
        Model.Item2.EC_Unit != null ? Model.Item2.EC_Unit.ToString() : string.Empty;

    var EvaluationCriteriaId = Model.Item2 != null &&
        Model.Item2.EC_EvaluationCriteriaId != null ? Convert.ToInt32(Model.Item2.EC_EvaluationCriteriaId.Trim()) : 0;
    var EvaluationCriteria = Model != null &&
        Model.Item2.EC_EvaluationCriteria != null ? Model.Item2.EC_EvaluationCriteria.ToString() : string.Empty;

    var OrderId = Model.Item2 != null &&
        Model.Item2.EC_OrderId != null ? Convert.ToInt32(Model.Item2.EC_OrderId.Trim()) : 0;
    var Order = Model.Item2 != null &&
        Model.Item2.EC_Order != null ? Model.Item2.EC_Order.ToString() : string.Empty;

    var RatingId = Model.Item2 != null &&
        Model.Item2.EC_RatingId != string.Empty ? Convert.ToInt32(Model.Item2.EC_RatingId.Trim()) : 0;
    var Rating = Model.Item2 != null &&
        Model.Item2.EC_Rating != string.Empty ? Model.Item2.EC_Rating.ToString() : string.Empty;
}

<div>
    <label>Criterio de Evaluación de LTIF</label>

        <ul>
            <li>
                <label>Unidad:</label>
                <input id="@UnitId" name="EC_UnitId" value="@Unit" />
            </li>
            <li>
                <label>Criterio de Evaluación:</label>
                <input id="@EvaluationCriteriaId" name="EC_EvaluationCriteriaId" value="@EvaluationCriteria" />
            </li>
            <li>
                <label>Orden</label>
                <input id="@OrderId" name="EC_OrderId" value="@OrderId" />
            </li>
            <li>
                <label>Peso:</label>
                <input id="@RatingId" name="EC_RatingId" value="@Rating" />
            </li>
            <li>
                <label>Valores de Evaluación:</label>
                <div id="divProjectConfigEvaluationCriteria"></div>
                <div>
                    <ul>
                        <li>
                            <label>Tipo de Información:</label>
                            <input />
                        </li>
                        <li>
                            <label>Valor:</label>
                            <input />
                        </li>
                        <li>
                            <label>Operador</label>
                            <select id="OperatorId" name="Operator">
                                <option id="0">Seleccione un Operador</option>
                                @foreach (var ProjectOptions in Model.Item1.ProjectConfigOptions.Where(x => x.CatalogId == 1409))
                                {
                                    <option id="@ProjectOptions.ItemId">@ProjectOptions.ItemName</option>
                                }
                            </select>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
</div>