@model BackOffice.Models.Customer.EvaluationItemViewModel

<div>
    <label>Criterio de Evaluación de Balances.</label>

    @if (Model.RelatedEvaluationItem != null)
    {
        <ul>
            <li>
                <label>Unidad:</label>
                <input id="@Model.EC_UnitId" name="EC_UnitId" value="@Model.EC_Unit" />
            </li>
            <li>
                <label>Habilitado:</label>
                <input type="checkbox" checked />
                <label>Peso:</label>
                <input id="@Model.EC_RatingId" name="EC_RatingId" value="@Model.EC_Rating" />
            </li>
            <li>
                <label>Número de años a tener en cuenta:</label>
                <input />
            </li>
            <li>
                <label>Orden</label>
                <input id="@Model.EC_OrderId" name="EC_OrderId" value="@Model.EC_Order" />
            </li>
            <li>
                <label>Habilitado:</label>
                <input type="checkbox" checked />
                <label>Valores de Evaluación.</label>
                <div>
                    <ul>
                        <li>
                            <label>Tipo de Información</label>
                            <input />
                        </li>
                        <li>
                            <label>Valor:</label>
                            <input />
                        </li>
                        <li>
                            <label>Operador:</label>
                            <input />
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    }
    else
    {
        <ul>
            <li>
                <label>Unidad:</label>
                <input name="EC_UnitId" value="" />
            </li>
            <li>
                <label>Habilitado:</label>
                <input type="checkbox" checked />
                <label>Peso:</label>
                <input name="EC_RatingId" value="" />
            </li>
            <li>
                <label>Número de años a tener en cuenta:</label>
                <input />
            </li>
            <li>
                <label>Orden</label>
                <input name="EC_OrderId" value="" />
            </li>
            <li>
                <label>Habilitado:</label>
                <input type="checkbox" checked />
                <label>Valores de Evaluación.</label>
                <div>
                    <ul>
                        <li>
                            <label>Tipo de Información</label>
                            <input />
                        </li>
                        <li>
                            <label>Valor:</label>
                            <input />
                        </li>
                        <li>
                            <label>Operador:</label>
                            <input />
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    }
</div>