@model List<ProveedoresOnLine.Company.Models.Util.GenericItemInfoModel>

@{
    var UnitId = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.Unit).
        Select(y => y.ItemInfoId).FirstOrDefault() : 0;

    var Unit = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.Unit).
        Select(y => y.Value).FirstOrDefault() : string.Empty;

    var EvaluationCriteriaId = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.EvaluationCriteria).
        Select(y => y.ItemInfoId).FirstOrDefault() : 0;

    var EvaluationCriteria = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.EvaluationCriteria).
        Select(y => y.Value).FirstOrDefault() : string.Empty;

    var OrderId = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.Order).
        Select(y => y.ItemInfoId).FirstOrDefault() : 0;

    var Order = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.Order).
        Select(y => y.Value).FirstOrDefault() : string.Empty;

    var RatingId = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.Rating).
        Select(y => y.ItemInfoId).FirstOrDefault() : 0;

    var Rating = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.Rating).
        Select(y => y.Value).FirstOrDefault() : string.Empty;

    var EvaluationTypeId = Model != null ?
        Model.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.InfoType_Value_Operator).
        Select(y => y.ItemInfoId).FirstOrDefault() : 0;
}

<div>
    <label>Criterio de Evaluación de LTIF</label>

        <ul>
            <li>
                <label>Unidad:</label>
                <input id="@UnitId" name="EC_UnitId" value="@Unit" />
            </li>
            <li>
                <label>Criterio de Evaluación:</label>
                <input id="@EvaluationCriteriaId" name="EC_EvaluationCriteriaId" value="@EvaluationCriteria" />
            </li>
            <li>
                <label>Orden</label>
                <input id="@OrderId" name="EC_OrderId" value="@OrderId" />
            </li>
            <li>
                <label>Habilitado:</label>
                <input type="checkbox" checked />
                <label>Peso:</label>
                <input id="@RatingId" name="EC_RatingId" value="@Rating" />
            </li>
            <li>
                <label>Habilitado:</label>
                <input type="checkbox" checked />
                <label>Valores de Evaluación:</label>
                <input type="hidden" value="@EvaluationTypeId" />
                <div>
                    <ul>
                        <li>
                            <label>Tipo de Información:</label>
                            <input />
                        </li>
                        <li>
                            <label>Valor:</label>
                            <input />
                        </li>
                        <li>
                            <label>Operador</label>
                            <input />
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
</div>