@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Datos personalizados";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Datos personalizados por cliente</label>
            <br />
            @{
                Model.IsForm = true;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
            <form id="frmProviderUpsert" method="post" action="@(Url.Action(
                                                              MVC.Provider.ActionNames.CDCustomData,
                                                              MVC.Provider.Name,
                                                              new
                                                              {
                                                                  ProviderPublicId = Model.RelatedProvider != null && Model.RelatedProvider.RelatedCompany != null ? Model.RelatedProvider.RelatedCompany.CompanyPublicId : string.Empty,
                                                              }))">
                @Html.Partial(MVC.Shared.Views._CD_CustomerForm, Model)

                <div style="display:none">
                    <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                    <input type="hidden" name="StepAction" id="StepAction" value="" />
                </div>
            </form>            
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts{

    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            UploadFile({
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
                ControlellerResponseId: "CustomFileURL",
            });
        });
    </script>
}