@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Información Comercial";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
    Model.GridToSave = "divExperience";
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <label class="POBOSectionTitles">Experiencias</label>
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
        <div id="divExperience"></div>
        <br />
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
    </div>
</div>

<!--templates-->
<div style="display:none;">
    <div id="divExperience_ShortcutToolTipTemplate">
        <img class="divGrid_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
    </div>


    <div id="divExperience_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divExperience_ViewEnable" type="checkbox" checked="checked" />
    </div>
    <div id="divExperience_NoFile">
        <div>
            <span>Seleccione un archivo</span>
        </div>
    </div>
    <div id="divExperience_File">
        <div>
            <a target="_blank" href="${EX_ExperienceFile}">Ver archivo</a>
        </div>
    </div>
    <div id="divExperience_MultiAC_ItemTemplate">
        <div class="POBOProviderCompoundAutocomplete">
            <label><span>Actividad:</span> ${ActivityName}</label>
            <label><span>Tipo:</span> ${ActivityType}</label>
            <label><span>Grupo:</span> ${ActivityGroup}</label>
            <label><span>Categoria:</span> ${ActivityCategory}</label>
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

    @{
        //get ContactTypeValues
        string oProviderOptions = "[]";
        if (Model.ProviderOptions != null &&
            Model.ProviderOptions.Count > 0)
        {
            Dictionary<int, List<ProveedoresOnLine.Company.Models.Util.CatalogModel>> oOptionContact =
                Model.ProviderOptions.
                GroupBy(x => x.CatalogId).
                Select(x =>
                    new
                    {
                        okey = x.Key,
                        ovalue = Model.ProviderOptions.Where(y => y.CatalogId == x.Key).OrderBy(y => y.ItemName).ToList(),
                    }).ToDictionary(k => k.okey, v => v.ovalue);

            oProviderOptions = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(oOptionContact.Select(x => new { Key = x.Key, Value = x.Value }));
        }
    }

    <script type="text/javascript">
        var vProviderOptions = @(Html.Raw(oProviderOptions));
        $(document).ready(function () {
            Provider_CompanyCommercialObject.Init({
                ObjectId: 'divExperience',
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
                CommercialType: '@((int)BackOffice.Models.General.enumCommercialType.Experience)',
                DateFormat: '@(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_DateFormat_Kendo].Value)',
                ProviderOptions: vProviderOptions,
            });
            Provider_CompanyCommercialObject.RenderAsync();
        });
    </script>
}
