@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Información Comercial";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
    Model.GridToSave = "divCustomerProviderStatus";
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <label class="POBOSectionTitles">Compradores Relacionados</label>
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
        <div id="divCustomerProviderStatus"></div>
        <br />
        <br />
        <label class="POBOSectionTitles">Seguimientos por Comprador</label>
        <div id="divCustomerProviderStatus_Detail"></div>
        <br />
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
    </div>
</div>

<div id="templates" style="display:none;">
    
    <div id="divCustomerProviderStatus_ShortcutToolTipTemplate">
        <img style="width:20px;" id="divCustomerProviderStatus_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
    </div>

    <div id="divCustomerProviderStatus_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los asociados</label>
        <input class="POBOProviderGridEnableContact" id="divCustomerProviderStatus_ViewEnable" type="checkbox" checked="checked" />
    </div>

    <div id="divCustomerProviderStatus_Detail_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divCustomerProviderStatus_Detail_ViewEnable" type="checkbox" checked="checked" />
    </div>

    <div id="divCustomerProvider_Header">
        <a href="javascript:Provider_CustomerInfoObject.CreateCustomerByProvider();">Agregar Comprador</a>
        <a href="javascript:Provider_CustomerInfoObject.CreateTracking();">Agregar Seguimiento</a>
    </div>
</div>

<div id="dialog" style="display:none;">

    <div id="divCustomerProviderStatus_Dialog" class="StatusDialog" title="Asociar a comprador">
        <label class="POBOSectionTitles">Compradores:</label>
        <div class="ListContent">
            <ul id="divCustomerProviderStatus_Customer_List_Dialog" class="CompanyList" style="list-style:none;"></ul>
        </div>
        <a class="POBOProgressButtons" href="javascript:Provider_CustomerInfoObject.UpsertCustomerByProvider();">Guardar</a>
    </div>


    <div id="divCustomerProviderStatus_Tracking_Dialog" class="StatusDialog" title="Agregar seguimiento">
        <form id="divCustomerProviderStatus_Upsert_Form" name="divCustomerProviderStatus_Upsert_Form" method="post">
            <div>
                <label class="POBOSectionTitles">Compradores Relacionados:</label>
                <div class="ListContent">
                    <ul id="divCustomerProviderStatus_Customer_List_Tracking" class="CompanyList" style="list-style:none;"></ul>
                </div>
                <div class="ContentTracking">
                    <label class="POBOSectionTitles">Estado del Proveedor:</label>
                    <select id="divCustomerProviderStatus_Status" name="SH_Currency">
                        @foreach (var oItem in Model.ProviderOptions.Where(x => x.CatalogId == 902).OrderBy(x => x.ItemName))
                        {
                            <option value="@oItem.ItemId">@oItem.ItemName</option>
                        }
                    </select>
                    <label class="POBOSectionTitles">Seguimiento Interno</label>
                    <textarea id="divCustomerProviderStatus_Internal_Tracking" name="SH_InternalTracking"></textarea>
                    <label class="POBOSectionTitles">Seguimiento para el Comprador</label>
                    <textarea id="divCustomerProviderStatus_Customer_Tracking" name="SH_CustomerTracking"></textarea>
                </div>
                <a class="POBOProgressButtons" href="javascript:Provider_CustomerInfoObject.UpsertCustomerByProviderTraking();">Guardar</a>
            </div>
        </form>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

    @{
        //get ContactTypeValues
        string oProviderOptions = "[]";
        if (Model.ProviderOptions != null &&
            Model.ProviderOptions.Count > 0)
        {
            Dictionary<int, List<ProveedoresOnLine.Company.Models.Util.CatalogModel>> oOptionContact =
                Model.ProviderOptions.
                GroupBy(x => x.CatalogId).
                Select(x =>
                    new
                    {
                        okey = x.Key,
                        ovalue = Model.ProviderOptions.Where(y => y.CatalogId == x.Key).OrderBy(y => y.ItemName).ToList(),
                    }).ToDictionary(k => k.okey, v => v.ovalue);

            oProviderOptions = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(oOptionContact.Select(x => new { Key = x.Key, Value = x.Value }));
        }
    }

    <script type="text/javascript">
        var vProviderOptions = @(Html.Raw(oProviderOptions));
        $(document).ready(function () {
            Provider_CustomerInfoObject.Init({
                ObjectId: 'divCustomerProviderStatus',
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
                ProviderCustomerInfoType: '@((int)BackOffice.Models.General.enumProviderCustomerType.InternalMonitoring)',
                ProviderOptions: vProviderOptions,
            });
            Provider_CustomerInfoObject.RenderAsync();
        });
    </script>
}
