@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Información Comercial";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <label class="POBOSectionTitles">Seguimiento</label>
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
        <div id="divCustomerProviderStatus"></div>
        <br />
        <div id="divCustomerProviderStatus_Detail"></div>
        <br />
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
    </div>
</div>

<div id="templates" style="display:none;">
    <div id="divCustomerProvider_Header">
        <a href="javascript:Provider_CustomerInfoObject.CreateCustomerByProvider();">Agregar Comprador</a>
        <a href="javascript:Provider_CustomerInfoObject.CreateTracking();">Agregar Seguimiento</a>
    </div>
</div>

<div id="dialog" style="display:none;">

    <div id="divCustomerProviderStatus_Dialog" style="width:380px;">
        <div style="position:relative; height: 150px !important; border: 1px solid; overflow:scroll;">
            <ul id="divCustomerProviderStatus_Customer_List_Dialog" style="list-style:none;"></ul>
        </div>
        <div style="position:relative; border: 1px solid red; text-align:center;">
            <label>Nota Interna</label>
            <textarea id="divCustomerProviderStatus_Internal"></textarea>
            <label>Nota del Comprador</label>
            <textarea id="divCustomerProviderStatus_Customer"></textarea>
        </div>
        <a href="javascript:Provider_CustomerInfoObject.UpsertCustomerByProvider();">Guardar</a>
    </div>

    <div id="divCustomerProviderStatus_Tracking_Dialog" style="width:380px;">
        <div style="position:relative; height: 150px !important; border: 1px solid; overflow:scroll;">
            <ul id="divCustomerProviderStatus_Customer_List_Tracking" style="list-style:none;"></ul>
        </div>
        <div style="position:relative; border: 1px solid red; text-align:center;">
            <label>Estado del Proveedor:</label>
            <select id="divCustomerProviderStatus_Status" name="SH_Currency">
                @foreach (var oItem in Model.ProviderOptions.Where(x => x.CatalogId == 902).OrderBy(x => x.ItemName))
                {
                    <option value="@oItem.ItemId">@oItem.ItemName</option>
                }
            </select>
            <label>Nota Interna</label>
            <textarea id="divCustomerProviderStatus_Internal_Tracking"></textarea>
            <label>Nota del Comprador</label>
            <textarea id="divCustomerProviderStatus_Customer_Tracking"></textarea>
        </div>
        <a href="javascript:Provider_CustomerInfoObject.UpsertCustomerByProviderTraking();">Guardar</a>
    </div>

</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

    @{
        //get ContactTypeValues
        string oProviderOptions = "[]";
        if (Model.ProviderOptions != null &&
            Model.ProviderOptions.Count > 0)
        {
            Dictionary<int, List<ProveedoresOnLine.Company.Models.Util.CatalogModel>> oOptionContact =
                Model.ProviderOptions.
                GroupBy(x => x.CatalogId).
                Select(x =>
                    new
                    {
                        okey = x.Key,
                        ovalue = Model.ProviderOptions.Where(y => y.CatalogId == x.Key).OrderBy(y => y.ItemName).ToList(),
                    }).ToDictionary(k => k.okey, v => v.ovalue);

            oProviderOptions = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(oOptionContact.Select(x => new { Key = x.Key, Value = x.Value }));
        }
    }

    <script type="text/javascript">
        var vProviderOptions = @(Html.Raw(oProviderOptions));
        $(document).ready(function () {
            Provider_CustomerInfoObject.Init({
                ObjectId: 'divCustomerProviderStatus',
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
                ProviderCustomerInfoType: '@((int)BackOffice.Models.General.enumProviderCustomerType.InternalMonitoring)',
                ProviderOptions: vProviderOptions,
            });
            Provider_CustomerInfoObject.RenderAsync();
        });
    </script>
}
