@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Balances financieros";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <label class="POBOSectionTitles">Experiencias</label>
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
        <div id="divBalanceSheet"></div>
        <div id="divBalanceSheet_Detail"></div>
        <br />
        @{
            Model.IsForm = false;
            Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
        }
    </div>
</div>

<div style="display:none;">
    <div id="divBalanceSheet_NoFile">
        <div>
            <span>Seleccione un archivo</span>
        </div>
    </div>
    <div id="divBalanceSheet_File">
        <div>
            <a target="_blank" href="${SH_BalanceSheetFile}">Ver archivo</a>
        </div>
    </div>

    <div id="divBalanceSheet_Detail_Form">
        <form id="divBalanceSheet_Detail_Form_${FinancialId}" action="" method="post">
            <ul>
                <li>
                    <span>Nombre:</span>
                    <input id="divBalanceSheet_Detail_Form_SH_Year_${FinancialId}" type="text" />
                    <input id="divBalanceSheet_Detail_Form_SH_YearId_${FinancialId}" type="hidden" />
                </li>
                <li>
                    <span>Año:</span>
                    <input id="divBalanceSheet_Detail_Form_SH_Year_${FinancialId}" type="text" />
                    <input id="divBalanceSheet_Detail_Form_SH_YearId_${FinancialId}" type="hidden" />
                </li>
                <li>
                    <span>Doc soporte:</span>
                    <input id="divBalanceSheet_Detail_Form_SH_BalanceSheetFile_${FinancialId}" type="text" />
                    <input id="divBalanceSheet_Detail_Form_SH_BalanceSheetFileId_${FinancialId}" type="hidden" />
                </li>
                <li>
                    <span>Habilitado:</span>
                    <input id="divBalanceSheet_Detail_Form_SH_Currency_${FinancialId}" type="text" />
                    <input id="divBalanceSheet_Detail_Form_SH_CurrencyId_${FinancialId}" type="hidden" />
                </li>
                <li id="divBalanceSheet_Detail_Form_Accounts_${FinancialId}">

                </li>
            </ul>
        </form>
    </div>
    <div id="divBalanceSheet_Detail_ParentAccount">
        <ul>
            <li id="divBalanceSheet_Detail_ParentAccount_${AccountId}"></li>
            <li>
                <span>${AccountName}</span>
                <span id="divBalanceSheet_Detail_ParentAccount_${AccountId}_Total"></span>
            </li>
        </ul>
    </div>
    <div id="divBalanceSheet_Detail_ChildAccount">
        <li>
            <span>${AccountName}</span>
            <input id="divBalanceSheet_Detail_ChildAccount_${AccountId}" type="text" value="${Value}" class="divBalanceSheet_Detail_ChildAccount_selector" />
        </li>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

    @{
        //get ContactTypeValues
        string oProviderOptions = "[]";
        if (Model.ProviderOptions != null &&
            Model.ProviderOptions.Count > 0)
        {
            Dictionary<int, List<ProveedoresOnLine.Company.Models.Util.CatalogModel>> oOptionContact =
                Model.ProviderOptions.
                GroupBy(x => x.CatalogId).
                Select(x =>
                    new
                    {
                        okey = x.Key,
                        ovalue = Model.ProviderOptions.Where(y => y.CatalogId == x.Key).OrderBy(y => y.ItemName).ToList(),
                    }).ToDictionary(k => k.okey, v => v.ovalue);

            oProviderOptions = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(oOptionContact.Select(x => new { Key = x.Key, Value = x.Value }));
        }
    }

    <script type="text/javascript">
        var vProviderOptions = @(Html.Raw(oProviderOptions));
        $(document).ready(function () {
            Provider_CompanyFinancialObject.Init({
                ObjectId: 'divBalanceSheet',
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
                FinancialType: '@((int)BackOffice.Models.General.enumfinancialType.BalanceSheetInfoType)',
                DateFormat: '@(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_DateFormat_Kendo].Value)',
                ProviderOptions: vProviderOptions,
            });
            Provider_CompanyFinancialObject.RenderAsync();
        });
    </script>
}
