@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Información Financiera";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
    Model.GridToSave = "divGridTaxes";
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Impuestos</label>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
            <div id="loading"></div>
            <div id="divGridTaxes"></div>
            <br />
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
        </div>
    </div>
</div>

<!--templates by files-->
<div style="display:none;">
    <div id="divGridTaxes_ShortcutToolTipTemplate">
        <img class="divGrid_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
    </div>

    <div id="divGridTaxes_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divGridTaxes_ViewEnable" type="checkbox" checked="checked" />
    </div>
    <div id="divGridTaxes_NoFile">
        <div>
            <span>Seleccione un archivo</span>
        </div>
    </div>
    <div id="divGridTaxes_File">
        <div>
            <a target="_blank" href="${Url_File}">Ver archivo</a>
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)


    @{

        //get TaxTypeValues
        string oTaxesOptionList = "[]";

        if (Model.ProviderOptions != null &&
            Model.ProviderOptions.Count > 0)
        {
            Dictionary<int, List<ProveedoresOnLine.Company.Models.Util.CatalogModel>> oOptionTaxesOption =
                Model.ProviderOptions.
                GroupBy(x => x.CatalogId).
                Select(x =>
                    new
                    {
                        okey = x.Key,
                        ovalue = Model.ProviderOptions.Where(y => y.CatalogId == x.Key).OrderBy(y => y.ItemName).ToList(),
                    }).ToDictionary(k => k.okey, v => v.ovalue);

            oTaxesOptionList = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(oOptionTaxesOption.Select(x => new { Key = x.Key, Value = x.Value }));
        }

        string oYearList = "[]";
        Dictionary<int, string> oYearOption = new Dictionary<int, string>();
        int i = 0;
        for (int date = DateTime.Now.Year; date >= (DateTime.Now.Year - 19); date--)
        {
            oYearOption.Add(i, date.ToString());
            i++;
        }

        oYearOption = oYearOption.ToDictionary(k => k.Key, v => v.Value);

        oYearList = (new System.Web.Script.Serialization.JavaScriptSerializer()).
            Serialize(oYearOption.Select(x => new { Key = x.Key, Value = x.Value }));
    }

    <script type="text/javascript">
        var vProviderOptions = @(Html.Raw(oTaxesOptionList));
        var vYearOptionList = @(Html.Raw(oYearList));
        $(document).ready(function () {
            Provider_CompanyFinancialObject.Init({
                ObjectId: 'divGridTaxes',
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
                FinancialType: '@((int)BackOffice.Models.General.enumFinancialType.TaxInfoType)',
                DateFormat: '@(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_DateFormat_Kendo].Value)',
                ProviderOptions: vProviderOptions,
                YearOptionList: vYearOptionList,
            });
            Provider_CompanyFinancialObject.RenderAsync();
        });
    </script>
}
