@model BackOffice.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Politicas de Seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div class="POBOProviderUpsertForm" id="divRiskPoliciesContent">
            <label class="POBOSectionTitles">Sistema de riesgos laborales</label>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
            <form>
                <ul>
                    <li>
                        <label>Sistema de Riesgos: </label>
                        <br />
                        <select id="listARL">
                            <option value="0">Seleccione una Entidad</option>
                        </select>
                    </li>
                    <li>
                        <label>Calificación de Riesgo ARL</label><br />
                        <select id="listCualityARL">
                            <option value="0">Seleccione una Calificación</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </li>
                    <li>
                        <label>Afiliación ARL</label><br />
                        <input type="file" />
                    </li>
                    <li>
                        <label>Certificado accidentalidad ARL</label><br />
                        <input type="file" />
                    </li>
                </ul>
            </form>
            <ul>
                <li class="POBOHSEQ">
                    <label>Certificados de Accidentalidad</label><br />
                    <div id="divGridRiskPolicies"></div>
                </li>
                <li class="POBOHSEQ">

                    @{
                        string oYear = string.Empty;
                        double oFatalities = 0;
                        double oAccidents = 0;
                        double oHours = 0;
                        double oLTIF = 0;
                        
                        if (Model.RelatedProvider != null && Model.RelatedProvider.RelatedCertification != null)
                        {                            
                            foreach (var Item in Model.RelatedProvider.RelatedCertification)
                            {
                                oYear += Item.ItemInfo.Where(x => x.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumHSEQInfoType.CR_Year).
                                    Select(x => x.Value).
                                    DefaultIfEmpty(string.Empty).
                                    FirstOrDefault() + " ";

                                if (oYear.Length > 0)
                                {
                                    oFatalities += Convert.ToDouble(Item.ItemInfo.Where(x => x.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumHSEQInfoType.CR_Fatalities).
                                        Select(x => x.Value).
                                        DefaultIfEmpty(string.Empty).
                                        FirstOrDefault());

                                    oAccidents += Convert.ToDouble(Item.ItemInfo.Where(y => y.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumHSEQInfoType.CR_NumberAccidentDisabling).
                                        Select(y => y.Value).
                                        DefaultIfEmpty(string.Empty).
                                        FirstOrDefault());

                                    oHours += Convert.ToDouble(Item.ItemInfo.Where(z => z.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumHSEQInfoType.CR_ManHoursWorked).
                                        Select(z => z.Value).
                                        DefaultIfEmpty(string.Empty).
                                        FirstOrDefault());
                                }
                            }

                            oLTIF = ((oFatalities + oAccidents) / oHours) * 1000000;
                        }
                    }

                    <label>Reporte LTIF</label>
                    <ul id="ReportLITF">
                        <li id="F1">
                            <label>Fatalidades + Accidentes Incapacitantes</label>
                            <hr />
                            <label>Horas hombre trabajadas</label>
                        </li>
                        <li id="F2">
                            <label>* 1'000.000</label>
                        </li>
                        <li id="F3">
                            <label>Resultado LTIF: @(oLTIF)</label>
                            <label>AÑOS: @(oYear)</label>
                        </li>
                    </ul>
                </li>
            </ul>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts{

    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            Provider_CompanyHSEQObject.Init({
                ObjectId: 'divGridRiskPolicies',
                ProviderPublicId: '@Model.RelatedProvider.RelatedCompany.CompanyPublicId',
                HSEQType: '@((int)BackOffice.Models.General.enumHSEQType.CompanyRiskPolicies)',
                DateFormat: '',
                HSEQOptionList: '',
            });
            Provider_CompanyHSEQObject.RenderAsync();
        });
    </script>
}