@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Busqueda de proveedores";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

<div class="POBOProviderWrapper">
    <div class="POBOPTopSearchBar">
        <ul>
            <li>
                <input id="divProviderSearch_txtSearch" class="POBOTextField" type="text" placeholder="Buscar por razón social o ID" value="@Request["SearchParam"]" />
                <a class="POBOSearchButtons" href="javascript:Provider_SearchObject.SearchEvent(null,null);">Encontrar</a>
            </li>
            <li>
                <a class="POBOButtons" href="@Url.Action(MVC.Provider.ActionNames.GIProviderUpsert, MVC.Provider.Name)">Nuevo</a>
            </li>
            <li>
                <a class="POBOButtons" href="">Dercargar excel</a>
            </li>
        </ul>
    </div>
    @Html.Partial(MVC.Shared.Views._P_ProviderFilter, Model)
    <div class="POBOPClientListWrapper">
        <div id="divProviderSearch"></div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            Provider_SearchObject.Init({
                ObjectId: 'divProviderSearch',
                SearchFilter: '@Request["SearchFilter"]',
                PageSize: '@BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_Grid_RowCountDefault].Value',
            });
            Provider_SearchObject.RenderAsync();
        });
    </script>
}
