@model MarketPlace.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Proveedores OnLine - Evaluación de desempeño";
    Layout = MVC.Desktop.Shared.Views._Layout;

    List<MarketPlace.Models.Survey.SurveyConfigItemViewModel> lstEvaluationArea = Model.RelatedSurvey.GetSurveyConfigItem(MarketPlace.Models.General.enumSurveyConfigItemType.EvaluationArea, null);

    if (Model.RelatedSurvey.SurveyConfigStepEnable)
    {
        lstEvaluationArea = new List<MarketPlace.Models.Survey.SurveyConfigItemViewModel>()
        {
            lstEvaluationArea.Where(x => x.Order == Model.RelatedSurvey.CurrentStepId).FirstOrDefault(),
        };
    }
}
<div>
    <!--survey header-->
    <div>
        <!--Provider info-->
        <div class="POMPProviderMenuDetail">
            @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderLite, Model.RelatedLiteProvider)
        </div>
        <!--Survey info-->
        <div>
            <ul>
                <li>
                    <span>
                        @((string.IsNullOrEmpty(Model.RelatedSurvey.SurveyConfigGroup) ? string.Empty : (Model.RelatedSurvey.SurveyConfigGroup + " - ")) + Model.RelatedSurvey.SurveyConfigName)
                    </span>
                </li>
                <li>
                    <div class="rateit" data-rateit-value="@Model.RelatedSurvey.SurveyRating.ToString("0.##").Replace(",",".")" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <span>(@Model.RelatedSurvey.SurveyRating.ToString("0.##").Replace(",", "."))</span>
                </li>
                <li>
                    <div class="selProgressBar" data-value="@Model.RelatedSurvey.SurveyProgress"></div>
                    <span>Fecha de programación: @Model.RelatedSurvey.SurveyIssueDate</span>
                    <span>Ultima actualización: @Model.RelatedSurvey.SurveyLastModify</span>
                </li>
                <li>
                    <span>Estado: @Model.RelatedSurvey.SurveyStatusName</span>
                </li>
                <li>
                    <span>Evaluador: @Model.RelatedSurvey.SurveyEvaluator</span>
                </li>
                <li>
                    <span>Responsable: @Model.RelatedSurvey.SurveyResponsible</span>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <span>Los campos con * son obligatorios</span>
        <!--evaluation items-->
        <form id="SurveySave_Form" method="post">
            <ul>
                <!--Survey Actions-->
                <li>
                    <ul>
                        @if (Model.RelatedSurvey.SurveyConfigStepEnable)
                        {
                            if (Model.RelatedSurvey.CurrentActionMenu.LastMenu != null)
                            {
                                <li>
                                    <a href="javascript:Survey_SaveObject.Save('@Model.RelatedSurvey.CurrentActionMenu.LastMenu.Url')">@Model.RelatedSurvey.CurrentActionMenu.LastMenu.Name</a>
                                </li>
                            }
                            if (Model.RelatedSurvey.CurrentActionMenu.NextMenu != null)
                            {
                                <li>
                                    <a href="javascript:Survey_SaveObject.Save('@Model.RelatedSurvey.CurrentActionMenu.NextMenu.Url')">@Model.RelatedSurvey.CurrentActionMenu.NextMenu.Name</a>
                                </li>
                            }
                        }
                        <li>
                            <a href="javascript:Survey_SaveObject.Save('@Model.RelatedSurvey.CurrentActionMenu.Url')">@Model.RelatedSurvey.CurrentActionMenu.Name</a>
                        </li>
                    </ul>
                </li>
                @foreach (var EvaluationArea in lstEvaluationArea)
                {
                    var EvaluationAreaInfo = Model.RelatedSurvey.GetSurveyItem(EvaluationArea.SurveyConfigItemId);

                    var lstQuestion = Model.RelatedSurvey.GetSurveyConfigItem
                        (MarketPlace.Models.General.enumSurveyConfigItemType.Question, EvaluationArea.SurveyConfigItemId);

                    <li>
                        <span>@EvaluationArea.Order. @EvaluationArea.Name</span>

                        <ul>
                            @foreach (var Question in lstQuestion)
                            {
                                var QuestionInfo = Model.RelatedSurvey.GetSurveyItem(Question.SurveyConfigItemId);

                                var lstAnswer = Model.RelatedSurvey.GetSurveyConfigItem
                                    (MarketPlace.Models.General.enumSurveyConfigItemType.Answer, Question.SurveyConfigItemId);

                                <li>
                                    @if (Question.IsMandatory)
                                    {
                                        <span>*</span>
                                    }
                                    <span>@Question.Order. @Question.Name</span>
                                    <ul>
                                        @foreach (var Answer in lstAnswer)
                                        {
                                            <li>
                                                @if (QuestionInfo != null && QuestionInfo.Answer == Answer.SurveyConfigItemId)
                                                {
                                                    <input name="SurveyItem_@Question.SurveyConfigItemId" type="radio" value="@Answer.SurveyConfigItemId" checked="checked" @(Model.RelatedSurvey.SurveyStatus == MarketPlace.Models.General.enumSurveyStatus.Close ? "disabled=\"disabled\"" : string.Empty) />
                                                }
                                                else
                                                {
                                                    <input name="SurveyItem_@Question.SurveyConfigItemId" type="radio" value="@Answer.SurveyConfigItemId" @(Model.RelatedSurvey.SurveyStatus == MarketPlace.Models.General.enumSurveyStatus.Close ? "disabled=\"disabled\"" : string.Empty) />
                                                }
                                                <span>@Answer.Name</span>
                                            </li>
                                        }
                                    </ul>
                                    @if (Question.HasDescription)
                                    {
                                        <span>
                                            Observaciones:
                                        </span>
                                        <span>
                                            <textarea name="SurveyItemText_@Question.SurveyConfigItemId" @(Model.RelatedSurvey.SurveyStatus == MarketPlace.Models.General.enumSurveyStatus.Close ? "readonly=\"readonly\"" : string.Empty)>@(QuestionInfo == null ? string.Empty : QuestionInfo.DescriptionText.Trim())</textarea>
                                        </span>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }
                <!--Survey Actions-->
                <li>
                    <ul>
                        @if (Model.RelatedSurvey.SurveyConfigStepEnable)
                        {
                            if (Model.RelatedSurvey.CurrentActionMenu.LastMenu != null)
                            {
                                <li>
                                    <a href="javascript:Survey_SaveObject.Save('@Model.RelatedSurvey.CurrentActionMenu.LastMenu.Url')">@Model.RelatedSurvey.CurrentActionMenu.LastMenu.Name</a>
                                </li>
                            }
                            if (Model.RelatedSurvey.CurrentActionMenu.NextMenu != null)
                            {
                                <li>
                                    <a href="javascript:Survey_SaveObject.Save('@Model.RelatedSurvey.CurrentActionMenu.NextMenu.Url')">@Model.RelatedSurvey.CurrentActionMenu.NextMenu.Name</a>
                                </li>
                            }
                        }
                        <li>
                            <a href="javascript:Survey_SaveObject.Save('@Model.RelatedSurvey.CurrentActionMenu.Url')">@Model.RelatedSurvey.CurrentActionMenu.Name</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div style="display:none;">
                <input type="hidden" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Status).ToString())_@Model.RelatedSurvey.SurveyStatusId" value="@(((int)MarketPlace.Models.General.enumSurveyStatus.InProgress).ToString())" />
            </div>
        </form>
    </div>
</div>
@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            Survey_SaveObject.Init({
                ObjectId: 'SurveySave',
            });
        });
    </script>
}

