@model DocumentManagement.Models.Customer.UpserCustomerModel

<div class="DMMenuCustomer">
    <ul>
        @if (HttpContext.Current.Request.RawUrl.ToString().Contains("/Customer/UpsertCustomer"))
        {
            <li class="selected">
                <a href="@Url.Action(MVC.Customer.ActionNames.UpsertCustomer, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Información básica</a>
            </li>
            <li class="triangulo">
            </li>
            <li>
                <a href="@Url.Action(MVC.Customer.ActionNames.UploadProvider, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Cargar proveedores</a>
            </li>
            <li>
                <a href="@Url.Action(MVC.Customer.ActionNames.ListForm, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Formularios</a>
            </li>
        }
        else if (HttpContext.Current.Request.RawUrl.ToString().Contains("/Customer/UploadProvider"))
        {
            <li>
                <a href="@Url.Action(MVC.Customer.ActionNames.UpsertCustomer, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Información básica</a>
            </li>
            <li class="selected">
                <a href="@Url.Action(MVC.Customer.ActionNames.UploadProvider, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Cargar proveedores</a>
            </li>
            <li class="triangulo">
            </li>
            <li>
                <a href="@Url.Action(MVC.Customer.ActionNames.ListForm, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Formularios</a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action(MVC.Customer.ActionNames.UpsertCustomer, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Información básica</a>
            </li>
            <li>
                <a href="@Url.Action(MVC.Customer.ActionNames.UploadProvider, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Cargar proveedores</a>
            </li>
            <li class="selected">
                <a href="@Url.Action(MVC.Customer.ActionNames.ListForm, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId })">Formularios</a>
            </li>
            <li class="triangulo">
            </li>
        }
    </ul>
</div>
