@if (HttpContext.Current.Request.RawUrl.ToString().Contains("/Customer"))
{
    <ul class="MenuButtons MenuCustomer">
        <li class="MenuButtons_Provider">
            <a href="@Url.Action(MVC.Provider.ActionNames.Index,MVC.Provider.Name)">Proveedores</a>
        </li>
        <li class="MenuButtons_Customer selected">
            <a href="@Url.Action(MVC.Customer.ActionNames.ListCustomer, MVC.Customer.Name)">Compradores</a>
        </li>
        @if (DocumentManagement.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Select(x => x.Role).First() == SessionManager.Models.Auth.enumRole.SystemAdministrator)
        {
            <li class="MenuButtons_BO">
                <a href="https://localhost:44305/AdminRoles/Index" target="_blank">Administrar Usuarios</a>
            </li>
        }
        @*<li class="MenuButtons_BO">
                <a href="">Ir a Backoffice</a>
            </li>*@
    </ul>
}
else if (HttpContext.Current.Request.RawUrl.ToString().Contains("/Provider"))
{
    <ul class="MenuButtons MenuProvider">
        <li class="MenuButtons_Provider selected">
            <a href="@Url.Action(MVC.Provider.ActionNames.Index,MVC.Provider.Name)">Proveedores</a>
        </li>
        <li class="MenuButtons_Customer">
            <a href="@Url.Action(MVC.Customer.ActionNames.ListCustomer, MVC.Customer.Name)">Compradores</a>
        </li>
        @if (DocumentManagement.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Select(x => x.Role).First() == SessionManager.Models.Auth.enumRole.SystemAdministrator)
        {
            <li class="MenuButtons_BO">
                <a href="https://localhost:44305/AdminRoles/Index" target="_blank">Administrar Usuarios</a>
            </li>
        }
        @*<li class="MenuButtons_BO">
                <a href="">Ir a Backoffice</a>
            </li>*@
    </ul>
}
else
{
    <ul class="MenuButtons MenuAdminRoles">
        <li class="MenuButtons_Provider">
            <a href="@Url.Action(MVC.Provider.ActionNames.Index,MVC.Provider.Name)">Proveedores</a>
        </li>
        <li class="MenuButtons_Customer">
            <a href="@Url.Action(MVC.Customer.ActionNames.ListCustomer, MVC.Customer.Name)">Compradores</a>
        </li>
        @if (DocumentManagement.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Select(x => x.Role).First() == SessionManager.Models.Auth.enumRole.SystemAdministrator)
        {
            <li class="MenuButtons_AdminRoles selected">
                <a href="https://localhost:44305/AdminRoles/Index" target="_blank">Administrar Usuarios</a>
            </li>
        }
        @*<li class="MenuButtons_BO">
                <a href="">Ir a Backoffice</a>
            </li>*@
    </ul>
}