@model DocumentManagement.Models.Provider.ProviderFieldModel
@{
    //get value and id
    string strId = Model.FieldType + "-" + Model.RealtedField.FieldId + "-";
    string strValue = string.Empty;
    if (Model.RealtedProviderInfo != null && Model.RealtedProviderInfo.Count > 0)
    {
        strId += Model.RealtedProviderInfo.FirstOrDefault().ProviderInfoId.ToString();
        strValue = Model.RealtedProviderInfo.FirstOrDefault().Value;
    }
}
@if (!Model.RenderScripts)
{
    <div>
        <!--Text field-->
        @if (Model.RealtedField.IsRequired)
        {
            <span class="ItemLeftPosition">*</span>
        }
        <div class="ItemLeftPosition"><label>@Model.RealtedField.Name:</label></div>
        @if (Model.IsModified)
        {
            <div class="ItemLeftPosition"><input type="text" id="@strId" name="@strId" value="@strValue" style="border-color:red" /></div>
            <div class="CheckBox_Position"><input type="checkbox" class="CheckBox_size" name="Sync_@strId" /></div>
        }
        else
        {
            <div class="ItemLeftPosition"><input type="text" id="@strId" name="@strId" value="@strValue"/></div>
        }
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            PF_ValidateFormObject.AddRule({
                idDiv: '@(strId)',
                Required: @(Model.RealtedField.IsRequired.ToString().ToLower()),
                Type:'text'
            });
        });
    </script>
}

