@model DocumentManagement.Models.Provider.ProviderFieldModel

@{
    //get grid id
    string strId = Model.FieldType + "-" + Model.RealtedField.FieldId;
    string IsModified = Model.IsModified.ToString();
    string oProviderPublicId = Model.ProviderPublicId;
}

@if (!Model.RenderScripts)
{
    <div>
        <!--Multiple file name-->
        @if (Model.RealtedField.IsRequired)
        {
            <span class="ItemLeftPosition">*</span>
        }
        <label class="ItemLeftPosition labelMultipleFiles">@Model.RealtedField.Name:</label>
        <div    id="@strId"></div>
    </div>

    <div style="display:none;">
        <input type="hidden" name="@(strId)-" id="@(strId)-" />
    </div>

    <!--Dialog-->
    <div id="dialog" style="display:none;">
        <!--dialog delete-->
        <div id="@(strId)_Delete" title="Edición de @Model.RealtedField.Name">
            <div>Esta seguro de borrar @Model.RealtedField.Name</div>
        </div>
        <!--dialog create-->
        <div id="@(strId)_Create" style="display:none;">
            <pform id="@(strId)_Form" method="post" enctype="multipart/form-data">
                <ul>
                    <li>
                        <label>Nombre</label>
                    </li>
                    <li>
                        <input type="text" tabindex="1" name="@(strId)--Name" id="@(strId)--Name" />
                    </li>
                    <li>
                        <input type="file" tabindex="2" name="@(strId)--File" value="" />
                    </li>
                    @if (DocumentManagement.Models.General.SessionModel.CurrentLoginUser != null)
                    {
                        <li>
                            <input style="display:none" type="text" id="@(Model.ProviderPublicId)_ProviderPublicId" />
                        </li>
                    }
                </ul>
            </pform>
        </div>
    </div>
}
else
{
    List<DocumentManagement.Provider.Models.Provider.ChangesControlModel> oCurrentChanges = new List<DocumentManagement.Provider.Models.Provider.ChangesControlModel>();
    oCurrentChanges = DocumentManagement.Provider.Controller.Provider.ChangesControlGetByProviderPublicId(Model.ProviderPublicId);
    string oGridData = string.Empty;
    if (Model.RealtedProviderInfo != null)
    {
        oGridData = (new System.Web.Script.Serialization.JavaScriptSerializer()).
            Serialize(Model.RealtedProviderInfo.
            Select(
                x => new DocumentManagement.Models.Provider.ProviderMultipleFileModel(x.LargeValue, x.ProviderInfoId.ToString(), oCurrentChanges.Any(y => y.ProviderInfoId == x.ProviderInfoId &&
                                    DocumentManagement.Models.General.SessionModel.CurrentLoginUser != null) ? true : false, x.ProviderInfoType.ItemId)).
                                    Where(x => x.IsDelete == false).ToList());
    }

    string oAcData = "[]";
    if (Model.ProviderOptions.ContainsKey(Model.RealtedField.ProviderInfoType.ItemId))
    {
        oAcData = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(
            Model.
            ProviderOptions[Model.RealtedField.ProviderInfoType.ItemId].
            Select(x => x.ItemName).ToList());
    }
    string IsModifiedFile = Model.IsModified == true ? "red":"black";

    <script type="text/javascript">
    var vGridData = @(Html.Raw(oGridData));
    var vACData = @(Html.Raw(oAcData));

    $(document).ready(function () {
        //Start grid
        PF_MultipleFileObject.Init({
            DivId: '@strId',
            MultipleData: vGridData,
            ACData: vACData,
            IsModified: '@Model.IsModified',
            ProviderPublicId:'@oProviderPublicId',
            });
            PF_MultipleFileObject.RenderAsync();
        });
    </script>
}
