@model DocumentManagement.Models.Provider.ProviderFormModel

@if (!Model.RenderScripts)
{
    <ul>
        @foreach (var Item in Model.RealtedForm.RelatedStep.OrderBy(x => x.Position))
        {
            if (Item.StepId == Model.RealtedStep.StepId)
            {
                <li class="MenuSelected">
                    <a href="@(Url.Action(MVC.ProviderForm.ActionNames.Index,
                        MVC.ProviderForm.Name,
                        new
                        {
                            ProviderPublicId = Model.RealtedProvider.ProviderPublicId,
                            FormPublicId = Model.RealtedForm.FormPublicId,
                            StepId = Item.StepId
                        }))">@Item.Name</a>
                    </li>
            }
            else
            {
                <li>
                    <a href="@(Url.Action(MVC.ProviderForm.ActionNames.Index,
                        MVC.ProviderForm.Name,
                        new
                        {
                            ProviderPublicId = Model.RealtedProvider.ProviderPublicId,
                            FormPublicId = Model.RealtedForm.FormPublicId,
                            StepId = Item.StepId
                        }))">@Item.Name</a>
                    </li>
            }

        }

        @if (DocumentManagement.Models.General.SessionModel.UserIsLoggedIn &&
            DocumentManagement.Models.General.SessionModel.UserIsAutorized &&
            DocumentManagement.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.
                Any(x => x.Application == SessionManager.Models.Auth.enumApplication.DocumentManagement))
        {
            <li>
                <a href="@(Url.Action(MVC.ProviderForm.ActionNames.Index,
                        MVC.ProviderForm.Name,
                        new
                        {
                            ProviderPublicId = Model.RealtedProvider.ProviderPublicId,
                            FormPublicId = Model.RealtedForm.FormPublicId,
                        }))">Administrar proveedor</a>
            </li>
        }
    </ul>
}
