@model MarketPlace.Models.Project.ProjectViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Proceso de selección";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
<div>
    <!--Header project-->
    <div>
        @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)
    </div>
    <!--Providers Project-->
    <div>
        @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Provider_Result, Model)
    </div>
</div>
@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Provider_Result, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            //init project detail object
            Project_ProjectDetailObject.Init({
                ObjectId: 'ProjectDetail',
                ProjectPublicId: '@Model.ProjectPublicId',
                CustomEconomicActivity: '@MarketPlace.Models.General.SessionModel.CurrentCompany_CustomEconomicActivity',
                ProjectUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Project.Name,
                                action = MVC.Project.ActionNames.ProjectDetailRecalculate
                            }) + "?ProjectPublicId=" + Model.ProjectPublicId)',
            });

            Project_ProjectDetailObject.RenderAsync();
        });
    </script>
}

