@model MarketPlace.Models.Project.ProjectViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Proceso de selección";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
    
    MarketPlace.Models.Survey.SurveyProgramModel oSurveyModel = new MarketPlace.Models.Survey.SurveyProgramModel()
    {
        RenderScripts = false,
        CurrentProject = Model,
    };
}
<div>
    <!--Header project-->
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)
    <!--Providers Project-->
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Provider_Result, Model)
</div>

<div style="display:none;">
    <!--Survey-->
    @Html.Partial(MVC.Desktop.Shared.Views._SV_ProgramSurvey, oSurveyModel)
</div>

@{
    Model.RenderScripts = true;
    oSurveyModel.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Provider_Result, Model)
    @Html.Partial(MVC.Desktop.Shared.Views._SV_ProgramSurvey, oSurveyModel)


    <script type="text/javascript">
        $(document).ready(function () {
            //init project detail object
            Project_ProjectDetailObject.Init({
                ObjectId: 'ProjectDetail',
                ProjectPublicId: '@Model.ProjectPublicId',
                CustomEconomicActivity: '@MarketPlace.Models.General.SessionModel.CurrentCompany_CustomEconomicActivity',
                ProjectRecalculateUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Project.Name,
                                action = MVC.Project.ActionNames.ProjectDetailRecalculate
                            }) + "?ProjectPublicId=" + Model.ProjectPublicId)',
                ProjectDetailUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Project.Name,
                                action = MVC.Project.ActionNames.ProjectDetail
                            }) + "?ProjectPublicId=" + Model.ProjectPublicId)',
            });

            Project_ProjectDetailObject.RenderAsync();
        });
    </script>
}

