@model MarketPlace.Models.Project.ProjectViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Proceso de selección";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;

    MarketPlace.Models.Survey.SurveyProgramModel oSurveyModel = new MarketPlace.Models.Survey.SurveyProgramModel()
    {
        RenderScripts = false,
        CurrentProject = Model,
    };
}
<div>
    <!--Header project-->
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)
    <!--Providers Project-->

    <div class="POMPEvalTitle">
        <div class="col-xs-12">
            <br />
                <div class="POMPDownloadReportsTop">
                    <form action="@(Url.Action
                    (MVC.Project.ActionNames.ProjectDetail,
                    MVC.Project.Name,
                    new
                    {
                        ProjectPublicId = Model.ProjectPublicId
                    }))" method="post">
                        <button id="POMPButtonDownloadReportsTop" type="submit" title="Descargar Reporte">Descargar Reporte</button>

                        @{
                            if (Model.ProjectReportModel != null)
                            {
                                <input type="hidden" name="ReportFileName" value="@Model.ProjectReportModel.FileName" />
                                <input type="hidden" name="ReportMimeType" value="@Model.ProjectReportModel.MimeType" />
                                <input type="hidden" name="ReportArray" value="@Convert.ToBase64String(Model.ProjectReportModel.File)" />
                                <input type="hidden" name="DownloadReport" value="true" />
                            }
                        }
                    </form>
                </div>
        </div>
    </div>

    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Provider_Result, Model)
</div>

<div style="display:none;">
    <!--Survey-->
    @Html.Partial(MVC.Desktop.Shared.Views._SV_ProgramSurvey, oSurveyModel)

    @if (Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.Open ||
        Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.OpenRefusal)
    {
        <div id="ProjectDetail_RequestApprovalDialog" title="Solicitar aprobación">
            <p>Al solicitar aprobación sobre el proveedor el proceso de selección será cerrado hasta recibir respuesta de los diferentes aprobadores, está seguro que desea realizar esta acción?</p>
        </div>
    }
</div>

@{
    Model.RenderScripts = true;
    oSurveyModel.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)
    @Html.Partial(MVC.Desktop.Shared.Views._SV_ProgramSurvey, oSurveyModel)


    <script type="text/javascript">
        $(document).ready(function () {
            //init project detail object
            Project_ProjectDetailObject.Init({
                ObjectId: 'ProjectDetail',
                ProjectPublicId: '@Model.ProjectPublicId',
                CustomEconomicActivity: '@MarketPlace.Models.General.SessionModel.CurrentCompany_CustomEconomicActivity',
                ProjectRecalculateUrl: '@(Html.Raw(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Project.Name,
                                action = MVC.Project.ActionNames.ProjectDetailRecalculate,
                                ProjectPublicId = Model.ProjectPublicId,
                            })))',
                ProjectDetailUrl: '@(Html.Raw(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Project.Name,
                                action = MVC.Project.ActionNames.ProjectDetail,
                                ProjectPublicId = Model.ProjectPublicId,
                            })))',
            });

            Project_ProjectDetailObject.RenderAsync();
        });
    </script>
}

