@model MarketPlace.Models.Project.ProjectViewModel

@{
    ViewBag.Title = "Proveedores OnLine - Proceso de selección";
    Layout = MVC.Desktop.Shared.Views._Layout;
}
<div>
    <!--Header project-->
    <div>
        @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)
    </div>
    <div>
        <div>
            <!--Provider Menu-->
            @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectProviderDetail_Menu, Model)
        </div>
        <div>
            <!--Approval actions-->

            <!--Provider Results-->
            @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectProviderDetail_Results, Model)

            <!--Provider preview values-->
            @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectProviderDetail_ResultsDetail, Model)
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Header, Model)

    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

