@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Consulta Individual";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Mis Consultas</label>
        <div class="container-fluid POMPContainerDetail">
            <div class="row text-center">
                @if (
                            Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult != null &&
                            Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.Count > 0 &&
                            Model.RelatedThidKnowledgeSearch.InitDate.ToString("dd/MM/yyyy") != "01/01/0001" &&
                            Model.RelatedThidKnowledgeSearch.EndDate.ToString("dd/MM/yyyy") != "01/01/0001")
                {
                    var InitDate = Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd");
                    var EndDate = Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd");
                    <div class="col-sm-3 text-right POMPTKDateInit">
                        <span>Desde:</span>
                        <input type="date" name="ThirdKnoledge_InitDate" id="ThirdKnowledge_InitDateId" value="@InitDate" />
                    </div>
                    <div class="col-sm-1 POMPTKtoText">

                    </div>
                    <div class="col-sm-3 text-left POMPTKDateEnd">
                        <span>Hasta:</span>
                        <input type="date" name="ThirdKnowledge_EndDate" id="ThirdKnowledge_EndDateId" value="@EndDate" />
                    </div>
                }
                else
                {
                    
                    string initDate = "";
                    string endDate = "";
                    if (Request.Params["InitDate"] != null)
                    {
                        initDate = Request.Params["InitDate"];
                    }
                    if (Request.Params["EndDate"] != null)
                    {
                        endDate = Request.Params["EndDate"];
                    }

                    <div class="col-sm-3 POMPTKDateInit">
                        <span>Desde:</span>
                        <input type="date" name="ThirdKnoledge_InitDate" id="ThirdKnowledge_InitDateId" class="filtrarFecha" value="@initDate" />
                    </div>
                    <div class="col-sm-3 POMPTKDateEnd">
                        <span>Hasta:</span>
                        <input type="date" name="ThirdKnowledge_EndDate" id="ThirdKnowledge_EndDateId" class="filtrarFecha" value="@endDate" />
                    </div>
                }
                @*genero por request*@
                @{
                    string selected_masive = "";
                    string selected_single = "";
                    if (Request.Params["SearchType"] != null)
                    {
                        switch (Request.Params["SearchType"])
                        {
                            case "201001":
                                selected_single = "selected";
                                break;
                            case "201002":
                                selected_masive = "selected";
                                break;
                        }
                    }
                    <div class="col-sm-2 POMPTKCmbType">
                        <span>Tipo:</span>
                        <select id="ThirdKnowledge_QueryType" class="orderInput">
                            <option value="@((int)MarketPlace.Models.General.enumThirdKnowledgeQueryType.Simple)" @selected_single>Individual</option>
                            <option value="@((int)MarketPlace.Models.General.enumThirdKnowledgeQueryType.Masive)" @selected_masive>Masiva</option>

                        </select>
                    </div>
                    if (Request.Params["Status"] != null)
                    {
                        switch (Request.Params["Status"])
                        {
                            case "501001":
                                selected_single = "selected";
                                break;
                            case "501002":
                                selected_masive = "selected";
                                break;
                        }
                    }
                    <div class="col-sm-3 POMPTKCmbStatus">
                        <span>Estado:</span>
                        <select id="ThirdKnowledge_QueryStatus" class="orderInput">
                            <option value="@((int)MarketPlace.Models.General.enumThirdKnowledgeQueryStatus.Finalized)" @selected_single>Finalizada</option>
                            <option value="@((int)MarketPlace.Models.General.enumThirdKnowledgeQueryStatus.InProcess)" @selected_masive>En Proceso</option>
                        </select>
                    </div>
                }
                <div class="col-sm-2 POMPTKSButtonPosition">
                    <input class="POMPButtons POMPTKSearchButton" type="button" name="ThirdKnowledge_Filter" id="ThirdKnowledge_FilterId" value="Filtrar" />
                </div>
            </div>
            <div class="row text-left POMPSearchResultsPager">
                <!--Pager-->
                @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Pager, Model.RelatedThidKnowledgeSearch)
            </div>
            <br />
            @Html.Partial(MVC.Desktop.Shared.Views._TK_Search_Result_Item, Model)
            <br />
            <div class="row text-left POMPSearchResultsPager">
                <!--Pager-->
                @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Pager, Model.RelatedThidKnowledgeSearch)
            </div>
        </div>
    </div>
</div>

@*Templates*@
<div id="loading"></div>


@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            Third_KnowledgeSearchObject.Init({
                ObjectId: 'ThirdKnowledge',
                SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.ThirdKnowledge.Name,
                                action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeSearch
                            }))',
            });

            Third_KnowledgeSearchObject.RenderAsync();
        });
    </script>
}