@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Consulta Individual";
    Layout = MVC.Desktop.Shared.Views._Layout;
    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información Detallada</label>
        <div class="container-fluid POMPContainerDetail">
            <br />
            @if (Model.RelatedThidKnowledgeSearch != null &&
                    Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult != null &&
                    Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.Count > 0)
            {
                foreach (var item in Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult)
                {
                    <div class="col-xs-12 POMPDetailTitle">
                        <div class="col-xs-8">
                            <p>Tipo de consulta:&nbsp;<span class="ThirdKnowledge_FilterDetail">@item.SearchType.ItemName</span></p>
                            <p>Realizada por:&nbsp;<span class="ThirdKnowledge_FilterDetail">@item.User</span></p>
                            <p class="ThirdKnowledge_marginBottom">Fecha:&nbsp;<span class="ThirdKnowledge_FilterDetail">@item.CreateDate.AddHours(-5)</span></p>
                        </div>
                        <div class="col-xs-4 text-center ThirdKnowledge_ListDetail">
                            <div class="row text-center">
                                <form id="frmThirdKnowledgeUpsert"
                                      method="post"
                                      action="@(Url.Action
                                                    (MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeDetail,
                                                    MVC.ThirdKnowledge.Name,
                                                    new
                                                    {
                                                        QueryPublicId = Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.Where(x => x.QueryPublicId != null).Select(x => x.QueryPublicId).DefaultIfEmpty(string.Empty).FirstOrDefault(),
                                                        InitDate = Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd"),
                                                        EndDate = Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd"),
                                                    }))">
                                    <button id="POMPButtonDownloadReports" type="submit" title="Descargar Reporte">Descargar Reporte</button>
                                    <input type="hidden" name="DownloadReport" value="true" />
                                </form>
                            </div>
                            <div class="row text-center ThirdKnowledge_GoBack">
                                @*Return Buttom*@
                                @if (!string.IsNullOrEmpty(Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd")) && Model.RelatedThidKnowledgeSearch.InitDate.ToString("dd/MM/yyyy") != "01/01/0001" &&
                            !string.IsNullOrEmpty(Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd")) && Model.RelatedThidKnowledgeSearch.EndDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                {
                                    <a href="@(Url.RouteUrl
                                                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                    new
                                                    {
                                                        controller = MVC.ThirdKnowledge.Name,
                                                        action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeSearch,
                                                        InitDate = Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd"),
                                                        EndDate = Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd"),
                                                        }))">Regresar a la búsqueda</a>
                                }
                                else
                                {
                                    <a href="@(Url.RouteUrl
                                                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                        new
                                                        {
                                                        controller = MVC.ThirdKnowledge.Name,
                                                        action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeSearch,
                                                        }))">Regresar a la búsqueda</a>
                                }
                            </div>
                        </div>

                    </div>
                }
            }
            @*Partial*@
            @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeDetail, Model)
        </div>
    </div>
    <div class="row POMPPoweredby">
        <div class="col-ms-12 text-right">
            <label class="POMPPoweredby-font">Powered by Risk Consulting</label>
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}
@{
    var QueryPublicId = Model.RelatedThidKnowledgeSearch != null ? Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.FirstOrDefault().QueryPublicId : string.Empty;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            Third_KnowledgeDetailSearch.Init({
                ObjectId: 'ThirdKnowledge',
            QueryPublicId: '@QueryPublicId',
                SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                                {
                                    controller = MVC.ThirdKnowledge.Name,
                                    action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeDetail
                                }))',
            });
        });
    </script>
}