@model MarketPlace.Models.Compare.CompareDetailViewModel

@if (Model.CompareMenu != null &&
    Model.CompareMenu.Count > 0)
{
    if (!Model.RenderScripts)
    {
        <div class="POMPProviderSideMenu">
            <div class="POMPComparisonGoBackWrapper">                
                <a href="@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.Search,
                                CompareId = Model.RelatedCompare.CompareId,
                            }))">
                 <div></div>Regresar a la busqueda
                </a>
            </div>
            <ul id="ulCompareMenu">
                @foreach (MarketPlace.Models.General.GenericMenu pm in Model.CompareMenu.OrderBy(x => x.Position))
                {
                    string strSeleClass = string.Empty;
                    if (pm.IsSelected)
                    {
                        strSeleClass = "principalmenuselected";
                    }

                    <li class="@strSeleClass">
                        <label>@pm.Name</label>
                        <ul class="POMPProviderSideSubMenu">
                            @foreach (MarketPlace.Models.General.GenericMenu sm in pm.ChildMenu.OrderBy(x => x.Position))
                            {
                                strSeleClass = string.Empty;
                                if (sm.IsSelected)
                                {
                                    strSeleClass = "secundarymenuselected";
                                }
                                <li class="@strSeleClass">
                                    <a href="@sm.Url">@sm.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function () {
                Compare_InitMenu({
                    ObjId: 'ulCompareMenu',
                    active: @(Model.CompareMenu.Where(x => x.IsSelected).Select(x => x.Position).DefaultIfEmpty(0).FirstOrDefault()),
                });
            });
        </script>
    }
}

