@if (MarketPlace.Models.General.SessionModel.UserIsLoggedIn &&
    MarketPlace.Models.General.SessionModel.IsUserAuthorized())
{
    //get company logo
    string strCompanyLogo = MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyInfo.
        Where(x => x.ItemInfoType.ItemId == (int)MarketPlace.Models.General.enumCompanyInfoType.CompanyLogo && !string.IsNullOrEmpty(x.Value)).
        Select(x => x.Value).
        DefaultIfEmpty(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Company_DefaultLogoUrl].Value).
        FirstOrDefault();

    //get user logo
    string strUserLogo = MarketPlace.Models.General.SessionModel.CurrentLoginUser.RelatedUserInfo.
        Where(x => x.UserInfoType == SessionManager.Models.Auth.enumUserInfoType.ProfileImage && !string.IsNullOrEmpty(x.Value)).
        Select(x => x.Value).
        DefaultIfEmpty(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Login_DefaultUserUrl].Value).
        FirstOrDefault();

    //get header menu
    List<MarketPlace.Models.General.GenericMenu> oHeaderMenu = (ViewContext.Controller as MarketPlace.Web.Controllers.BaseController).GetHeaderMenu();

    
    <div class="POMPHeaderWrapper">
        <!--Company Logo-->
        <img class="POMPLogo" src="@strCompanyLogo" />
        
        <div class="POMPMenusGrandWrapper">
            <!--User options-->
            <div class="POMPUserMenu" onclick="javascript: Header_ShowHideUserMenu('divHeader_UserMenu');">
                <img src="@strUserLogo" />
                <label><span>Bienvenido: </span>@MarketPlace.Models.General.SessionModel.CurrentLoginUser.Name</label>
            </div>

            <!-- AQUI ESTA EL MENU PRINCIPAL -->
            <div class="POMPUserMenuOptions" id="divHeader_UserMenu" style="display:none;">
                <ul>
                    <li>
                        <a href="@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                                    new
                                    {
                                        controller = MVC.Home.Name,
                                        action = MVC.Home.ActionNames.LogOutUser
                                    }))">Salir</a>
                    </li>
                </ul>
            </div>
            <!--Header menu-->
            <ul class="POMPMainMenuWrapper">
                                @foreach (MarketPlace.Models.General.GenericMenu oMenuItem in oHeaderMenu.OrderBy(x => x.Position))
                {
                    string strSelectedClass = string.Empty;
                    if (oMenuItem.IsSelected)
                    {
                        strSelectedClass = "selected";
                    }
                    
                    <li class="spacers"></li>
                    <li class="@strSelectedClass">
                        <a href="@oMenuItem.Url">
                            @oMenuItem.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}