@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Básica";
    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@



<label class="POMPSectionTitles">Listas Restrictivas</label>
<div class="container-fluid">

    @*AQUI ESTA EL AREA DE LISTAS RESTRICTIVAS*@
    @if (Model.RelatedBlackListInfo != null && Model.RelatedBlackListInfo.Count > 0)
    {
        var maxDate = (from d in Model.RelatedBlackListInfo select d.CreateDate).Max();

        if (Model.RelatedBlackListInfo != null && Model.RelatedLiteProvider.ProviderAlertRisk != MarketPlace.Models.General.enumBlackListStatus.DontShowAlert)
        {
            <div class="row POMPSectionTitlesBox">
                <div class="col-sm-6 col-lg-6 text-left">
                    <label>Consulta Listas Restrictivas - Última Validación @Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203012).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault() </label>
                </div>
                <div class="col-sm-6 col-lg-6 text-right">
                    <form id="frmThirdKnowledgeUpsert"
                          method="post"
                          action="@(Url.Action
                                                                    (MVC.Provider.ActionNames.GIBlackList,
                                                                    MVC.Provider.Name,
                                                                    new
                                                                    {
                                                                        ProviderPublicId = Request["ProviderPublicId"],
                                                                    }))">
                        <button class="POMPButtonDownloadReport_Provider" type="submit" title="Descargar Reporte">Descargar Reporte</button>
                        <input type="hidden" name="DownloadReport" value="true" />
                    </form>
                </div>
            </div>
            <div class="container-fluid POMPContainerDetail">
                @{
            List<ProveedoresOnLine.CompanyProvider.Models.Provider.BlackListModel> ShowAlertModel = Model.RelatedBlackListInfo.Where(x => x.BlackListStatus.ItemId == 1101001).Select(x => x).ToList();
            List<string> oGroupListName = new List<string>();
            foreach (var alert in ShowAlertModel)
            {
                oGroupListName.Add(alert.BlackListInfo.Where(x => x.ItemInfoType.ItemName == "Nombre del Grupo").Select(x => x.Value).FirstOrDefault());
            }
            oGroupListName = oGroupListName.GroupBy(x => x).Select(x => x.First()).ToList();

            /*get company info*/
            List<string> oOrderGroup = new List<string>();

            oOrderGroup.Add(oGroupListName.Where(x => x == "LISTAS RESTRICTIVAS - Criticidad Alta").Select(x => x).FirstOrDefault());
            oOrderGroup.Add(oGroupListName.Where(x => x == "DELITOS E INHABILIDADES CONTRA EL ESTADO - Criticidad Media").Select(x => x).FirstOrDefault());
            oOrderGroup.Add(oGroupListName.Where(x => x == "LISTAS FINANCIERAS - Criticidad Media").Select(x => x).FirstOrDefault());
            oOrderGroup.Add(oGroupListName.Where(x => x == "LISTAS PEPS - Criticidad Baja").Select(x => x).FirstOrDefault());
            oOrderGroup.Add(oGroupListName.Where(x => x == "SIN COINCIDENCIAS").Select(x => x).FirstOrDefault());

            foreach (var grp in oOrderGroup)
            {
                List<ProveedoresOnLine.CompanyProvider.Models.Provider.BlackListModel> oInfoToPrint = new List<ProveedoresOnLine.CompanyProvider.Models.Provider.BlackListModel>();

                oInfoToPrint = ShowAlertModel.Where(x => x.BlackListInfo.Any(a => a.Value == grp)).Select(x => x).ToList();

                <div>@grp</div>
                foreach (var item in oInfoToPrint)
                {
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Prioridad</strong>
                        </div>
                        <div class="col-md-3">
                            <strong>Estado</strong>
                        </div>
                        <div class="col-md-3">
                            <strong>Nombre</strong>
                        </div>
                        <div class="col-md-3">
                            <strong>Identificación</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>@item.BlackListInfo.Where(x => x.ItemInfoType.ItemName == "Prioridad").Select(x => x.Value).DefaultIfEmpty("N/D").FirstOrDefault()</span>
                        </div>
                        <div class="col-md-3">
                            @{
                    string enable = item.BlackListInfo.Where(x => x.ItemInfoType.ItemName == "Estado").Select(x => x.Value).DefaultIfEmpty("N/D").FirstOrDefault().ToLower() == "true" ? "Activo" : "Inactivo";
                            }
                            <span>@enable</span>
                        </div>
                        <div class="col-md-3">
                            <span>@item.BlackListInfo.Where(x => x.ItemInfoType.ItemName == "Nombre Consultado").Select(x => x.Value).DefaultIfEmpty("N/D").FirstOrDefault()</span>
                        </div>
                        <div class="col-md-3">
                            <span>@item.BlackListInfo.Where(x => x.ItemInfoType.ItemName == "Identificacion Consultada").Select(x => x.Value).DefaultIfEmpty("N/D").FirstOrDefault()</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Alias</strong>
                        </div>
                        <div class="col-md-3">
                            <strong> Nombre del Grupo</strong>
                        </div>
                        <div class="col-md-3">
                            <strong></strong>
                        </div>
                        <div class="col-md-3">
                            <strong></strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>@item.BlackListInfo.Where(x => x.ItemInfoType.ItemName == "Alias").Select(x => x.Value).DefaultIfEmpty("N/D").FirstOrDefault()</span>
                        </div>
                        <div class="col-md-3">
                            <span>@item.BlackListInfo.Where(x => x.ItemInfoType.ItemName == "Nombre del Grupo").Select(x => x.Value).DefaultIfEmpty("N/D").FirstOrDefault()</span>
                        </div>
                        <div class="col-md-3">
                            <span></span>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <a href="@(Url.RouteUrl
                                                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                        new
                                                        {
                                                            controller = MVC.Provider.Name,
                                                            action = MVC.Provider.ActionNames.GIBlackListDetail,
                                                            ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
                                                            ReturnUrl = Url.Action
                                                                    (MVC.Provider.ActionNames.GIBlackListDetail,
                                                                    MVC.Provider.Name,
                                                                    new
                                                                    {
                                                                        ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
                                                                    })
                                                            }))">Ver Detalle</a>
                            </p>
                        </div>
                    </div>
                    <br />
                    <hr class="POMPProviderRestrictiveLIstSeparator" />
                }

            }
                }

            </div>
        }
        else
        {
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                    <label>Consulta Listas Restrictivas - Última Validación @Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203012).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()</label><p>No se encontraron coincidencias en listas restrictivas.</p>
                </div>
            </div>
        }

    }
</div>


@{
    Model.RenderScripts = true;
}

@section inlinescripts
{


    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}