@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    //get custom economic activity tree name
    string strCustomEconomicActivity = string.Empty;

    if (MarketPlace.Models.General.SessionModel.CurrentCompany != null &&
        MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyInfo != null)
    {
        strCustomEconomicActivity = MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyInfo.
            Where(x => x.ItemInfoType.ItemId == (int)MarketPlace.Models.General.enumCompanyInfoType.CustomEconomicActivity).
            Select(x => x.ValueName).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();
    }

    //group economic acitiviy
    List<MarketPlace.Models.General.EconomicActivityViewModel> oDefaultActivityGorup =
        new List<MarketPlace.Models.General.EconomicActivityViewModel>();

    List<MarketPlace.Models.General.EconomicActivityViewModel> oCustomActivityGorup =
        new List<MarketPlace.Models.General.EconomicActivityViewModel>();

    if (Model.RelatedComercialInfo != null)
    {
        Model.RelatedComercialInfo.All(rci =>
        {
            if (rci.EX_EconomicActivity != null && rci.EX_EconomicActivity.Count > 0)
            {
                rci.EX_EconomicActivity.All(ea =>
                {
                    if (!oDefaultActivityGorup.Any(x => x.EconomicActivityId == ea.EconomicActivityId))
                    {
                        oDefaultActivityGorup.Add(ea);
                    }
                    return true;
                });
            }

            if (rci.EX_CustomEconomicActivity != null && rci.EX_CustomEconomicActivity.Count > 0)
            {
                rci.EX_CustomEconomicActivity.All(ea =>
                {
                    if (!oCustomActivityGorup.Any(x => x.EconomicActivityId == ea.EconomicActivityId))
                    {
                        oCustomActivityGorup.Add(ea);
                    }
                    return true;
                });
            }
            return true;
        });
    }

    <label class="POMPSectionTitles">Experiencias</label>
    <div class="container-fluid">
        @foreach (MarketPlace.Models.General.EconomicActivityViewModel dea in oDefaultActivityGorup.OrderBy(x => x.ActivityName))
        {
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <span>@dea.ActivityName</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                @foreach (var item in Model.RelatedComercialInfo.Where(x => x.EX_EconomicActivity.Any(ea => ea.EconomicActivityId == dea.EconomicActivityId)))
                {
                    <div class="col-xs-12">
                        <div class="col-xs-12" id="POMPSeparator">
                            <span>@item.EX_ContractType para @item.EX_Client</span>
                        </div>
                    </div>
                    if (!string.IsNullOrEmpty(item.EX_DateIssue))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Fecha Inicial</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_DateIssue</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_DueDate))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Fecha Final</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_DueDate</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ContractNumber))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Número de Contacto</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_ContractNumber</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ContractValue))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Valor del Contrato</label>
                            </div>
                            <div class="col-xs-12">
                                <span>$ @item.EX_ContractValue @item.EX_Currency</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_Phone))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Teléfono</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_Phone</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ExperienceFile))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Archivo de Experiencia</label>
                            </div>
                            <div class="col-xs-12">
                                <a class="POMPProviderDocumetIcon" target="_blank" href="@item.EX_ExperienceFile">Ver Archivo de Soporte</a>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ContractSubject))
                    {
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <label>Objeto del Contrato</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_ContractSubject</span>
                            </div>
                        </div>
                    }

                }
            </div>

        }
        @foreach (MarketPlace.Models.General.EconomicActivityViewModel cea in oCustomActivityGorup.OrderBy(x => x.ActivityName))
        {
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <span>@strCustomEconomicActivity - @cea.ActivityName</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                @foreach (var item in Model.RelatedComercialInfo.Where(x => x.EX_CustomEconomicActivity.Any(ea => ea.EconomicActivityId == cea.EconomicActivityId)))
                {
                    <div class="col-xs-12">
                        <div class="col-xs-12" id="POMPSeparator">
                            <span>@item.EX_ContractType para @item.EX_Client</span>
                        </div>
                    </div>
                    if (!string.IsNullOrEmpty(item.EX_DateIssue))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Fecha Inicial</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_DateIssue</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_DueDate))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Fecha Final</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_DueDate</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ContractNumber))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Número de Contacto</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_ContractNumber</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ContractValue))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Valor del Contrato</label>
                            </div>
                            <div class="col-xs-12">
                                <span>$ @item.EX_ContractValue @item.EX_Currency</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_Phone))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Teléfono</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_Phone</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ExperienceFile))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Archivo de Experiencia</label>
                            </div>
                            <div class="col-xs-12">
                                <a class="POMPProviderDocumetIcon" target="_blank" href="@item.EX_ExperienceFile">Ver Archivo de Soporte</a>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(item.EX_ContractSubject))
                    {
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <label>Objeto del Contrato</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.EX_ContractSubject</span>
                            </div>
                        </div>
                    }

                }
            </div>
        }
    </div>
}