@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Certificaciones</label>
    <div class="container-fluid">
        @if (Model.RelatedHSEQlInfo != null && Model.RelatedHSEQlInfo.Count > 0)
        {
            foreach (var item in Model.RelatedHSEQlInfo.Where(cer => cer.HSEQType == MarketPlace.Models.General.enumHSEQType.Certifications))
            {
                <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            @if (item.C_Rule != null @*&& !string.IsNullOrEmpty(item.C_Scope)*@)
                            {
                                <span>Norma:   @item.C_Rule.ItemName </span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    @if (item.C_CertificationCompany != null)
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label> Empresa Certificadora</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.C_CertificationCompany.ItemName</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.C_StartDateCertification))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label> Fecha de Certificación</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.C_StartDateCertification</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.C_EndDateCertification))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>  Vigente Hasta</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.C_EndDateCertification</span>
                            </div>
                        </div>
                    }
                    @{
                    var UlrContent = item.C_CertificationFile;
                    if (!string.IsNullOrEmpty(UlrContent))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Archivo de Alcance</label>
                            </div>
                            <div class="col-xs-12">
                                <a class="POMPProviderDocumetIcon" target="_blank" href="@UlrContent">Ver Archivo de Alcance</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label> Archivo de Alcance</label>
                            </div>
                            <div class="col-xs-12">
                                No Tiene archivo de certificación
                            </div>
                        </div>
                    }
                    }
                    @if (!string.IsNullOrEmpty(item.C_CCS))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label> % CCS</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.C_CCS</span>
                            </div>
                        </div>
                    }
                    @if (item.C_Scope != null)
                    {
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <label> Alcance </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.C_Scope</span>
                            </div>
                        </div>
                    }

                </div>
            }
        }
    </div>
}