@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Certificaciones</label>
    <div class="container-fluid POMPContainerDetail">
        @if (Model.RelatedHSEQlInfo != null && Model.RelatedHSEQlInfo.Count > 0)
        {
            foreach (var item in Model.RelatedHSEQlInfo.Where(cer => cer.HSEQType == MarketPlace.Models.General.enumHSEQType.Certifications))
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-12 col-lg-12">
                        @if (item.C_Rule != null @*&& !string.IsNullOrEmpty(item.C_Scope)*@)
                        {
                            <strong>Norma:   @item.C_Rule.ItemName</strong>
                        }
                        else
                        {
                            <strong>N/D</strong>
                        }
                    </div>
                </div>
                <br />
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row">
                        <div class="col-sm-4 POMPProviderBoxInfo"><label>Empresa Certificadora</label></div>
                        <div class="col-sm-4 POMPProviderBoxInfo"><label>Fecha de Certificación</label></div>
                        <div class="col-sm-4 POMPProviderBoxInfo"><label>Vigente Hasta</label></div>
                    </div>
                    <div class="row POMPBorderbottom">
                        <div class="col-sm-4  POMPProviderBoxInfo">
                            @if (item.C_CertificationCompany != null)
                            {
                                <span>@item.C_CertificationCompany.ItemName</span>
                            }
                            else
                            {
                            <span>N/D</span>
                            }
                        </div>
                        <div class="col-sm-4  POMPProviderBoxInfo">
                            @if (!string.IsNullOrEmpty(item.C_StartDateCertification))
                            {
                                <span>@item.C_StartDateCertification</span>
                            }
                            else
                            {
                            <span>N/D</span>
                            }
                        </div>
                        <div class="col-sm-4  POMPProviderBoxInfo">
                            @if (!string.IsNullOrEmpty(item.C_EndDateCertification))
                            {
                                <span>@item.C_EndDateCertification</span>
                            }
                            else
                            {
                                <span>N/D</span>
                            }
                        </div>
                    </div>
                   <br />
                    <div class="row">
                        <div class="col-sm-4 POMPProviderBoxInfo"><label>Archivo de Alcance</label></div>
                        <div class="col-sm-4 POMPProviderBoxInfo"><label>% CCS</label></div>
                    </div>
                    <div class="row POMPBorderbottom">
                        <div class="col-sm-4  POMPProviderBoxInfo">
                            @{var UlrContent = item.C_CertificationFile;}
                            @if (!string.IsNullOrEmpty(UlrContent))
                            {
                                <a class="POMPProviderDocumetIcon" target="_blank" href="@UlrContent">Ver Archivo de Alcance</a>
                            }
                            else
                            {
                                <span>N/D</span>
                            }
                        </div>
                        <div class="col-sm-4  POMPProviderBoxInfo">
                            @if (!string.IsNullOrEmpty(item.C_CCS))
                            {
                                <span>@item.C_CCS</span>
                            }
                            else
                            {
                                <span>N/D</span>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 POMPProviderBoxInfo"><label>Alcance</label></div>
                    </div>
                    <div class="row POMPBorderbottom">
                        <div class="col-sm-12 POMPProviderBoxInfo">
                            @if (item.C_Scope != null)
                            {
                                <span>@item.C_Scope</span>
                            }
                            else
                            {
                                <span>N/D</span>
                            }
                        </div>
                    </div>
                    <br />
                </div>
                <br />
            }
        }
    </div>
}