@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Certificaciones</label>
    <div class="container-fluid POMPContainerDetail">
        @if (Model.RelatedHSEQlInfo != null && Model.RelatedHSEQlInfo.Count > 0)
        {
            foreach (var item in Model.RelatedHSEQlInfo.Where(cer => cer.HSEQType == MarketPlace.Models.General.enumHSEQType.Certifications))
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-12 col-lg-12">
                        @if (item.C_Rule != null @*&& !string.IsNullOrEmpty(item.C_Scope)*@)
                        {
                            <strong>Norma:   @item.C_Rule.ItemName</strong>
                        }
                        else
                        {
                            <strong>N/D</strong>
                        }
                    </div>
                </div>
                <br />
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row ">
                        @if (item.C_CertificationCompany != null)
                        {
                            <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Empresa Certificadora</label>
                                    <br />
                                    <span>@item.C_CertificationCompany.ItemName</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.C_StartDateCertification))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Fecha de Certificación</label>
                                    <br />
                                    <span>@item.C_StartDateCertification</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.C_EndDateCertification))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Vigente Hasta</label>
                                    <br />
                                    <span>@item.C_EndDateCertification</span>
                            </div>
                        }

                        @{var UlrContent = item.C_CertificationFile;}
                        @if (!string.IsNullOrEmpty(UlrContent))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Archivo de Alcance</label>
                                    <br />
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@UlrContent">Ver Archivo de Alcance</a>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.C_CCS))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">% CCS</label>
                                    <br />
                                    <span>@item.C_CCS</span>
                            </div>
                        }
                        @if (item.C_Scope != null)
                        {
                            <div class="col-sm-12 POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Alcance</label>
                                    <br />
                                    <span>@item.C_Scope</span>
                            </div>
                        }
                    </div>
                    <br />
                </div>
                <br />
            }
        }
    </div>
}