@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Politicas de Seguridad, Medio Ambiente y Seguridad</label>
    <ul class="POMPProviderInfoMultipleValues">
        <li>
            @if (Model.RelatedHSEQlInfo != null && Model.RelatedHSEQlInfo.Count > 0)
            {
                foreach (var item in Model.RelatedHSEQlInfo.Where(cer => cer.HSEQType == MarketPlace.Models.General.enumHSEQType.CompanyHealtyPolitic))
                {
                    if (!string.IsNullOrEmpty(item.CH_Year))
                    {
                        <label class="POMPProviderDataSubtitle">
                            <span>Año @item.CH_Year</span>
                        </label>
                    }
                    if (!string.IsNullOrEmpty(item.CH_PoliticsSecurity))
                    {
                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_PoliticsSecurity">Ver Archivo de Política de Seguridad, Salud y Ambiente</a>
                        </label>
                    }
                    if (!string.IsNullOrEmpty(item.CH_PoliticIntegral))
                    {
                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_PoliticIntegral">Ver Archivo de Política integral de HSEQ</a>
                        </label>
                    }
                    if (!string.IsNullOrEmpty(item.CH_PoliticsNoAlcohol))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_PoliticsNoAlcohol">Ver Archivo de Política de no alcohol, Drogas y Fumadores</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_ProgramOccupationalHealth))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_ProgramOccupationalHealth">Ver Archivo de Sistema de Gestión de Seguridad y Salud en el Trabajo</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_RuleIndustrialSecurity))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_RuleIndustrialSecurity">Ver Archivo de Reglamento de Higiene y Seguridad Industrial</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_MatrixRiskControl))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_MatrixRiskControl">Ver Archivo de Matriz de Identificación de Peligros, Evaluación y Control de Riesgos</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_CorporateSocialResponsability))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_CorporateSocialResponsability">Ver Archivo de Responsabilidad Social Empresarial</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_ProgramEnterpriseSecurity))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_ProgramEnterpriseSecurity">Ver Archivo de Programa de Seguridad Empresarial y Logística</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_PoliticsRecruiment))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_PoliticsRecruiment">Ver Archivo de Política de Contratación de Personal</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_CertificationsForm))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_CertificationsForm">Ver Archivo de Formulario Certificaciones</a>
                        </label>
                    }
                }
            }
        </li>
    </ul>
}