@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    MarketPlace.Models.Provider.ProviderLegalViewModel CurrentLegalInfo = null;

    if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
    {
        CurrentLegalInfo = Model.RelatedLegalInfo.Where(lg => lg.LegalType == MarketPlace.Models.General.enumLegalType.ChaimberOfCommerce).FirstOrDefault();
    }

    <label class="POMPSectionTitles">Cámara de Comercio</label>

    if (CurrentLegalInfo != null)
    {
        <div class="container-fluid POMPContainerDetail">
            <div class="row POMPSectionTitlesBox">
                <div class="col-sm-12">
                    @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_CertificateExpeditionDate))
                    {
                    <strong>Fecha de Expedición del Certificado: @CurrentLegalInfo.CP_CertificateExpeditionDate</strong>
                    }
                    else
                    {
                    <strong>N/D</strong>
                    }
                </div>
            </div>
            <br />
            <div class="container-fluid POMPProviderDetailContainer">
                <div class="row ">
                    @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_InscriptionCity))
                    { 
                        <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Ciudad</label>
                                <br />
                                <span>@CurrentLegalInfo.CP_InscriptionCity</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_ConstitutionDate))
                    {
                        <div class="col-sm-4 POMPBorderbottom   POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Fecha de Constitución</label>
                                <br />
                                <span>@CurrentLegalInfo.CP_ConstitutionDate</span>
                        </div>
                    }
                    @if (CurrentLegalInfo.CP_UndefinedDate == "1")
                    {
                        <div class="col-sm-4 POMPBorderbottom   POMPProviderBoxInfo">
                            <br />
                            <label class="POMPProviderBoxInfo">Vigencia</label>
                            <br />
                            <span>Vigente Hasta: Indefinido</span>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_ConstitutionEndDate))
                    {
                        <div class="col-sm-4 POMPBorderbottom   POMPProviderBoxInfo">
                            <br />
                            <label class="POMPProviderBoxInfo">Vigencia</label>
                            <br />
                            <span>Vigente Hasta: @CurrentLegalInfo.CP_ConstitutionEndDate</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_InscriptionNumber))
                    {
                        <div class="col-sm-4 POMPBorderbottom   POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Número de Matricula</label>
                                <br />
                                <span>@CurrentLegalInfo.CP_InscriptionNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_ExistenceAndLegalPersonCertificate))
                    {
                        <div class="col-sm-8 POMPBorderbottom   POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Certificado</label>
                                <br />
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@CurrentLegalInfo.CP_ExistenceAndLegalPersonCertificate">Ver Archivo Certificado de Existencia y Representación Legal</a>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_SocialObject))
                    {
                        <div class="col-sm-12 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Objeto Social</label>
                                <br />
                                <span>@CurrentLegalInfo.CP_SocialObject</span>
                        </div>
                    }
                </div>
                <br />
            </div>
        </div>

        if (Model.RelatedDesignationsInfo != null && Model.RelatedDesignationsInfo.Count > 0)
        {
            <div class="container-fluid POMPContainerDetail">
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-12">
                        @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_CertificateExpeditionDate))
                        {
                            <strong>Socios, Miembros Junta Directiva, Entre Otros</strong>
                        }
                        else
                        {
                            <strong>N/D</strong>
                        }
                    </div>
                </div>
                <br />
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row">
                        <div class="col-sm-4 POMPProviderBoxInfo"><strong>Nombre</strong></div>
                        <div class="col-sm-4 POMPProviderBoxInfo"><strong>Número de Identificación</strong></div>
                        <div class="col-sm-4 POMPProviderBoxInfo"><strong>Cargo</strong></div>
                    </div>
                    <br />
                    @foreach (var item in Model.RelatedDesignationsInfo)
                    {
                        <div class="row POMPBorderbottom">
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.CD_PartnerName))
                            {
                                    <span>@item.CD_PartnerName</span>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.CD_PartnerIdentificationNumber))
                                {
                                    <span>@item.CD_PartnerIdentificationNumber</span>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.CD_PartnerRank))
                                {
                                    <span>@item.CD_PartnerRank</span>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                    }
                </div>
                <br />
            </div>
        }
    }
}
