@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    MarketPlace.Models.Provider.ProviderLegalViewModel CurrentLegalInfo = null;

    if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
    {
        CurrentLegalInfo = Model.RelatedLegalInfo.Where(lg => lg.LegalType == MarketPlace.Models.General.enumLegalType.ChaimberOfCommerce).FirstOrDefault();
    }

    <label class="POMPSectionTitles">Cámara de Comercio</label>
    <div class="container-fluid">
        @if (CurrentLegalInfo != null)
        {
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_CertificateExpeditionDate))
                        {
                            <span>Fecha de Expedición del Certificado: @CurrentLegalInfo.CP_CertificateExpeditionDate</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_InscriptionCity))
                {
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <label>Ciudad </label>
                        </div>
                        <div class="col-xs-12">
                            <span>@CurrentLegalInfo.CP_InscriptionCity</span>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_ConstitutionDate))
                {
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <label>Fecha de Constitución</label>
                        </div>
                        <div class="col-xs-12">
                            <span>@CurrentLegalInfo.CP_ConstitutionDate</span>
                        </div>
                    </div>
                }
                @if (CurrentLegalInfo.CP_UndefinedDate == "1")
                {
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <label>Indefinido</label>
                        </div>
                        <div class="col-xs-12">
                            <span>Si</span>
                        </div>
                    </div>
                }
                else if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_ConstitutionEndDate))
                {
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <label>Vigente Hasta</label>
                        </div>
                        <div class="col-xs-12">
                            <span>@CurrentLegalInfo.CP_ConstitutionEndDate</span>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_InscriptionNumber))
                {
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <label> Número de Matricula</label>
                        </div>
                        <div class="col-xs-12">
                            <span>@CurrentLegalInfo.CP_InscriptionNumber</span>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_ExistenceAndLegalPersonCertificate))
                {
                    <div class="col-xs-8">
                        <div class="col-xs-12">
                            <label>Certificado</label>
                        </div>
                        <div class="col-xs-12">
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@CurrentLegalInfo.CP_ExistenceAndLegalPersonCertificate">Ver Archivo Certificado de Existencia y Representación Legal</a>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(CurrentLegalInfo.CP_SocialObject))
                {
                    <div class="col-xs-12" id="POMPSocialObject">
                        <div class="col-xs-12">
                            <label>Objeto Social</label>
                        </div>
                        <div class="col-xs-12">
                            <span>@CurrentLegalInfo.CP_SocialObject</span>
                        </div>
                    </div>
                }
                @if (Model.RelatedDesignationsInfo != null && Model.RelatedDesignationsInfo.Count > 0)
                {
                    <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                Socios, Miembros Junta Directiva, Entre Otros
                            </div>
                        </div>
                    </div>
                    foreach (var item in Model.RelatedDesignationsInfo)
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Nombre</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.CD_PartnerName</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Número de Identificación</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.CD_PartnerIdentificationNumber</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Cargo</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.CD_PartnerRank</span>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
}