@model MarketPlace.Models.Provider.ProviderLiteViewModel

@if (Model != null && Model.RelatedProvider != null)
{
    <!--Comparison item-->
    <div class="POMPComparisonResultStatusCertified">
        <!--Check certificacion-->
        <img style="@(Model.ProviderIsCertified ? string.Empty : "display:none");" class="SelGenericTooltip" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
    </div>
    <div class="POMPComparisonResultProvDataWrapper">
        <!--Provider logo-->
        <a href="@(Url.RouteUrl
                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                        new
                        {
                            controller = MVC.Provider.Name,
                            action = MVC.Provider.ActionNames.GIProviderInfo,
                            ProviderPublicId = Model.RelatedProvider.RelatedCompany.CompanyPublicId}
                        ))">
            <img class="POMPComparisonResultProvLogo" src="@Model.ProviderLogoUrl" />
        </a>

        <div class="POMPComparisonResultNameIDWrapper">
            <label>@Model.RelatedProvider.RelatedCompany.CompanyName</label>
            <label><span>@Model.RelatedProvider.RelatedCompany.IdentificationType.ItemName :</span> @Model.RelatedProvider.RelatedCompany.IdentificationNumber</label>
        </div>
        <div class="POMPComparisonResultAlertComparWrapper">
            <div>
                @if (Model.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.ShowAlert)
                {
                    <div class="SelGenericTooltip POMPComparisonResultProvAlert" title="Este proveedor está en listas restrictivas"></div>
                }
            </div>
            @if (Model.ProviderAddRemoveEnable)
            {
                if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project)
                {
                    <a href="javascript:Provider_SearchObject.RemoveProjectProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');">
                        <div class="SelGenericTooltip POMPComparisonResultIncludeCoparisonIcon" title="Quitar del proceso de selección"></div>
                    </a>
                }
                else if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison)
                {
                    if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Compare.Name &&
                                   MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Compare.ActionNames.CompareDetail)
                    {
                        <a href="javascript:Compare_DetailObject.RemoveCompareProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');">
                            <div class="SelGenericTooltip POMPComparisonResultIncludeCoparisonIcon" title="Quitar de la comparación"></div>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:Provider_SearchObject.RemoveCompareProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');">
                            <div class="SelGenericTooltip POMPComparisonResultIncludeCoparisonIcon" title="Quitar de la comparación"></div>
                        </a>
                    }
                }
            }
        </div>

        <!--Provider rate-->
        <div class="POMPSearchResultProvRatingComparison">
            <div class="rateit" data-rateit-value="@Model.ProviderRate.ToString("0.##").Replace(",", ".")" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
            <span>(@Model.ProviderRateCount)</span>
        </div>

        <!--Actions for related provider -->
        <ul class="POMPComparisonResultLineTwo">
            @if (Model.ProviderAddRemoveEnable)
            {
                if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project)
                {
                    <li>
                        <a href="javascript:Provider_SearchObject.RemoveProjectProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');" title="">Remover</a>
                    </li>
                }
                else if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison)
                {
                    <li>
                        @if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName != MVC.Provider.Name)
                        {
                            if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Compare.Name &&
                            MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Compare.ActionNames.CompareDetail)
                            {
                                <a href="javascript:Compare_DetailObject.RemoveCompareProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');" title="">Remover</a>
                            }
                            else
                            {
                                <a href="javascript:Provider_SearchObject.RemoveCompareProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');" title="">Remover</a>
                            }
                        }
                    </li>
                }
            }
            <li>
                <a href="@(Url.RouteUrl
                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                    new
                    {
                        controller = MVC.Provider.Name,
                        action = MVC.Provider.ActionNames.GIProviderInfo,
                        ProviderPublicId = Model.RelatedProvider.RelatedCompany.CompanyPublicId}
                    ))">Ver detalle</a>
            </li>
        </ul>
    </div>
}
else
{
    <!--Comparison item template-->
    <div class="POMPComparisonResultStatusCertified">
        <!--Check certificacion-->
        <img style="display:{ProviderIsCertified};" class="SelGenericTooltip" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
    </div>
    <div class="POMPComparisonResultProvDataWrapper">

        <a href="@(Url.RouteUrl
                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                    new
                    {
                        controller = MVC.Provider.Name,
                        action = MVC.Provider.ActionNames.GIProviderInfo,
                    }) + "?ProviderPublicId={ProviderPublicId}")">
            <img class="POMPComparisonResultProvLogo" src="{ProviderLogoUrl}" />
        </a>
        <div class="POMPComparisonResultNameIDWrapper">
            <label>{CompanyName}</label>
            <label><span>{IdentificationType} :</span> {IdentificationNumber}</label>
        </div>
        <div class="POMPComparisonResultAlertComparWrapper">
            <div>
                <div style="display:{ProviderAlertRisk};" class="SelGenericTooltip POMPComparisonResultProvAlert" title="Este proveedor está en listas restrictivas"></div>
            </div>
            @if (Model.ProviderAddRemoveEnable)
            {
                if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project)
                {
                    <a href="javascript:Provider_SearchObject.RemoveProjectProvider('{ProviderPublicId}');">
                        <div class="SelGenericTooltip POMPComparisonResultIncludeCoparisonIcon" title="Quitar del proceso de selección"></div>
                    </a>
                }
                else if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison)
                {
                    if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Compare.Name &&
                        MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Compare.ActionNames.CompareDetail)
                    {
                        <a href="javascript:Compare_DetailObject.RemoveCompareProvider('{ProviderPublicId}');">
                            <div class="SelGenericTooltip POMPComparisonResultIncludeCoparisonIcon" title="Quitar de la comparación"></div>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:Provider_SearchObject.RemoveCompareProvider('{ProviderPublicId}');">
                            <div class="SelGenericTooltip POMPComparisonResultIncludeCoparisonIcon" title="Quitar de la comparación"></div>
                        </a>
                    }
                }
            }
        </div>

        <!--Provider rate-->
        <div class="POMPSearchResultProvRatingComparison">
            <div class="{ProviderRateClass}" data-rateit-value="{ProviderRate}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
            <span>({ProviderRateCount})</span>
        </div>

        <!--Actions for related provider -->
        <ul class="POMPComparisonResultLineTwo">
            @if (Model.ProviderAddRemoveEnable)
            {
                if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project)
                {
                    <li>
                        <a href="javascript:Provider_SearchObject.RemoveProjectProvider('{ProviderPublicId}');" title="">Remover</a>
                    </li>
                }
                else if (Model.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison)
                {
                    <li>
                        @if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Compare.Name &&
                    MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Compare.ActionNames.CompareDetail)
                        {
                            <a href="javascript:Compare_DetailObject.RemoveCompareProvider('{ProviderPublicId}');" title="">Remover</a>
                        }
                        else
                        {
                            <a href="javascript:Provider_SearchObject.RemoveCompareProvider('{ProviderPublicId}');" title="">Remover</a>
                        }
                    </li>
                }
            }
            <li>
                <a href="@(Url.RouteUrl
                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                    new
                    {
                        controller = MVC.Provider.Name,
                        action = MVC.Provider.ActionNames.GIProviderInfo,
                    }) + "?ProviderPublicId={ProviderPublicId}")">Ver detalle</a>

            </li>
        </ul>
    </div>
}








