@model MarketPlace.Models.Provider.ProviderLiteViewModel

        @*ESTA ES LA LISTA DE RESULTADOS DE LA BUSQUEDA DE PROVEEDORES*@

<div class="POMPSearchResultLineOne">

    @*Check certificacion*@
    @*@if (Model.ProviderStatusId.ToString() == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified].Value)
    { }*@

    @*<img class="POMPSearchResultStatusCertified" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />*@
    <div class="POMPSearchResultStatusCertified"></div>
    <img class="POMPSearchResultProvLogo" src="@Model.ProviderLogoUrl" />

    <div class="POMPSearchResultProvDataWrapper">
        <a href="@(Url.RouteUrl
                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                    new
                    {
                        controller = MVC.Provider.Name,
                        action = MVC.Provider.ActionNames.GIProviderInfo,
                        ProviderPublicId = Model.RelatedProvider.RelatedCompany.CompanyPublicId}))">
            @Model.RelatedProvider.RelatedCompany.CompanyName
        </a>
        <label><span>@Model.RelatedProvider.RelatedCompany.IdentificationType.ItemName :</span> @Model.RelatedProvider.RelatedCompany.IdentificationNumber</label>
        <label><span>Actividad Principal:</span> Fundición de partes en acero forjado y cobre mecanizado para la industria siderúrgica</label>
    </div>
    <a class="POMPSearchResultProvAlert" href="" title="Este proveedor está en listas restrictivas"></a>
    <a class="POMPSearchResultIncludeCoparisonIcon" href="" title="Agregar a la lista de comparación"></a>

</div>

<div class="POMPSearchResultLineTwo">

    <div class="POMPSearchResultProvRating">@*@Model.ProviderRate*@</div>

    @*@if (Model.ProviderRate != null)
    {}*@
    
    @*@if (Model.IsProviderCustomer)
    {}
    else
    {}*@

        @*Actions for related provider *@
        <div class="POMPSearchResultProvActions">
            <a href="" title="">Agregar a comparación</a>
            <a href="@(Url.RouteUrl
                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                        new
                        {
                            controller = MVC.Provider.Name,
                            action = MVC.Provider.ActionNames.GIProviderInfo,
                            ProviderPublicId = Model.RelatedProvider.RelatedCompany.CompanyPublicId}))">Ver detalle</a>
            @*Actions for not related provider *@
            <a href="" title="">Hacerlo mi proveedor</a>
        </div>
    </div>
























