@model MarketPlace.Models.Provider.ProviderSearchViewModel

@if (!Model.RenderScripts)
{
    <!--Comparison actions-->
    <span class="POMPComparisonTitle">Análisis de competencias</span>
    <div class="POMPComparisonActionWrapper">
        <a href="javascript:Provider_SearchObject.ShowCompareCreate('');" title="Crear selección">
            <div class="POMPComparisonActionNew"></div>
            <span>Nuevo</span>
        </a>
        <a href="javascript:Provider_SearchObject.ShowSearchCompare();" title="Abrir selección">
            <div class="POMPComparisonActionOpen"></div>
            <span>Abrir</span>
        </a>
        <a href="javascript:Provider_SearchObject.GoToCompare();" title="Comparar" class="Search_Compare_SelActionCompare" style="display: @(Model.RelatedCompare == null ? "none" : "");">
            <div class="POMPComparisonActionCompare"></div>
            <span>Comparar</span>
        </a>
        <a href="javascript:Provider_SearchObject.ShowProjectCreateFromCompare();" title="Iniciar proceso de selección" class="Search_Compare_SelActionCompare" style="display: @(Model.RelatedCompare == null ? "none" : "");">
            <div class="POMPComparisonActionCompare"></div>
            <span>Iniciar proceso de selección</span>
        </a>
    </div>
    <!--Compare title-->
    <input type="text" id="Search_Compare_CompareName" class="POMPComparisonSelectionTitle" value="@(Model.RelatedCompare == null ? string.Empty: Model.RelatedCompare.CompareName)" style="display: @(Model.RelatedCompare == null ? "none" : "");" />
    <!--Compare Providers-->
    <ul id="Search_Compare_ItemContainer" class="POMPComparisonProvListWrapper">
        @if (Model.RelatedCompare != null && Model.RelatedCompare.RelatedProvider != null && Model.RelatedCompare.RelatedProvider.Count > 0)
        {
            foreach (MarketPlace.Models.Provider.ProviderLiteViewModel oCompareItem in Model.RelatedCompare.RelatedProvider)
            {
                oCompareItem.ProviderLiteType = MarketPlace.Models.General.enumProviderLiteType.Comparison;
                oCompareItem.ProviderAddRemoveEnable = true;
                <li>
                    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderLite, oCompareItem)
                </li>
            }
        }
    </ul>
    <!--Comparison actions-->
    <div class="Search_Compare_SelActionCompare POMPComparisonActionWrapper" style="display: @(Model.RelatedCompare == null ? "none" : "");">
        <a href="javascript:Provider_SearchObject.ShowCompareCreate('');" title="Crear selección">
            <div class="POMPComparisonActionNew"></div>
            <span>Nuevo</span>
        </a>
        <a href="javascript:Provider_SearchObject.ShowSearchCompare();" title="Abrir selección">
            <div class="POMPComparisonActionOpen"></div>
            <span>Abrir</span>
        </a>
        <a href="javascript:Provider_SearchObject.GoToCompare();" title="Comparar" class="Search_Compare_SelActionCompare" style="display: @(Model.RelatedCompare == null ? "none" : "");">
            <div class="POMPComparisonActionCompare"></div>
            <span>Comparar</span>
        </a>
        <a href="javascript:Provider_SearchObject.ShowProjectCreateFromCompare();" title="Iniciar proceso de selección" class="Search_Compare_SelActionCompare" style="display: @(Model.RelatedCompare == null ? "none" : "");">
            <div class="POMPComparisonActionCompare"></div>
            <span>Iniciar Proceso de Selección</span>
        </a>
    </div>

    <!--templates-->
    <div style="display:none;">
        <div id="Search_Compare_Create_ToolTip" title="Nueva Comparación">
            <!--Dialog new compare-->
            <span>Nombre: </span>
            <input style="width:72%;" type="text" id="Search_Compare_Create_ToolTip_Name" />
        </div>

        <div id="Search_Compare_Search_ToolTip" title="Abrir Comparación">
            <!--Dialog open compare-->
            <div id="Search_Compare_Search_ToolTip_Grid"></div>
        </div>

        <div id="Search_Compare_Search_ToolTip_Grid_Header_Template">
            <!--template header open dialog-->
            <ul>
                <li>
                    <input type="text" />
                </li>
                <li>
                    <a href="javascript:;">Encontrar</a>
                </li>
            </ul>
        </div>

        <ul id="Search_Compare_Item_Template">
            <li>
                @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderLite, new MarketPlace.Models.Provider.ProviderLiteViewModel(null) { ProviderLiteType = MarketPlace.Models.General.enumProviderLiteType.Comparison, ProviderAddRemoveEnable = true, })
            </li>
        </ul>


        <div id="Search_Compare_CreateProject_ToolTip" title="Nuevo Proceso de Selección">
            <!--Dialog new project-->
            <form id="Search_Compare_CreateProject_ToolTip_Form" action="@Url.Content("~/api/ProjectApi?ProjectUpsert=true")" method="post">
                <ul class="POMPCompareCreateProject">
                    <li>
                        <span>Nombre: </span>
                        <input type="text" id="Search_Compare_CreateProject_ToolTip_Name" name="ProjectName" placeholder="Nombre del proceso de selección" required validationmessage="El nombre de la precalificación es obligatorio" />
                    </li>
                    <li>
                        <span>Tipo de proceso de selección: </span>
                        <select id="Search_Compare_CreateProject_ToolTip_ProjectConfig" name="ProjectConfig" required validationmessage="Seleccione un tipo de proceso de selección">
                            <option value="">Seleccione una opción</option>
                            @if (Model.RelatedProjectConfig != null && Model.RelatedProjectConfig.Count > 0)
                            {
                                foreach (MarketPlace.Models.Project.ProjectConfigViewModel pjc in Model.RelatedProjectConfig)
                                {
                                    <option value="@pjc.ProjectConfigId">@pjc.ProjectConfigName</option>
                                }
                            }
                        </select>
                    </li>
                </ul>
                <div style="display:none;">
                    <input type="hidden" id="Search_Compare_CreateProject_ToolTip_CompareId" name="ProjectInfo_@(((int)MarketPlace.Models.General.enumProjectInfoType.Compare).ToString())_" value="" />
                    <input type="hidden" id="Search_Compare_CreateProject_ToolTip_CurrencyType" name="ProjectInfo_@(((int)MarketPlace.Models.General.enumProjectInfoType.CurrencyType).ToString())_" value="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_CurrencyExchange_USD].Value" />
                    <input type="hidden" id="Search_Compare_CreateProject_ToolTip_Responsible" name="ProjectInfo_@(((int)MarketPlace.Models.General.enumProjectInfoType.Responsible).ToString())_" value="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.Email" />
                </div>
            </form>
        </div>
    </div>
}
