@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Reportes de Evaluaciones</label>
    if (Model.RelatedReportInfo != null && Model.RelatedReportInfo.Count > 0)
    {
        <div class="container-fluid">
            @foreach (var item in Model.RelatedReportInfo.Where(lg => lg.ReportType == MarketPlace.Models.General.enumReportType.RP_SurveyReport))
            {
                <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            @if (!string.IsNullOrEmpty(item.RP_ReportAverage))
                            {
                                <span>Promedio: @item.RP_ReportAverage %</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    @if (!string.IsNullOrEmpty(item.RP_Observation))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Observaciones</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.RP_Observation</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.RP_ImprovementPlan))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Plan de Acción</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.RP_ImprovementPlan</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.RP_InitDateReport))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Fecha Inicial</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.RP_InitDateReport</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.RP_EndDateReport))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Fecha Final</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.RP_EndDateReport</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.RP_ReportDate))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label> Fecha De Creación del Reporte</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.RP_ReportDate</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.RP_ReportResponsable))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Responsable</label>
                            </div>
                            <div class="col-xs-12">
                                <span>@item.RP_ReportResponsable</span>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.RP_ReportURL))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Ver Reporte</label>
                            </div>
                            <div class="col-xs-12">
                                <a class="POMPProviderDocumetIcon" target="_blank" href="@item.RP_ReportURL">Ver Reporte</a>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.RP_InitDateReport)
                        && !string.IsNullOrEmpty(item.RP_EndDateReport))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>Información Detallada</label>
                            </div>
                            <div class="col-xs-12">
                                <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Provider.Name,
                                    action = MVC.Provider.ActionNames.SVSurveySearch,
                                    ProviderPublicId = Request["ProviderPublicId"],
                                    InitDate = item.RP_InitDateReport,
                                    EndDate = item.RP_EndDateReport,
                                }))">Ver Detalle</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }

}