@model MarketPlace.Models.Provider.ProviderLiteViewModel

<!--ESTA ES LA LISTA DE RESULTADOS DE LA BUSQUEDA DE PROVEEDORES-->

<div class="POMPSearchResultLineOne">

    <!--Check certificacion-->
    <div class="POMPSearchResultStatusCertified">
        @if (Model.ProviderStatusId.ToString() == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified].Value)
        {
            <img class="SelGenericTooltip POMPSearchResultStatusCertified" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
        }
    </div>
    <img class="POMPSearchResultProvLogo" src="@Model.ProviderLogoUrl" />

    <div class="POMPSearchResultProvDataWrapper">
        <a href="@(Url.RouteUrl
                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                    new
                    {
                        controller = MVC.Provider.Name,
                        action = MVC.Provider.ActionNames.GIProviderInfo,
                        ProviderPublicId = Model.RelatedProvider.RelatedCompany.CompanyPublicId}))">
            @Model.RelatedProvider.RelatedCompany.CompanyName
        </a>
        <label><span>@Model.RelatedProvider.RelatedCompany.IdentificationType.ItemName :</span> @Model.RelatedProvider.RelatedCompany.IdentificationNumber</label>
    </div>
    <div>
        @if (Model.IsProviderCustomer && Model.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.ShowAlert && Model.IsProviderCustomer)
        {
            <img class="SelGenericTooltip POMPSearchResultProvAlert" title="Este proveedor está en listas restrictivas" />
        }

        @if (Model.IsProviderCustomer)
        {
            <a class="POMPSearchResultIncludeCoparisonIcon" href="javascript:;">
                <img class="SelGenericTooltip" title="Agregar a la lista de comparación" />
            </a>
        }
    </div>
</div>

<div class="POMPSearchResultLineTwo">

    <!--Provider rate-->
    <div class="POMPSearchResultProvRating">
        @if (Model.ProviderRate != null)
        {
            <!--<div>@Model.ProviderRate</div>-->
        }
    </div>
    <!--Actions for related provider -->
    <div class="POMPSearchResultProvActions">

        @if (!Model.IsProviderCustomer)
        {
            <!--Actions for not related provider -->
            <a href="" title="">Hacerlo mi proveedor</a>
        }
        else
        {
            <a href="" title="">Agregar a comparación</a>
            <a href="@(Url.RouteUrl
                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                        new
                        {
                            controller = MVC.Provider.Name,
                            action = MVC.Provider.ActionNames.GIProviderInfo,
                            ProviderPublicId = Model.RelatedProvider.RelatedCompany.CompanyPublicId}
                        ))">Ver detalle</a>
        }
    </div>
</div>




















