@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <label class="POMPSectionTitles">Reportes de Evaluaciones</label>
    if (Model.RelatedReportInfo != null && Model.RelatedReportInfo.Count > 0)
    {
        <div class="container-fluid POMPContainerDetail">
            @foreach (var item in Model.RelatedReportInfo.Where(lg => lg.ReportType == MarketPlace.Models.General.enumReportType.RP_SurveyReport))
            {
                <div class="row  POMPSectionTitlesBox">
                    <div class="col-sm-12 col-lg-12">
                        @if (!string.IsNullOrEmpty(item.RP_ReportAverage))
                        {
                        <strong>Promedio: @item.RP_ReportAverage %</strong>
                        }
                        else
                        {
                        <strong>N/D</strong>
                        }
                    </div>
                </div>
                <br />

                    <div class="container-fluid POMPProviderDetailContainer">
                        <div class="row">
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Observaciones</label></div>
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Plan de Acción</label></div>
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Fecha Inicial</label></div>
                        </div>
                        <div class="row POMPBorderbottom">
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.RP_Observation))
                                {
                                    <span>@item.RP_Observation</span>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.RP_ImprovementPlan))
                                {
                                    <span>@item.RP_ImprovementPlan</span>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.RP_InitDateReport))
                                {
                                    <span>@item.RP_InitDateReport</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Fecha Final</label></div>
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Fecha De Creación del Reporte</label></div>
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Responsable</label></div>
                        </div>
                        <div class="row POMPBorderbottom">
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.RP_EndDateReport))
                                {
                                    <span>@item.RP_EndDateReport</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.RP_ReportDate))
                                {
                                    <span>@item.RP_ReportDate</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                 @if (!string.IsNullOrEmpty(item.RP_ReportResponsable))
                                 {
                                    <span>@item.RP_ReportResponsable</span>
                                 }
                                 else
                                 {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Ver Reporte</label></div>
                            <div class="col-sm-4 POMPProviderBoxInfo"><label>Información Detallada</label></div>
                        </div>
                        <div class="row POMPBorderbottom">
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.RP_ReportURL))
                                {
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.RP_ReportURL">Ver Reporte</a>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  POMPProviderBoxInfo">
                                @if (!string.IsNullOrEmpty(item.RP_InitDateReport) && !string.IsNullOrEmpty(item.RP_EndDateReport))
                                {
                                    <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Survey.Name,
                                    action = MVC.Survey.ActionNames.SVSurveySearch,
                                    ProviderPublicId = Request["ProviderPublicId"],
                                    InitDate = item.RP_InitDateReport,
                                    EndDate = item.RP_EndDateReport,
                                }))">Ver Detalle</a>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
            }
        </div>
    }
}