@model Tuple<MarketPlace.Models.Provider.ProviderLiteViewModel, MarketPlace.Models.Compare.CompareViewModel>

@{
    bool oIsInComparison =
        Model.Item2 != null &&
        Model.Item2.RelatedProvider != null &&
        Model.Item2.RelatedProvider.
            Any(x => x.RelatedProvider.RelatedCompany != null &&
                x.RelatedProvider.RelatedCompany.CompanyPublicId == Model.Item1.RelatedProvider.RelatedCompany.CompanyPublicId) ? true : false;
}

<!--ESTA ES LA LISTA DE RESULTADOS DE LA BUSQUEDA DE PROVEEDORES-->
<div class="POMPSearchResultLineOne">
    <!--Search Item-->

    <div class="POMPSearchResultStatusCertified">
        <!--Check certificacion-->
        @if (Model.Item1.ProviderIsCertified)
        {
            <img class="SelGenericTooltip POMPSearchResultStatusCertified" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
        }
    </div>
    <div class="POMPSearchResultProvDataWrapper">
        <!--Provider Logo-->
        @if (Model.Item1.IsProviderCustomer)
        {
            <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Provider.Name,
                                    action = MVC.Provider.ActionNames.GIProviderInfo,
                                    ProviderPublicId = Model.Item1.RelatedProvider.RelatedCompany.CompanyPublicId
                                }))">
                <img class="POMPSearchResultProvLogo" src="@Model.Item1.ProviderLogoUrl" />
            </a>
        }
        else
        {
            <span>
                <img class="POMPSearchResultProvLogo" src="@Model.Item1.ProviderLogoUrl" />
            </span>
        }
        <div class="POMPSearchResultNameIDWrapper">
            @if (Model.Item1.IsProviderCustomer)
            {
                <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.GIProviderInfo,
                                ProviderPublicId = Model.Item1.RelatedProvider.RelatedCompany.CompanyPublicId
                            }))">
                    @Model.Item1.RelatedProvider.RelatedCompany.CompanyName
                </a>
            }
            else
            {
                <label>@Model.Item1.RelatedProvider.RelatedCompany.CompanyName</label>
            }
            <label><span>@Model.Item1.RelatedProvider.RelatedCompany.IdentificationType.ItemName :</span> @Model.Item1.RelatedProvider.RelatedCompany.IdentificationNumber</label>
        </div>
        <div class="POMPSearchResultAlertComparWrapper">
            <div>
                @if (Model.Item1.IsProviderCustomer && Model.Item1.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.ShowAlert)
                {
                    <div class="SelGenericTooltip POMPSearchResultProvAlert" title="Este proveedor está en listas restrictivas"></div>
                }
            </div>
            @if (Model.Item1.IsProviderCustomer)
            {
                <a style="display:@(oIsInComparison ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddCompareProvider('@Model.Item1.RelatedProvider.RelatedCompany.CompanyPublicId');">
                    <div class="SelGenericTooltip POMPSearchResultIncludeCoparisonIcon" title="Agregar a la lista de comparación"></div>
                </a>
            }
        </div>
        <!--Actions for related provider -->
        <ul class="POMPSearchResultLineTwo">
            @if (!Model.Item1.IsProviderCustomer)
            {
                <li>
                    <!--Actions for not related provider -->
                    <a href="" title="">Hacerlo mi proveedor</a>
                </li>
            }
            else
            {
                <li>
                    <a style="display:@(oIsInComparison ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddCompareProvider('@Model.Item1.RelatedProvider.RelatedCompany.CompanyPublicId');" title="">Agregar a comparación</a>
                </li>
                <li>
                    <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.GIProviderInfo,
                                ProviderPublicId = Model.Item1.RelatedProvider.RelatedCompany.CompanyPublicId
                            }))">Ver detalle</a>
                </li>
            }
        </ul>
    </div>
</div>
