@model Tuple<MarketPlace.Models.Provider.ProviderSearchViewModel, MarketPlace.Models.Provider.ProviderLiteViewModel>

@{
    //set project / comparison
    bool oIsInLeftPanel = false;

    if (Model.Item1.RelatedProject != null && !string.IsNullOrEmpty(Model.Item1.RelatedProject.ProjectPublicId))
    {
        Model.Item2.ProviderLiteType = MarketPlace.Models.General.enumProviderLiteType.Project;
        Model.Item2.ProviderAddRemoveEnable =
            (Model.Item1.RelatedProject.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.Open ||
            Model.Item1.RelatedProject.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.OpenRefusal);

        oIsInLeftPanel =
            Model.Item1 != null &&
            Model.Item1.RelatedProject != null &&
            Model.Item1.RelatedProject.RelatedProjectProvider != null &&
            Model.Item1.RelatedProject.RelatedProjectProvider.
                Any(x => x.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany != null &&
                    x.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId == Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId);
    }
    else
    {
        Model.Item2.ProviderLiteType = MarketPlace.Models.General.enumProviderLiteType.Comparison;
        Model.Item2.ProviderAddRemoveEnable = true;

        oIsInLeftPanel =
            Model.Item1 != null &&
            Model.Item1.RelatedCompare != null &&
            Model.Item1.RelatedCompare.RelatedProvider != null &&
            Model.Item1.RelatedCompare.RelatedProvider.
                Any(x => x.RelatedProvider.RelatedCompany != null &&
                    x.RelatedProvider.RelatedCompany.CompanyPublicId == Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId);
    }
}

<!--ESTA ES LA LISTA DE RESULTADOS DE LA BUSQUEDA DE PROVEEDORES-->
<div class="POMPSearchResultLineOne">
    <!--Search Item-->

    <div class="POMPSearchResultStatusCertified">
        <!--Check certificacion-->
        @if (Model.Item2.ProviderIsCertified)
        {
            <img class="SelGenericTooltip POMPSearchResultStatusCertified" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
        }
    </div>
    <div class="POMPSearchResultProvDataWrapper">
        <!--Provider Logo-->
        @if (Model.Item2.IsProviderCustomer)
        {
            <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Provider.Name,
                                    action = MVC.Provider.ActionNames.GIProviderInfo,
                                    ProviderPublicId = Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId
                                }))">                
                    <img class="POMPSearchResultProvLogo" src="@Model.Item2.ProviderLogoUrl" />
            </a>
        }
        else
        {
            <span>
                <img class="POMPSearchResultProvLogo" src="@Model.Item2.ProviderLogoUrl" />
            </span>
        }
        <div class="POMPSearchResultNameIDWrapper">
            @if (Model.Item2.IsProviderCustomer)
            {
                <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.GIProviderInfo,
                                ProviderPublicId = Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId
                            }))">
                    @Model.Item2.RelatedProvider.RelatedCompany.CompanyName
                </a>
            }
            else
            {
                <label>@Model.Item2.RelatedProvider.RelatedCompany.CompanyName</label>
            }
            <label><span>@Model.Item2.RelatedProvider.RelatedCompany.IdentificationType.ItemName :</span> @Model.Item2.RelatedProvider.RelatedCompany.IdentificationNumber</label>
        </div>

        <div class="POMPSearchResultAlertComparWrapper">
            <div>
                @if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.ShowAlert)
                {
                    <a class="SelGenericTooltip POMPSearchResultProvAlert" title="Este proveedor está en listas restrictivas" href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.GIProviderInfo,
                                ProviderPublicId = Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId
                            }))">
                    </a>
                }
            </div>
            @if (Model.Item2.ProviderAddRemoveEnable)
            {
                if (Model.Item2.IsProviderCustomer &&
                Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project)
                {
                    <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddProjectProvider('@Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId');">
                        <div class="SelGenericTooltip POMPSearchResultIncludeCoparisonIcon" title="Agregar al proceso de selección"></div>
                    </a>
                }
                else if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison)
                {
                    <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddCompareProvider('@Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId');">
                        <div class="SelGenericTooltip POMPSearchResultIncludeCoparisonIcon" title="Agregar a la lista de comparación"></div>
                    </a>
                }
            }
        </div>

        <!--Provider rate-->
        <div class="POMPSearchResultProvRating">
            <div class="rateit" data-rateit-value="@Model.Item2.ProviderRate.ToString("0.##").Replace(",", ".")" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
            <span>(@Model.Item2.ProviderRateCount)</span>
        </div>

        <!--Actions for related provider -->
        <ul class="POMPSearchResultLineTwo">
            @if (!Model.Item2.IsProviderCustomer)
            {
                <li>
                    <!--Actions for not related provider -->
                    <!--<a href="" title="">Hacerlo mi proveedor</a>-->
                </li>
            }
            else
            {
                foreach (var module in MarketPlace.Models.General.SessionModel.CurrentUserModules())
                {
                    if (module == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderDetail)
                    {
                        if (Model.Item2.ProviderAddRemoveEnable)
                        {
                            if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project)
                            {
                                <li>
                                    <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddProjectProvider('@Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId');" title="">Agregar al proceso de selección</a>
                                </li>
                            }
                            else if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison)
                            {
                                <li>
                                    <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddCompareProvider('@Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId');" title="">Agregar a comparación</a>
                                </li>
                            }
                        }
                    }
                }
                <li>
                    <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.GIProviderInfo,
                                ProviderPublicId = Model.Item2.RelatedProvider.RelatedCompany.CompanyPublicId
                            }))">Ver detalle</a>
                </li>
            }
        </ul>
    </div>
</div>
