@model MarketPlace.Models.Provider.ProviderSearchViewModel

@if (Model.RenderScripts)
{
    <ul>
        <li><span>Orden por:</span></li>
        <li>
            @if (Model.SearchOrderType == MarketPlace.Models.General.enumSearchOrderType.CustomerRate)
            {
                <input type="radio" name="Search_rbOrder" searchordertype="@(((int)MarketPlace.Models.General.enumSearchOrderType.CustomerRate).ToString())" orderorientation="0" checked="checked" />
            }
            else
            {
                <input type="radio" name="Search_rbOrder" searchordertype="@(((int)MarketPlace.Models.General.enumSearchOrderType.CustomerRate).ToString())" orderorientation="0" />
            }
            <span>Calificación</span>
        </li>
        <li>
            @if (Model.SearchOrderType == MarketPlace.Models.General.enumSearchOrderType.Alphabetic)
            {
                <input type="radio" name="Search_rbOrder" searchordertype="@(((int)MarketPlace.Models.General.enumSearchOrderType.Alphabetic).ToString())" orderorientation="1" checked="checked" />
            }
            else
            {
                <input type="radio" name="Search_rbOrder" searchordertype="@(((int)MarketPlace.Models.General.enumSearchOrderType.Alphabetic).ToString())" orderorientation="1" />
            }
            <span>Alfabético</span>
        </li>
        <li>
            @if (Model.SearchOrderType == MarketPlace.Models.General.enumSearchOrderType.Relevance)
            {
                <input type="radio" name="Search_rbOrder" searchordertype="@(((int)MarketPlace.Models.General.enumSearchOrderType.Relevance).ToString())" orderorientation="0" checked="checked" />
            }
            else
            {
                <input type="radio" name="Search_rbOrder" searchordertype="@(((int)MarketPlace.Models.General.enumSearchOrderType.Relevance).ToString())" orderorientation="0" />
            }
            <span>Relevancia</span>
        </li>
    </ul>
}
