@model MarketPlace.Models.Provider.ProviderSearchViewModel

@if (!Model.RenderScripts)
{
    if (Model.ProviderSearchResult != null && Model.ProviderSearchResult.Count > 0)
    {
        <div class="POMPSearchResultsPager">
            <!--Pager-->
            @Html.Partial(MVC.Desktop.Shared.Views._P_Search_Result_Pager, Model)
        </div>

        <div class="POMPSearchResultsOrder">
            @if (MarketPlace.Models.General.SessionModel.CurrentCompanyType != MarketPlace.Models.General.enumCompanyType.BuyerProvider &&
                      MarketPlace.Models.General.SessionModel.CurrentUserModules().Any(x => x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingCreate))
            {
                  <!--Botón Descargar Excel-->
                
                    <a class="POBOSearchButtons" href="@Url.Action(MVC.Provider.ActionNames.RPGeneral, MVC.Provider.Name, new { SearchParam = Request["SearchParam"], SearchFilter = Request["SearchFilter"] })"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_ExcelReportIcon].Value" /><br />DIAN</a>
              
                <!--Botón Descargar Excel-->
                <div class="POMPDownloadExcelButton">                    
                    <a class="POBOSearchButtons" href="@Url.Action(MVC.Provider.ActionNames.RPDIAN, MVC.Provider.Name, new { SearchParam = Request["SearchParam"], SearchFilter = Request["SearchFilter"] })"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_ExcelReportIcon].Value" /><br />Descargar</a>
                </div>
            }

            <!--Orders-->
            @Html.Partial(MVC.Desktop.Shared.Views._P_Search_Order, Model)
        </div>
        <!--SearchResult-->
        <ul class="POMPSearchResultsList">
            @foreach (MarketPlace.Models.Provider.ProviderLiteViewModel oSearchItem in Model.ProviderSearchResult)
            {
                <li>
                    @Html.Partial(MVC.Desktop.Shared.Views._P_Search_Result_Item, new Tuple<MarketPlace.Models.Provider.ProviderSearchViewModel, MarketPlace.Models.Provider.ProviderLiteViewModel>(Model, oSearchItem))
                </li>
            }
        </ul>
        <div class="POMPSearchResultsPager">
            <!--Pager-->
            @Html.Partial(MVC.Desktop.Shared.Views._P_Search_Result_Pager, Model)
        </div>
    }
    else
    {
        <div id="POMPNotFoundResults">No se encontraron resultados</div>
    }
}

