@model MarketPlace.Models.Provider.ProviderLiteViewModel

@if (Model != null && Model.RelatedProvider != null)
{
    <div>
        <!--Comparison item-->
        <div class="POMPSearchResultStatusCertified">
            <!--Check certificacion-->
            @if (Model.ProviderStatusId.ToString() == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified].Value)
            {
                <img class="SelGenericTooltip" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
            }
        </div>
        <div>
            <div>
                <img src="@Model.ProviderLogoUrl" />
            </div>
            <div>
                <label><span>@Model.RelatedProvider.RelatedCompany.CompanyName</span></label>
                <label><span>@Model.RelatedProvider.RelatedCompany.IdentificationType.ItemName :</span> @Model.RelatedProvider.RelatedCompany.IdentificationNumber</label>
            </div>
            <div>
                <div>
                    @if (Model.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.ShowAlert)
                    {
                        <img class="SelGenericTooltip POMPSearchResultProvAlert" title="Este proveedor está en listas restrictivas" />
                    }
                </div>
                <a href="javascript:Provider_SearchObject.RemoveCompareProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');">
                    <img class="SelGenericTooltip" title="Quitar de la comparación" />
                </a>
            </div>
        </div>
        <div>
            <!--Actions for related provider -->
            <ul>
                <li>
                    <a href="javascript:Provider_SearchObject.RemoveCompareProvider('@Model.RelatedProvider.RelatedCompany.CompanyPublicId');" title="">Quitar de la comparación</a>
                </li>
                <li>
                    <a href="@(Url.RouteUrl
                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                        new
                        {
                            controller = MVC.Provider.Name,
                            action = MVC.Provider.ActionNames.GIProviderInfo,
                            ProviderPublicId = Model.RelatedProvider.RelatedCompany.CompanyPublicId}
                        ))">Ver detalle</a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div>
        <!--Comparison item template-->
        <div id="Search_Compare_Item_Certified_{ProviderPublicId}" class="POMPSearchResultStatusCertified">
            <!--Check certificacion-->
            <img class="SelGenericTooltip" title="Proveedor validado" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_ProviderStatus_Certified_Logo].Value" />
        </div>
        <div>
            <div>
                <img src="{ProviderLogoUrl}" />
            </div>
            <div>
                <label><span>{CompanyName}</span></label>
                <label><span>{IdentificationType} :</span> {IdentificationNumber}</label>
            </div>
            <div>
                <div id="Search_Compare_Item_BlackList_{ProviderPublicId}">
                    <img class="SelGenericTooltip POMPSearchResultProvAlert" title="Este proveedor está en listas restrictivas" />
                </div>
                <a href="javascript:Provider_SearchObject.RemoveCompareProvider('{ProviderPublicId}');">
                    <img class="SelGenericTooltip" title="Quitar de la comparación" />
                </a>
            </div>
        </div>
        <div>
            <!--Actions for related provider -->
            <ul>
                <li>
                    <a href="javascript:Provider_SearchObject.RemoveCompareProvider('{ProviderPublicId}');" title="">Quitar de la comparación</a>
                </li>
                <li>
                    <a href="@(Url.RouteUrl
                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                        new
                        {
                            controller = MVC.Provider.Name,
                            action = MVC.Provider.ActionNames.GIProviderInfo,
                        }) + "?ProviderPublicId={ProviderPublicId}")">Ver detalle</a>
                </li>
            </ul>
        </div>
    </div>
}








