@model MarketPlace.Models.Provider.ProviderSearchViewModel

@{
    List<Tuple<string, string>> lstSearchFilter = Model.GetlstSearchFilter();
}

@if (Model.RenderScripts)
{
    <div>
        <ul>
            @*Economic activity*@
            @if (Model.ProviderFilterResult.Any(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.EconomicActivity))
            {
                <li>
                    <span>Actividad economica</span>
                    <ul>
                        @foreach (var oFilterItem in Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.EconomicActivity).OrderByDescending(x => x.Quantity).ToList())
                        {
                            <li>
                                @if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ItemId.ToString() && x.Item2 == oFilterItem.FilterValue.ItemId.ToString()))
                                {
                                    <input type="checkbox" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" />
                                }
                                <span>@oFilterItem.FilterValue.ItemName (@oFilterItem.Quantity) </span>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (Model.ProviderFilterResult.Any(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.CustomEconomicActivity))
            {
                <li>
                    <span>Actividad economica personalizada</span>
                    <ul>
                        @foreach (var oFilterItem in Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.CustomEconomicActivity).OrderByDescending(x => x.Quantity).ToList())
                        {
                            <li>
                                @if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ItemId.ToString() && x.Item2 == oFilterItem.FilterValue.ItemId.ToString()))
                                {
                                    <input type="checkbox" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" />
                                }
                                <span>@oFilterItem.FilterValue.ItemName (@oFilterItem.Quantity) </span>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (Model.ProviderFilterResult.Any(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.City))
            {
                <li>
                    <span>Ciudad</span>
                    <ul>
                        @foreach (var oFilterItem in Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.City).OrderByDescending(x => x.Quantity).ToList())
                        {
                            <li>
                                @if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ItemId.ToString() && x.Item2 == oFilterItem.FilterValue.ItemId.ToString()))
                                {
                                    <input type="checkbox" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" />
                                }
                                <span>@oFilterItem.FilterValue.ItemName (@oFilterItem.Quantity) </span>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (Model.ProviderFilterResult.Any(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.IsRelatedProvider))
            {
                <li>
                    <span>Mis proveedores</span>
                    <ul>
                        @foreach (var oFilterItem in Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.IsRelatedProvider).OrderByDescending(x => x.Quantity).ToList())
                        {
                            <li>
                                @if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ItemId.ToString() && x.Item2 == oFilterItem.FilterValue.ItemId.ToString()))
                                {
                                    <input type="checkbox" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" />
                                }
                                <span>@oFilterItem.FilterValue.ItemName (@oFilterItem.Quantity) </span>
                            </li>

                                break;
                        }
                    </ul>
                </li>
            }
            <li>
                <span>Estado</span>
                <ul>
                    @foreach (var oFilterItem in Model.ProviderOptions.Where(x => x.CatalogId == (int)MarketPlace.Models.General.enumCatalog.ProviderStatus).OrderBy(x => x.ItemId).ToList())
                    {
                        var cccc = Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.ProviderStatus && x.FilterValue.ItemId == oFilterItem.ItemId).Select(x => x.Quantity).DefaultIfEmpty(0).FirstOrDefault();
                        
                        <li>
                            @if (lstSearchFilter.Any(x => x.Item1 == ((int)MarketPlace.Models.General.enumFilterType.ProviderStatus).ToString() && x.Item2 == oFilterItem.ItemId.ToString()))
                            {
                                <input type="checkbox" checked="checked" />
                            }
                            else
                            {
                                <input type="checkbox" />
                            }
                            <span>@oFilterItem.ItemName (@(Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumFilterType.ProviderStatus && x.FilterValue.ItemId == oFilterItem.ItemId).Select(x => x.Quantity).DefaultIfEmpty(0).FirstOrDefault())))</span>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
}
