@model MarketPlace.Models.Project.ProjectViewModel

@if (!Model.RenderScripts)
{
    List<MarketPlace.Models.Project.EvaluationItemViewModel> oEvaluationCriteria = Model.RelatedProjectConfig.GetEvaluationCriteria();

    <div>
        <ul>
            <li>
                <ul>
                    <li>
                        <span>Criterio</span>
                    </li>
                    <li>
                        <span>Peso</span>
                    </li>
                    <li>
                        <span>Puntos obtenidos</span>
                    </li>
                </ul>
            </li>
            @foreach (var oCriteria in oEvaluationCriteria)
            {
                <li>
                    <ul>
                        <li>
                            <span>@oCriteria.EvaluationItemName</span>
                        </li>
                        <li>
                            <span>@oCriteria.EvaluationWeight</span>
                        </li>
                        <li>
                            <span></span>
                        </li>
                    </ul>
                </li>
            }
            <li>
                <ul>
                    <li>
                        <span>Resultado</span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <span>el total</span>
                    </li>
                </ul>
            </li>
        </ul>

        <label class="POMPProviderVerDetalle">
            <a href="">Ver todas las experiencias</a>
        </label>
    </div>



    @*//get evaluation areas
        var oEvaluationAreas = Model.RelatedProjectConfig.GetEvaluationAreas();

        <div>
            @if (oEvaluationAreas != null && oEvaluationAreas.Count > 0)
            {
                foreach (var oAreaItem in oEvaluationAreas)
                {
                    //get evaluation items groups
                    //var oEvaluationCriteria = Model.RelatedProjectConfig.GetEvaluationCriteria(oAreaItem.EvaluationItemId);

                    //get area ratting
                    decimal oItemRatting = Model.CurrentProjectProvider.GetRatting(oAreaItem.EvaluationItemId);


                    <div id="divAreaItem_@oAreaItem.EvaluationItemId">
                        <!--Header Area-->
                        <div>
                            <span>@oAreaItem.EvaluationItemName</span>
                            @Html.Partial(MVC.Desktop.Shared.Views._PJ_EvaluationItemResult, new Tuple<MarketPlace.Models.General.enumEvaluationItemUnitType, decimal, decimal>(oAreaItem.EvaluationItemUnit, oItemRatting, oAreaItem.AprobalPercent))
                        </div>
                        <!--Items Area-->
                        <div>
                            @foreach (var oEvaluationCriteriaItem in oEvaluationCriteria.OrderBy(ecr => ecr.Item2))
                            {
                                @(Html.Partial(MVC.Desktop.Shared.Views._PJ_ProjectDetail_Provider_ItemCriteria_1404001.
                                                    Replace("1404001", ((int)oEvaluationCriteriaItem.Item1).ToString()),
                                                new Tuple<MarketPlace.Models.Project.ProjectViewModel, List<MarketPlace.Models.Project.EvaluationItemViewModel>>
                                                (Model,
                                                    oEvaluationCriteriaItem.Item3)))
                            }
                        </div>
                    </div>
                }
            }
        </div>*@
}

