@model MarketPlace.Models.Provider.ProviderSearchViewModel

@{
    List<Tuple<string, string>> lstSearchFilter = Model.GetlstSearchFilter();

}

@if (!Model.RenderScripts)
{
    if (Model.ProviderFilterResult != null)
    {
        <span class="POMPSideBlockTitle">Filtrar por:</span>
        <ul class="POMPFilterCategoryList">
            @if (Model.ProviderFilterResult.Any(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumProjectFilter.Responsible))
            {
                <li>
                    <span>Resposable</span>
                    <ul>
                        @foreach (var oFilterItem in Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumProjectFilter.Responsible).ToList())
                        {
                            <li>
                                @if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ItemId.ToString() && x.Item2 == oFilterItem.FilterValue.ItemId.ToString()))
                                {
                                    <input type="checkbox" checked="checked" onchange="javascript: Project_SearchObject.Search({SearchFilter:{Enable:false,Value:'@(oFilterItem.FilterType.ItemId + ";" + oFilterItem.FilterValue.ItemId)'}});" />
                                }
                                else
                                {
                                    <input type="checkbox" onchange="javascript: Project_SearchObject.Search({SearchFilter:{Enable:true,Value:'@(oFilterItem.FilterType.ItemId + ";" + oFilterItem.FilterValue.ItemId)', }});" />
                                }
                                <span>@oFilterItem.FilterValue.ItemName (@oFilterItem.Quantity) </span>
                            </li>
                        }
                    </ul>
                </li>

            }
            @if (Model.ProviderFilterResult.Any(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumProjectFilter.ProcessType))
            {
                <li>
                    <span>Proceso</span>
                    <ul>
                        @foreach (var oFilterItem in Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumProjectFilter.ProcessType).ToList())
                        {
                            <li>
                                @if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ItemId.ToString() && x.Item2 == oFilterItem.FilterValue.ItemId.ToString()))
                                {
                                    <input type="checkbox" checked="checked" onchange="javascript: Project_SearchObject.Search({SearchFilter:{Enable:false,Value:'@(oFilterItem.FilterType.ItemId + ";" + oFilterItem.FilterValue.ItemId)'}});" />
                                }
                                else
                                {
                                    <input type="checkbox" onchange="javascript: Project_SearchObject.Search({SearchFilter:{Enable:true,Value:'@(oFilterItem.FilterType.ItemId + ";" + oFilterItem.FilterValue.ItemId)'}});" />
                                }
                                <span>@oFilterItem.FilterValue.ItemName (@oFilterItem.Quantity) </span>
                            </li>
                        }
                    </ul>
                </li>

            }
            @if (Model.ProviderFilterResult.Any(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumProjectFilter.Status))
            {
                <li>
                    <span>Estado</span>
                    <ul>
                        @foreach (var oFilterItem in Model.ProviderFilterResult.Where(x => x.FilterType.ItemId == (int)MarketPlace.Models.General.enumProjectFilter.Status).ToList())
                        {
                            <li>
                                @if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ItemId.ToString() && x.Item2 == oFilterItem.FilterValue.ItemId.ToString()))
                                {
                                    <input type="checkbox" checked="checked" onchange="javascript: Project_SearchObject.Search({SearchFilter:{Enable:false,Value:'@(oFilterItem.FilterType.ItemId + ";" + oFilterItem.FilterValue.ItemId)'}});" />
                                }
                                else
                                {
                                    <input type="checkbox" onchange="javascript: Project_SearchObject.Search({SearchFilter:{Enable:true,Value:'@(oFilterItem.FilterType.ItemId + ";" + oFilterItem.FilterValue.ItemId)'}});" />
                                }
                                <span>@oFilterItem.FilterValue.ItemName (@oFilterItem.Quantity) </span>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }
    else
    {
        <div>Esta busqueda no tiene filtros</div>
    }
}
