@model MarketPlace.Models.Project.ProjectSearchViewModel

<!--ESTA ES LA LISTA DE RESULTADOS DE LA BUSQUEDA DE PROVEEDORES-->
<div class="POMPSearchResultLineOne">
    <!--Search Item-->

    <div class="POMPSearchResultProvDataWrapper SearchProject">
        <label class="POMPProjectBidSearchProject">
            <span><a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Project.Name,
                                action = MVC.Project.ActionNames.ProjectDetail,
                                ProjectPublicId = Model.ProjectPublicId
                            }))">@Model.ProjectName</a></span>
        </label>
        <label class="POMPProjectBidSearchProject">
            @{switch (Model.ProjectStatus.ToString())
            {
                case ("Open"):
                    <span>Estado: Abierto</span>
                    break;
                case ("Approval"):
                <span>Estado: Pendiente Por Aprobación</span>
                    break;
                case ("OpenRefusal"):
                <span>Estado: Rechazado</span>
                    break;
                case ("Award"):
                <span>Estado: Pendiente Por Adjudicación</span>
                    break;
                case ("CloseLose"):
                <span>Estado: Cerrado</span>
                    break;
                case ("CloseWin"):
                <span>Estado: Adjudicado</span>
                    break;
            }
            }
        </label>
        <label class="POMPProjectBidSearchProject"><span>Fecha: @Model.LastModify</span></label>
        <label class="POMPProjectBidSearchProject">
            <span>
                Tipo: @{
                    if (Model.RelatedProject.RelatedProjectConfig != null)
                    {
                        @Model.RelatedProject.RelatedProjectConfig.ItemName
                    }}
            </span>
        </label>
        <div class="POMPProjectBidSearchProjectDetail">
            <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Project.Name,
                                action = MVC.Project.ActionNames.ProjectDetail,
                                ProjectPublicId = Model.ProjectPublicId
                            }))">Ver detalle</a>
        </div>
    </div>

</div>
