@model MarketPlace.Models.Project.ProjectViewModel

@{
    var oEvaluationAreas = Model.RelatedProjectConfig.GetEvaluationAreas();
}

@if (!Model.RenderScripts)
{
    if (Model.RelatedProjectProvider != null && Model.RelatedProjectProvider.Count > 0)
    {
        <ul class="POMPProjectBidGridWrapper">
            <!--evaluation title-->
            <li>
                <ul class="POMPProjectBidProviderAreaGrid">
                    <li><label>@Model.ProjectName</label></li>
                    @if (oEvaluationAreas != null && oEvaluationAreas.Count > 0)
                    {
                        foreach (var oAreaItem in oEvaluationAreas)
                        {
                            <li>
                                <label>@oAreaItem.EvaluationItemName <span>@oAreaItem.EvaluationItemUnitName</span></label>
                            </li>
                        }
                    }
                    <li><label>Acciones</label></li>
                </ul>
            </li>

            @foreach (var oProjectProvider in Model.RelatedProjectProvider)
            {
                MarketPlace.Models.General.enumApprovalStatus? oApprovalProviderStatus = oProjectProvider.ApprovalStatus;

                <li>
                    <ul class="POMPProjectBidProviderAreaGrid ProviderRowes">
                        <li>
                            <!--Render provider basic info-->
                            @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderLite, oProjectProvider.RelatedProvider.RelatedLiteProvider)
                            @if (oApprovalProviderStatus != null &&
                                oApprovalProviderStatus == MarketPlace.Models.General.enumApprovalStatus.Pending)
                            {
                                <div style="width:5px;height:5px;border:solid 1px red;" class="SelGenericTooltip" title="Pendiente por aprobación"></div>
                            }
                            else if (oApprovalProviderStatus != null &&
                                    oApprovalProviderStatus == MarketPlace.Models.General.enumApprovalStatus.Approved)
                            {
                                <div style="width:5px;height:5px;border:solid 1px red;" class="SelGenericTooltip" title="Aprobado"></div>
                            }
                            else if (oApprovalProviderStatus != null &&
                                    oApprovalProviderStatus == MarketPlace.Models.General.enumApprovalStatus.Rejected)
                            {
                                <div style="width:5px;height:5px;border:solid 1px red;" class="SelGenericTooltip" title="Rechazado"></div>
                            }
                            else if (oApprovalProviderStatus != null &&
                                    oApprovalProviderStatus == MarketPlace.Models.General.enumApprovalStatus.Award)
                            {
                                <div style="width:5px;height:5px;border:solid 1px red;" class="SelGenericTooltip" title="Adjudicado"></div>
                            }
                        </li>
                        <!--Render evaluation areas-->
                        @if (oEvaluationAreas != null && oEvaluationAreas.Count > 0)
                        {
                            foreach (var oAreaItem in oEvaluationAreas)
                            {
                                MarketPlace.Models.General.enumApprovalStatus? oApprovalAreaStatus = oProjectProvider.GetApprovalStatusByArea(oAreaItem.EvaluationItemId);
                                string oEvalStyle = string.Empty, oEvalResult = string.Empty, oEvalValue = string.Empty;
                                decimal oRatting = oProjectProvider.GetRatting(oAreaItem.EvaluationItemId);

                                switch (oAreaItem.EvaluationItemUnit)
                                {
                                    case MarketPlace.Models.General.enumEvaluationItemUnitType.LooseWin:
                                        if (oRatting >= oAreaItem.AprobalPercent)
                                        {
                                            oEvalStyle = "POMP_ProjectDetail_Win";
                                            oEvalResult = "Pasa";
                                        }
                                        else
                                        {
                                            oEvalStyle = "POMP_ProjectDetail_Lose";
                                            oEvalResult = "No Pasa";
                                        }
                                        break;
                                    case MarketPlace.Models.General.enumEvaluationItemUnitType.Percent:
                                        if (oRatting >= oAreaItem.AprobalPercent)
                                        {
                                            oEvalStyle = "POMP_ProjectDetail_Win";
                                            oEvalResult = "Pasa";
                                            oEvalValue = oRatting.ToString("#,0.##") + " %";
                                        }
                                        else
                                        {
                                            oEvalStyle = "POMP_ProjectDetail_Lose";
                                            oEvalResult = "No Pasa";
                                            oEvalValue = oRatting.ToString("#,0.##") + " %";
                                        }
                                        break;
                                    case MarketPlace.Models.General.enumEvaluationItemUnitType.Informative:
                                        oEvalStyle = "POMP_ProjectDetail_Win";
                                        oEvalResult = "Informativo";
                                        oEvalValue = oRatting.ToString("#,0.##");
                                        break;
                                    default:
                                        break;
                                }

                                <li class="@oEvalStyle">
                                    <span>@oEvalValue</span>
                                    <span>@oEvalResult</span>
                                    @if (oApprovalAreaStatus != null &&
                                        oApprovalAreaStatus == MarketPlace.Models.General.enumApprovalStatus.Pending)
                                    {
                                        <div style="width:5px;height:5px;border:solid 1px red;" class="SelGenericTooltip" title="Pendiente por aprobación"></div>
                                    }
                                    else if (oApprovalAreaStatus != null &&
                                            oApprovalAreaStatus == MarketPlace.Models.General.enumApprovalStatus.Approved)
                                    {
                                        <div style="width:5px;height:5px;border:solid 1px red;" class="SelGenericTooltip" title="Aprobado"></div>
                                    }
                                    else if (oApprovalAreaStatus != null &&
                                            oApprovalAreaStatus == MarketPlace.Models.General.enumApprovalStatus.Rejected)
                                    {
                                        <div style="width:5px;height:5px;border:solid 1px red;" class="SelGenericTooltip" title="Rechazado"></div>
                                    }
                                </li>
                            }
                        }
                        <li>
                            <!--Render provider actions-->
                            <ul>
                                <li>
                                    <a href="@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                                                new
                                                {
                                                    controller = MVC.Project.Name,
                                                    action = MVC.Project.ActionNames.ProjectProviderDetail,
                                                    ProjectPublicId = Model.ProjectPublicId,
                                                    ProviderPublicId = oProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                                                }))">Ver detalle</a>
                                </li>
                                @if (oApprovalProviderStatus == null &&
                                    (Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.Open ||
                                    Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.OpenRefusal))
                                {
                                    <li>
                                        <a href="javascript:Project_ProjectDetailObject.ShowRequestApprovalProject('@oProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId');">Solicitar aprobación</a>
                                    </li>
                                }
                                else if (Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.Approval &&
                                        oApprovalProviderStatus != null &&
                                        oApprovalProviderStatus == MarketPlace.Models.General.enumApprovalStatus.Pending)
                                {
                                    <li>
                                        <span>Pendiente por aprobación</span>
                                    </li>
                                }
                                else if (Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.Award &&
                                        oApprovalProviderStatus != null &&
                                        oApprovalProviderStatus == MarketPlace.Models.General.enumApprovalStatus.Approved)
                                {
                                    <li>
                                        <a href="javascript:Project_ProjectDetailObject.ShowAwardProject();">Adjudicar</a>

                                        <!--template award provider-->
                                        <div style="display:none;">
                                            <div id="ProjectDetail_ProviderAwardDialog" title="Adjudicar proceso de selección">
                                                <form id="ProjectDetail_ProviderAwardDialog_Form" action="@Url.Content("~/api/ProjectApi?ProjectAward=true")">
                                                    <ul class="POMPProjectBidEditDialog">
                                                        <li>
                                                            <span>Nota de adjudicación:</span>
                                                            <textarea name="ProjectInfo_@(((int)MarketPlace.Models.General.enumProjectInfoType.AwardText).ToString())_" placeholder="Nota de adjudicación" required validationmessage="La nota de adjudicación es obligatoria es obligatoria"></textarea>
                                                        </li>
                                                    </ul>
                                                    <input type="hidden" name="ProjectPublicId" value="@Model.ProjectPublicId" />
                                                    <input type="hidden" name="ProjectName" value="@Model.ProjectName" />
                                                    <input type="hidden" name="ProjectConfig" value="@Model.RelatedProjectConfig.ProjectConfigId" />
                                                    <input type="hidden" name="ProjectStatus" value="@(((int)MarketPlace.Models.General.enumProjectStatus.CloseWin).ToString())" />
                                                    <input type="hidden" name="ProjectName" value="@Model.ProjectName" />

                                                    <input type="hidden" name="ProjectCompanyId" value="@oProjectProvider.RelatedProjectProvider.ProjectCompanyId" />
                                                    <input type="hidden" name="ProviderPublicId" value="@oProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId" />
                                                    <input type="hidden" name="ProjectCompanyInfo_@(((int)MarketPlace.Models.General.enumProjectCompanyInfoType.ApprovalStatus).ToString())_@(oProjectProvider.ApprovalStatusId.ToString())" value="@(((int)MarketPlace.Models.General.enumApprovalStatus.Award).ToString())" />
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else if (Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.CloseWin &&
                                        oApprovalProviderStatus != null &&
                                        oApprovalProviderStatus == MarketPlace.Models.General.enumApprovalStatus.Award)
                                {
                                    <li>
                                        <!--actions-->
                                        <a href="javascript:Survey_ProgramObject.ShowProgram({ProviderPublicId:'@oProjectProvider.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId',SurveyStatus:'@(((int)MarketPlace.Models.General.enumSurveyStatus.Program).ToString())'});">Programar evaluación de desempeño</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    }

    <!--project templates-->
    <div style="display:none;">

        @if (Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.Open ||
            Model.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.OpenRefusal)
        {
            <div id="ProjectDetail_RequestApprovalDialog" title="Solicitar aprobación">
                <p>Al solicitar aprobacción sobre el proveedor el proceso de selección sera cerrado hasta recibir respuesta de los diferentes aprobadores, esta seguro que desea realizar esta acción?</p>
            </div>
        }

    </div>
}

