@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts && Model.RelatedSurvey != null)
{
    string strUrlDetail = Url.RouteUrl
        (MarketPlace.Models.General.Constants.C_Routes_Default,
        new
        {
            controller = MVC.Provider.Name,
            action = MVC.Provider.ActionNames.SVSurveyDetail,
            ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
            SurveyPublicId = Model.RelatedSurvey.SurveyPublicId
        });

    string strjsUpdateObject = string.Empty;
    if (Model.RelatedSurvey.SurveyStatus == MarketPlace.Models.General.enumSurveyStatus.Program)
    {
        strjsUpdateObject = (new System.Web.Script.Serialization.JavaScriptSerializer()).
            Serialize(new
            {
                SurveyStatus = (int)Model.RelatedSurvey.SurveyStatus,

                SurveyPublicId = Model.RelatedSurvey.SurveyPublicId,
                ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,

                SurveyConfigId = Model.RelatedSurvey.SurveyConfigId,
                SurveyConfigName = Model.RelatedSurvey.SurveyConfigName,

                SurveyEvaluator = Model.RelatedSurvey.SurveyEvaluator,
                SurveyEvaluatorId = Model.RelatedSurvey.SurveyEvaluatorId,

                SurveyIssueDate = Model.RelatedSurvey.SurveyIssueDate,
                SurveyIssueDateId = Model.RelatedSurvey.SurveyIssueDateId,
            });

    }

    <div>
        <!--evaluation basic info-->
        <div class="POMPResultsBasicInfo">
            <ul>
                <li>
                    <a href="@strUrlDetail">
                        @((string.IsNullOrEmpty(Model.RelatedSurvey.SurveyConfigGroup) ? string.Empty : (Model.RelatedSurvey.SurveyConfigGroup + " - ")) + Model.RelatedSurvey.SurveyConfigName)
                    </a>
                    <br />
                    <span>Evaluador: @Model.RelatedSurvey.SurveyEvaluator</span>

                    <span>Fecha de programación: @Model.RelatedSurvey.SurveyIssueDate</span>
                </li>
                <li>
                    <div>
                        <div class="rateit" data-rateit-value="@Model.RelatedSurvey.SurveyRating.ToString("0.##").Replace(",", ".")" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        <span>(@Model.RelatedSurvey.SurveyRating.ToString("0.##").Replace(",", "."))</span>
                    </div>

                    <span>Responsable: @Model.RelatedSurvey.SurveyResponsible</span>

                    <span>Ultima actualización: @Model.RelatedSurvey.SurveyLastModify</span>
                </li>
                <li>
                    <div class="selProgressBar" data-value="@Model.RelatedSurvey.SurveyProgress"></div>

                    <span>Estado: @Model.RelatedSurvey.SurveyStatusName</span>
                </li>
            </ul>
        </div>
        <!--evaluation actions-->
        <div class="POMPResultsActions">
            <ul>
                @if (Model.RelatedSurvey.SurveyStatus == MarketPlace.Models.General.enumSurveyStatus.Program &&
                    Model.RelatedSurvey.SurveyResponsible.Replace(" ", "").ToLower() ==
                    MarketPlace.Models.General.SessionModel.CurrentLoginUser.Email.Replace(" ", "").ToLower())
                {
                    <li>
                        <a href="javascript:Survey_ProgramObject.ShowProgram(@strjsUpdateObject);">
                            Editar
                        </a>
                    </li>
                }
                @if (Model.RelatedSurvey.SurveyStatus != MarketPlace.Models.General.enumSurveyStatus.Close &&
                    Model.RelatedSurvey.SurveyEvaluator.Replace(" ", "").ToLower() ==
                    MarketPlace.Models.General.SessionModel.CurrentLoginUser.Email.Replace(" ", "").ToLower())
                {
                    <li>
                        <a href="@(Url.RouteUrl
                                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                                    new
                                    {
                                        controller =MVC.Survey.Name,
                                        action =MVC.Survey.ActionNames.Index,
                                        SurveyPublicId = Model.RelatedSurvey.SurveyPublicId
                                    }))" target="_blank">Responder evaluación</a>
                    </li>
                }
                <li>
                    <a href="@strUrlDetail">Ver detalle</a>
                </li>
            </ul>
        </div>
    </div>
}

