@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Consulta Individual";
    Model.RenderScripts = false;
}
<div class="POMPSearchResultsPager">
    <!--Pager-->
    @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Result_Pager, Model.RelatedThidKnowledgeSearch)
</div>
<div class="container-fluid POMPTKDetailContainer" id="TKDetailContainer">
    @if (Model.Group != null && Model.Group.Count >= 0)
    {
        foreach (var col in Model.Group)
        {
            if (col.Item1 == "SIN COINCIDENCIAS")
            {
                <div class="row">
                    <div class="col-sm-12 col-lg-12 POMPTKDetailTitle"><strong>@col.Item1</strong></div>
                </div>
                <br />
                <div class="row">

                    <div class="col-sm-4 POMPProviderBoxInfo text-left"><strong>Nombre Consultado</strong></div>
                    <div class="col-sm-4 POMPProviderBoxInfo text-left"><strong>Identificación Consultada</strong></div>

                </div>


                <br />
                foreach (var subItem in col.Item2)
                {
                    <div class="row POMPBorderbottom">
                        <div class="col-sm-4 POMPProviderBoxInfo text-left"><p>@subItem.DetailInfo.Where(x => x.ItemInfoType.ItemId == (int)MarketPlace.Models.General.enumThirdKnowledgeColls.RequestName).Select(x => x.Value).FirstOrDefault()</p></div>
                        <div class="col-sm-4 POMPProviderBoxInfo text-left"><p>@subItem.DetailInfo.Where(x => x.ItemInfoType.ItemId == (int)MarketPlace.Models.General.enumThirdKnowledgeColls.IdNumberRequest).Select(x => x.Value).FirstOrDefault()</p></div>
                        <div class="col-sm-4 POMPProviderBoxInfo text-right">
                            <p>
                                <a href="@(Url.RouteUrl
                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                            new
                                            {
                                                controller = MVC.ThirdKnowledge.Name,
                                                action = MVC.ThirdKnowledge.ActionNames.TKDetailSingleSearch,
                                                QueryBasicPublicId = subItem.QueryBasicPublicId,
                                                ReturnUrl = Url.Action
                                                        (MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeDetail,
                                                        MVC.ThirdKnowledge.Name,
                                                        new
                                                        {
                                                            QueryPublicId = Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.Where(x => x.QueryPublicId != null).Select(x => x.QueryPublicId).DefaultIfEmpty(string.Empty).FirstOrDefault(),
                                                            InitDate = Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd"),
                                                            EndDate = Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd"),
                                                        })
                                                }))">Ver Detalle</a>
                            </p>
                        </div>

                    </div>
                    <br />
                }
                <br />
                <br />
            }
            else
            {
                <div class="row">
                    <div class="col-sm-12 col-lg-12 POMPTKDetailTitle"><strong>@col.Item1</strong></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-1 POMPProviderBoxInfo text-center"><strong>Prioridad</strong></div>
                    <div class="col-sm-1 POMPProviderBoxInfo text-center"><strong>Estado</strong></div>
                    <div class="col-sm-4 POMPProviderBoxInfo text-center"><strong>Nombre</strong></div>
                    <div class="col-sm-2 POMPProviderBoxInfo text-center"><strong>Identificación</strong></div>
                    <div class="col-sm-2 POMPProviderBoxInfo text-center"><strong>Alias</strong></div>
                </div>
                <br />
                foreach (var subItem in col.Item2)
                {
                    <div class="row POMPBorderbottom">
                        <div class="col-sm-1 POMPProviderBoxInfo text-center"><p>@subItem.Priority</p></div>
                        <div class="col-sm-1 POMPProviderBoxInfo text-center"><p>@(subItem.Status.ToLower() == "true" ? "Activo" : "Inactivo")</p></div>
                        <div class="col-sm-4 POMPProviderBoxInfo text-center"><p>@subItem.NameResult</p></div>
                        <div class="col-sm-2 POMPProviderBoxInfo text-center"><p>@subItem.IdentificationResult</p></div>
                        <div class="col-sm-2 POMPProviderBoxInfo text-center"><p>@subItem.Alias</p></div>
                        <div class="col-sm-2 POMPProviderBoxInfo text-center">
                            <p>
                                <a href="@(Url.RouteUrl
                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                            new
                                            {
                                                controller = MVC.ThirdKnowledge.Name,
                                                action = MVC.ThirdKnowledge.ActionNames.TKDetailSingleSearch,
                                                QueryBasicPublicId = subItem.QueryBasicPublicId,
                                                ReturnUrl = Url.Action
                                                        (MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeDetail,
                                                        MVC.ThirdKnowledge.Name,
                                                        new
                                                        {
                                                            QueryPublicId = Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.Where(x => x.QueryPublicId != null).Select(x => x.QueryPublicId).DefaultIfEmpty(string.Empty).FirstOrDefault(),
                                                            InitDate = Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd"),
                                                            EndDate = Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd"),
                                                        })
                                                }))">Ver Detalle</a>
                            </p>
                        </div>
                    </div>
                    <br />
                }
                <br />
                <br />
            }
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                @{
        if (Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.Count > 0)
        {
            var obbkRQB = Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult.Where(x => x.RelatedQueryBasicInfoModel != null).FirstOrDefault().RelatedQueryBasicInfoModel.Where(i => i.DetailInfo != null).FirstOrDefault();
            <br /><br />
                    <label>LA BÚSQUEDA POR</label>
                    <br />
            if (@obbkRQB.DetailInfo.Where(x => x.ItemInfoType.ItemId == 301013).Select(y => y.Value).DefaultIfEmpty(String.Empty).FirstOrDefault().ToString().Length > 0)
            {
                <label class="POMPNoresultRequestText">Nombre:&nbsp;@obbkRQB.DetailInfo.Where(x => x.ItemInfoType.ItemId == 301013).Select(y => y.Value).DefaultIfEmpty(String.Empty).FirstOrDefault().ToString()</label>
            }
            if (@obbkRQB.DetailInfo.Where(x => x.ItemInfoType.ItemId == 301013).Select(y => y.Value).DefaultIfEmpty(String.Empty).FirstOrDefault().ToString().Length > 0 && @obbkRQB.DetailInfo.Where(x => x.ItemInfoType.ItemId == 301012).Select(y => y.Value).DefaultIfEmpty(String.Empty).FirstOrDefault().ToString().Length > 0)
            {
                <label class="POMPNoresultRequestText">&nbsp; / &nbsp;</label>
            }
            if (@obbkRQB.DetailInfo.Where(x => x.ItemInfoType.ItemId == 301012).Select(y => y.Value).DefaultIfEmpty(String.Empty).FirstOrDefault().ToString().Length > 0)
            {
                <label class="POMPNoresultRequestText">Identificación:&nbsp;@obbkRQB.DetailInfo.Where(x => x.ItemInfoType.ItemId == 301012).Select(y => y.Value).DefaultIfEmpty(String.Empty).FirstOrDefault().ToString()</label>
            }
            <br /><br />
                    <label class="POMPNoresultText">no arrojó coincidencias</label>
        }
        else
        {
            <br /><br />
                    <label>LA BÚSQUEDA</label>
                    <br />
                    <br />
                    <label class="POMPNoresultText">no arrojó coincidencias</label>
        }
                }
            </div>
        </div>
    }
</div>

<div class="POMPSearchResultsPager">
    <!--Pager-->
    @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Result_Pager, Model.RelatedThidKnowledgeSearch)
</div>


