@model MarketPlace.Models.Provider.ProviderViewModel

<label class="POMPSectionTitles">Consulta Individual de Terceros</label>

<div class="container-fluid POMPTKContainerDetail">


@if (Model.RelatedThirdKnowledge.HasPlan)
{
    <div class="row POMPSectionTitlesBox">
            <div class="col-xs-5">
                <label>Periodo Actual @Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().InitDate.ToString("yyyy-MM-dd") -  @Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().EndDate.ToString("yyy-MM-dd")</label>
            </div>
            <div class="col-xs-7 text-right">
                <label>Consultas </label> 
                <label id="ThirdKnowledge_Queries">@Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().TotalQueries</label>
    
                <label>De @Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().AssignedQueries</label>
            </div>
    </div>
}

<form id="ThirdKnowledge_Form" action="@Url.Content("~/api/ThirdKnowledgeApi?TKSingleSearch=true")" method="post">
    <div class="container-fluid POMPTKDetailContainer">
        <input type="text" class="POMPNameSearch" name="Name" value="" placeholder="Buscar por Nombre y Apellidos" />
        <input type="text" class="POMPIDSearch" name="IdentificationNumber" value="" placeholder="Buscar por Número de identificación" />
        <input type="hidden" name="UpsertRequest" value="true" />
        @{
            if (Model.RelatedThirdKnowledge.HasPlan)
            {
                <a class="POMPButtons" href="javascript:Third_KnowledgeSimpleSearchObject.SimpleSearch();">Consultar</a>
            }
            else
            {
                <label>Usted no tiene ningún plan habilitado, Por favor comuniquese con nosotros al Tel: 6465555 Ext: 16602</label>   
            }
        }
        
    </div>
    <div class="" >
        <div id="ThirdKnowledge_DivResult" class="POMPProviderInfoMultipleValues"></div>       
    </div>
</form>

<br />
</div>

<div class="row POMPPoweredby">
    <div class="col-ms-12 text-right">
        <label>Powered by Risk Consulting</label>
    </div>
</div> 

@*Templates*@
<div id="loading"></div>
    @{
        string UrlReturn = Url.Action(MVC.ThirdKnowledge.ActionNames.TKDetailSingleSearch, MVC.ThirdKnowledge.Name);
    }

<script type="text/javascript">
    
    $(document).ready(function () {
        Third_KnowledgeSimpleSearchObject.Init({
            ObjectId: 'ThirdKnowledge',
            Url: '@UrlReturn',
        });
    });
</script>


