@model MarketPlace.Models.Provider.ProviderViewModel

<label class="POMPSectionTitles">Consulta Individual de terceros</label>

<form method="post" action="@(Url.Action(MVC.ThirdKnowledge.ActionNames.TKSingleSearch,MVC.ThirdKnowledge.Name))">
    <div>
        <input type="text" class="POMPNameSearch" name="Name" value="" placeholder="Buscar por Nombre y Apellidos" />
        <input type="text" class="POMPIDSearch" name="IdentificationNumber" value="" placeholder="Buscar por Número de identificación" />
        <input type="hidden" name="UpsertRequest" value="true" />
        @{
            if (Model.RelatedThirdKnowledge.HasPlan)
            {
                <input type="submit" class="POMPConsultButton" name="Consultar" value="Consultar" id="ConsultarId" />
            }
            else
            {
                <label>Usted no tiene un plán habilitado, por favor contactenos</label>   
            }
        }
        
    </div>
</form>

@*<div>@Model.ResultTest</div>*@

@{   
    
    if (Model.RelatedThirdKnowledge != null && Model.RelatedThirdKnowledge.CollumnsResult != null && Model.RelatedThirdKnowledge.CollumnsResult.Count > 0)
    {
        Model.RelatedThirdKnowledge.CollumnsResult = Model.RelatedThirdKnowledge.CollumnsResult.Where(x => x.Count() > 1).ToList();
        if (Model.RelatedThirdKnowledge.CollumnsResult.Count != 0)
        {
            <div class="POMPProviderInfoMultipleValues">
                <div class="POMPWrapperColorResult">
                    <span id="POMPResultText">
                        Resultados de la búsqueda:
                    </span>

                    @foreach (var Row in Model.RelatedThirdKnowledge.CollumnsResult)
                    {                                                
                        <div class="POMPContainerResult">
                            <div id="POMPResultName">
                                <p> @Row[4] </p>
                            </div>
                            <div class="POMPResultSection">
                                <p> @Row[3]</p>
                            </div>
                            <div class="POMPResultSection">
                                <p> @Row[1]</p>
                            </div>
                            <div class="POMPResultSection">
                                <p> @Row[6]</p>
                            </div>
                            <div class="POMPResultDownload">
                                <p>Ver Detalle</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
}



