@model MarketPlace.Models.Provider.ProviderViewModel
<label class="POMPSectionTitles">Consulta Masiva de Terceros</label>
<div class="container-fluid">
    @if (Model.RelatedThirdKnowledge.HasPlan)
    {
        <div class="row POMPSectionTitlesBox">
            <div class="col-xs-6">
                <label>Periodo Actual @Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().InitDate.ToString("yyyy-MM-dd") -  @Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().EndDate.ToString("yyy-MM-dd")</label>
            </div>
            <div class="col-xs-4 text-right">

                @if (Model.RelatedThirdKnowledge.CurrentPlanModel.IsLimited)
                {
                    <label>Plan Ilimitado - </label>
                    <label>Total Consultas Realizadas</label>
                    <label id="ThirdKnowledge_Queries">@Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().TotalQueries</label>
                }
                else
                {
                    <label>Consultas </label>
                    <label id="ThirdKnowledge_Queries">@Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().TotalQueries</label>
                    <label>De @Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().AssignedQueries</label>
                }
            </div>

            <div class="col-md-2 text-right">
                <div class="text-center TK-DownloadFile">
                    <a title="Plantilla para Consulta Masiva" class="TK-DownloadFile-a" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_CP_UploadTemplate].Value" target="_new">
                        <img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_ExcelReportIcon].Value" class="TK-DownloadIcon" />
                        <p class="TK-DownloadFile-p">Plantilla</p>
                    </a>
                </div>
            </div>

        </div>
            <div class="row text-center">
                <div class="col-md-12 text-center TK-Uploadpanel">

                    <div class="row TK-UploadpanelText">
                        Carga de Archivos
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-left thumbnail">
                            <input type="file" name="ThirdKnowledge_FileUpload" id="ThirdKnowledge_FileUpload" value="" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center ">
                            <div id="ThirdKnowledge_MessageResult"></div>
                        </div>
                    </div>
                </div>
            </div>
    }
    else
    {
        <div class="row ThirdKnowledge_title">
            <div class="col-md-12 text-left">
                <span>Usted no tiene ningún plan habilitado, Por favor comuniquese con nosotros al Tel: 6465555 Ext: 16602</span>
            </div>
        </div>
    }
</div>

    @{
        string PeriodPublicId = null;
        if (Model.RelatedThirdKnowledge.CurrentPlanModel != null)
        {
            PeriodPublicId = Model.RelatedThirdKnowledge.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().PeriodPublicId;
        }

    }

<script type="text/javascript">
    $(document).ready(function () {
        BaseUrl.Init({
            ApiUrl: '@(Url.Content("~/api"))',
            SiteUrl: '@(Url.Content("~/"))',
            PreviewPdfUrl: '@(Server.UrlDecode(
                    Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                    new
                    {
                        controller = MVC.Base.Name,
                        action = MVC.Base.ActionNames.GetPdfFileBytes,
                        FilePath = "${FilePath}"
                    })))',
        });
        Third_KnowledgeMasiveSearchObject.Init({
                ObjectId: 'ThirdKnowledge',
                CompanyPublicId: '@MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyPublicId',
                PeriodPublicId: '@PeriodPublicId',
            });

    });
</script>


