@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Administrar Opciones del Proveedor";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Administración de información del proveedor</label>
            <a href="@(Url.Action(
                MVC.Administrator.ActionNames.AdminModule,
                MVC.Administrator.Name))">Regresar al listado de módulos</a>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
            <div id="loading"></div>
            <img class="divGrid_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
            <div id="divGridAdminProvider"></div>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._P_ProviderActions, Model);
            }
        </div>
    </div>
</div>

<!--templates-->
<div style="display:none;">

    <div id="divGridAdminProvider_ShortcutToolTipTemplate">
        <img class="divGrid_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
    </div>

    <div id="divGridAdminProvider_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divGridAdminProvider_ViewEnable" type="checkbox" checked="checked" />
    </div>

    <div id="divGridAdminProvider_SearchTemplate">
        <input class="POBOSurveySearchInput" id="divGridAdminProvider_txtSearch" type="text" value="@Request["SearchParam"]" placeholder="Buscar rol por nombre o por cliente" />
        <a class="POBOSearchEvaluations" href="javascript:Admin_CompanyRoleObject.Search();">Buscar</a>
    </div>
</div>

@{ 
    Model.RenderScripts = true;
}

@section inlinescripts{

    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model);

    @{
        string oModuleOptionList = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(Model.ProviderOptions.Where(x => x.CatalogId == 805).ToList());

        string AdminOptionInfoUrl = "";
    }

    <script type="text/javascript">
            $(document).ready(function () {
                Admin_CompanyRoleObject.Init({
                    ObjectId: 'divGridAdminProvider',
                    RoleModuleId: '@(1)',
                    RoleOptionInfoUpsertUrl: '@AdminOptionInfoUrl',
                    ModuleList: @Html.Raw(oModuleOptionList),
                    ObjectType: '@((int)BackOffice.Models.General.enumAdminRole.Option)',
                });
                Admin_CompanyRoleObject.RenderAsync();
            });
    </script>
}