@model BackOffice.Models.Provider.ProviderViewModel

@{
    ViewBag.Title = "Validar Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Validación de listas restrictivas</label>
            <form class="POBOProviderUpsertForm" action="@Url.Action(MVC.Administrator.ActionNames.AdminRLUploadProvider, MVC.Administrator.Name)" method="post" enctype="multipart/form-data">
                <ul class="POBOAdminRestrictiveList">
                    <li>
                        <label>Seleccione un archivo de proveedores, cárguelo en el sistema y luego oprima validar en Listas Restrictivas</label>

                        <label>Archivo a cargar:</label>
                        <input type="file" name="ExcelFile" id="ExcelFile" />
                        <input class="POBOButtons" type="submit" value="Validar en Listas Restrictivas" />

                        @if (!string.IsNullOrEmpty(Request["ErrorFile"]))
                        {
                            <a target="_blank" href="@Request["ErrorFile"]">Ver log de proceso.</a>
                        }
                        @{
                            var stringList = ViewData["UrlReturn"] as List<string>;
                            if (stringList != null && stringList.Count() != 0)
                            {
                                for (int i = 0; i < stringList.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                        <a target="_blank" href="@stringList[i]">Descargar ProviderFile.xls</a>
                                    }
                                    else
                                    {
                                        <a target="_blank" href="@stringList[i]">Descargar LogProvider.xls</a>
                                    }
                                }
                            }
                        }
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts{
    @Html.Partial(MVC.Shared.Views._P_ProviderMenu, Model);
}

