@{
    ViewBag.Title = "Proveedores OnLine - Estadisticas";
    Layout = MVC.Desktop.Shared.Views._Layout;


    /*Get session modules by user*/
    bool IsProviderRatingCreate = false;
    bool IsProviderRatingView = false;

    List<int> Modules = MarketPlace.Models.General.SessionModel.CurrentUserModules();

    Modules.All(x =>
    {
        if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingCreate)
        {
            IsProviderRatingCreate = true;
        }
        if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingView)
        {
            IsProviderRatingView = true;
        }
        return true;
    });

    var email = 0;

    if (!IsProviderRatingCreate && IsProviderRatingView)
    {
        email = MarketPlace.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Where(x => x.ApplicationRoleId != null).Select(x => x.ApplicationRoleId).DefaultIfEmpty(0).FirstOrDefault();
    }

}
@*<div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._ST_StatsMenu, Model)
    </div>*@
<div id="POMPGraphicContainerMain">
    @if (email != 0)
    {
        <div class="POMPGraphicDynamic">
            <div class="POMPHeaderGraphicDynamic">
                <h1>Desempeño por evaluadores</h1>
            </div>
            @Html.Partial(MVC.Desktop.Shared.Views._CH_SurveyByEvaluators)
        </div>
    }
    
    <div class="POMPGraphicDynamic">
        <div class="POMPHeaderGraphicDynamic">
            <h1>Evaluaciones de desempeño por estado año en curso</h1>
        </div>
        @Html.Partial(MVC.Desktop.Shared.Views._CH_Survey)
    </div>
    <div class="POMPGraphicDynamic">
        <div class="POMPHeaderGraphicDynamic">
            <h1>Estado de los proveedores</h1>
        </div>
        @Html.Partial(MVC.Desktop.Shared.Views._CH_StateProviders)
    </div>
    <div class="POMPGraphicDynamic">
        <div class="POMPHeaderGraphicDynamic">
            <h1>Evaluaciones por mes</h1>
        </div>
        @Html.Partial(MVC.Desktop.Shared.Views._CH_SurveyByMonth)
    </div>
</div>