@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Estadísticas de Evaluación de Desempeño";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;

    var email = 0;

    if (MarketPlace.Models.General.SessionModel.CurrentCompany.RelatedUser.FirstOrDefault().RelatedRole.ParentItem != null)
    {
        email = MarketPlace.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Where(x => x.ApplicationRoleId != null).Select(x => x.ApplicationRoleId).DefaultIfEmpty(0).FirstOrDefault();
    }
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <div id="POMPGraphicContainerMain">
            @if (email == 0)
            {
                <div class="POMPGraphicDynamic">
                    <div class="POMPHeaderGraphicDynamic">
                        <h1>Desempeño por Evaluadores</h1>
                    </div>
                    @Html.Partial(MVC.Desktop.Shared.Views._CH_SurveyByEvaluators)
                </div>
            }

            <div class="POMPGraphicDynamic">
                <div class="POMPHeaderGraphicDynamic">
                    <h1>Evaluaciones por Mes</h1>
                </div>
                @Html.Partial(MVC.Desktop.Shared.Views._CH_SurveyByMonth)
            </div>

            <div class="POMPGraphicDynamic">
                <div class="POMPHeaderGraphicDynamic">
                    <h1>Evaluaciones de Desempeño por Estado Año en Curso</h1>
                </div>
                @Html.Partial(MVC.Desktop.Shared.Views._CH_Survey)
            </div>

            <div class="POMPGraphicDynamic">
                <div class="POMPHeaderGraphicDynamic">
                    <h1>Evaluaciones por Tipo</h1>
                </div>
                @Html.Partial(MVC.Desktop.Shared.Views._CH_SurveyByName)
            </div>

        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}