@model DocumentManagement.Models.Customer.UpserCustomerModel

@{
    ViewBag.Title = "Compradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    <div class="DMCustomerForm">
        <form action="@Url.Action(MVC.Customer.ActionNames.UploadProvider, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId})" method="post" enctype="multipart/form-data">
            <div class="DMFormDataWrapper">
                <span class="spanTitleForm">Cargue masivo de proveedores</span>
                <ul>
                    <li><label>Comprador: @Model.RelatedCustomer.Name</label></li>
                    <li><a target="_blank" href="https://s3.amazonaws.com/devproveedoresonline/DocumentManagment/0XlsProvider/ProveedoresCargue.xls">Descargar plantilla</a></li>
                    <li>
                        <span>Archivo a cargar:</span>
                        <input type="file" name="ExcelFile" id="ExcelFile" />
                    </li>
                    @if (DocumentManagement.Models.General.SessionModel.CurrentLoginUser.RelatedApplicationRole.Select(x => x.Role).First() == SessionManager.Models.Auth.enumRole.SystemAdministrator)
                    {
                        <li><input class="BOButtons" type="submit" value="Iniciar carga del archivo" /></li>
                    }
                    @if (!string.IsNullOrEmpty(Request["ErrorFile"]))
                    {
                        <li>
                            <a target="_blank" href="@Request["ErrorFile"]">Ver log de proceso.</a>
                        </li>
                    }
                    @{
                        var stringList = ViewData["UrlReturn"] as List<string>;
                        if (stringList != null && stringList.Count() != 0)
                        {
                            for (int i = 0; i < stringList.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <li><a target="_blank" href="@stringList[i]">Descargar ProviderFile.xls</a></li>
                                }
                                else
                                {
                                    <li><a target="_blank" href="@stringList[i]">Descargar LogProvider.xls</a></li>
                                }
                            }
                        }
                    }

                </ul>
            </div>
            <div class="MoreInfo">
                <label>Tipos de identificación</label>
                <ul>
                    <li>101 - RUT</li>
                    <li>102 - NIT</li>
                    <li>103 - Tax Id</li>
                </ul>
            </div>
        </form>
    </div>
    <div class="DMCustomerForm">
        <form id="frmProviderUpsert" name="frmProviderUpsert" action="@Url.Action(MVC.Customer.ActionNames.UploadProvider, MVC.Customer.Name, new { CustomerPublicId = Model.RelatedCustomer.CustomerPublicId})" method="post" enctype="multipart/form-data">
            <div class="DMFormDataWrapper">
                <span class="spanTitleForm">Cargue individual de proveedores</span>
                <ul>
                    <li>
                        <span class="DMImportant">*</span><label>Razón social</label>
                        <br />
                        <input type="text" name="ProviderName" required />
                    </li>
                    <li>
                        <span class="DMImportant">*</span><label>Tipo de identificación</label>
                        <br />
                        <select name="IdentificationType" required >
                            <option value="101">RUT</option>
                            <option value="102">NIT</option>
                            <option value="103">Tax-id</option>
                        </select>
                    </li>
                    <li>
                        <span class="DMImportant">*</span><label>Número de identificación</label>
                        <br />
                        <input type="text" name="IdentificationNumber" required />
                    </li>
                    <li>
                        <label>Email</label>
                        <br />
                        <input type="text" name="Email" />
                    </li>
                    <li>
                        <label>Código de salesforce (Lead)</label>
                        <br />
                        <input type="text" name="Salesforce" />
                    </li>
                    <li>
                        <input class="BOButtons" type="submit" value="Guardar" />
                    </li>
                </ul>
            </div>
            <div style="display:none;">
                <input type="hidden" name="UpsertAction" value="true" />
            </div>
        </form>
    </div>
</div>