@model DocumentManagement.Models.Customer.UpserCustomerModel

@{
    ViewBag.Title = "Compradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    <div class="DMCustomerForm">
        <span class="spanTitleForm">Formulario @(Model.RelatedForm != null && Model.RelatedForm.Name != null ? Model.RelatedForm.Name : " Nuevo")</span>
        <!--Basic Info-->
        <form action="@Url.Action(MVC.Customer.ActionNames.UpsertForm, MVC.Customer.Name)" method="post">
            <ul class="ulBasicInfo">
                <li>
                    <span>Nombre:</span>
                    <input type="text" id="Name" name="Name" value="@(Model.RelatedForm != null ? Model.RelatedForm.Name : string.Empty)" />
                </li>
                <li>
                    <span>Términos y condiciones:</span>
                    <textarea id="TermsAndConditions" name="TermsAndConditions" rows="4">@(Model.RelatedForm != null ? Model.RelatedForm.TermsAndConditions : string.Empty)</textarea>
                </li>
                <li>
                    <input class="DMButtonsForm" type="submit" value="Guardar" />
                </li>
            </ul>

            <div style="display:none">
                <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                <input type="hidden" name="CustomerPublicId" value="@Model.RelatedCustomer.CustomerPublicId" />
                @if (Model.RelatedForm != null && !string.IsNullOrEmpty(Model.RelatedForm.FormPublicId))
                {
                    <input type="hidden" name="FormPublicId" value="@Model.RelatedForm.FormPublicId" />
                }
            </div>
        </form>

        @if (Model.RelatedForm != null && !string.IsNullOrEmpty(Model.RelatedForm.FormPublicId))
        {
            <!--Logo-->
            <form action="@Url.Action(MVC.Customer.ActionNames.UpsertFormLogo, MVC.Customer.Name, new { CustomerPublicId= Model.RelatedCustomer.CustomerPublicId,FormPublicId=Model.RelatedForm.FormPublicId })" method="post" enctype="multipart/form-data">
                <ul class="ulFormLogo">
                    <li>
                        <span>Logo:</span>
                        <input type="file" id="UploadFile" name="UploadFile" />
                        <img src="@Model.RelatedForm.Logo" />
                    </li>
                    <li>
                        <input class="DMButtonsForm" type="submit" value="Guardar" />
                    </li>
                </ul>

                <div style="display:none">
                    <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                </div>
            </form>

            <!--step grid-->
            <div class="stepGrid">
                <span>Pasos</span>
                <div id="divGridStep"></div>
            </div>

            <!--field grid-->
            <div class="fieldGrid">
                <span>Campos</span>
                <div id="divGridField"></div>
                <input type="hidden" id="divGridField_StepId" value="@(Model.
                    RelatedForm.
                    RelatedStep.
                    Select(x => x.StepId).
                    DefaultIfEmpty(0).
                    FirstOrDefault())" />
            </div>
        }
    </div>

</div>
<div id="template" style="display:none;">
    <!--step templates-->
    <div id="divGridStep_Header">
        <a href="javascript:FormUpsertObject.RenderStepCreate();">Crear paso</a>
    </div>

    <!--field templates-->
    <div id="divGridField_Header">
        <a href="javascript:FormUpsertObject.RenderFieldCreate();">Crear campos</a>
    </div>

</div>

<div id="dialog" style="display:none;">

    <!--step dialogs-->
    <div id="divGridStep_Upsert" title="Edición de pasos">
        <ul>
            <li>
                <span>Nombre:</span> <input type="text" id="divGridStep_Upsert_Name" />
            </li>
            <li>
                <span>Orden:</span> <input type="text" id="divGridStep_Upsert_Position" />
            </li>
            <li>
                <a href="javascript:FormUpsertObject.StepUpsert();">Guardar</a>
            </li>
        </ul>
        <div style="display:none">
            <input type="hidden" id="divGridStep_Upsert_StepId" />
        </div>
    </div>

    <div id="divGridStep_Delete" title="Edición de pasos">
        <div>Esta seguro de borrar este paso</div>
    </div>

    <!--field dialogs-->
    <div id="divGridField_Create" title="Edición de campos">
        <ul>
            <li>
                <span>Nombre:</span> <input type="text" id="divGridField_Create_Name" />
            </li>
            <li>
                <span>Tipo de campo:</span>
                <select id="divGridField_Create_ProviderInfoType"></select>
            </li>
            <li>
                <span>Orden:</span> <input type="text" id="divGridField_Create_Position" />
            </li>
            <li>
                <span>Obligatorio:</span> <input type="checkbox" id="divGridField_Create_IsRequired" />
            </li>
            <li>
                <a href="javascript:FormUpsertObject.FieldCreate();">Guardar</a>
            </li>
        </ul>
    </div>

    <div id="divGridField_Delete" title="Edición de campos">
        <div>Esta seguro de borrar este campo</div>
    </div>
</div>


@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            //start customer grid
            FormUpsertObject.Init({
                idDivStep: 'divGridStep',
                idDivField: 'divGridField',
                FormPublicId: '@Model.RelatedForm.FormPublicId',
            });
            FormUpsertObject.RenderAsync();
        });
    </script>
}


