@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Experience";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
<div class="POBOProviderSideMenuWrapper">
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
</div>
<div>
    <ul>
        @{
            foreach (var item in Model.RelatedComercialInfo)
            {
                <li>Tipo de Contrato</li>
                if (item.EX_ContractType == "303001")
                {
                    <li>Contratos / Servicios</li>
                }
                else if (item.EX_ContractType == "303002")
                {
                    <li>Ordenes de compra</li>    
                }
            <li>Fecha Inicial</li>
            <li>@item.EX_DateIssue</li>
            <li>Fecha Final</li>
            <li>@item.EX_DueDate</li>
            <li>Cliente</li>
            <li>@item.EX_Client</li>
            <li>Número de Contacto</li>
            <li>@item.EX_ContractNumber</li>
            <li>Valor del Contrato</li>
            <li>@item.EX_ContractValue</li>
            <li>Teléfono</li>
            <li>@item.EX_Phone</li>
            <li>Objeto del Contrato</li>
            <li>@item.EX_ContractSubject</li>
            <li>Maestra Estandar</li>
                foreach (var ActivityItem in item.EX_EconomicActivity)
                {                     
                    <li>@ActivityItem.ActivityName</li>
                }          
            <li>Maestra Personalizada</li>
                foreach (var ActivityItem in item.EX_CustomEconomicActivity)
	            {
		            <li>@ActivityItem.ActivityName</li> 
	            }
            var UlrContent = item.EX_ExperienceFile;
            if (!string.IsNullOrEmpty(UlrContent))
            {
                <li>Archivo de Soporte</li>
                <li>
                    <iframe src="@(Server.UrlDecode(Url.Action(MVC.Desktop.Provider.ActionNames.GetProviderFileBytes, MVC.Provider.Name, new { FilePath = UlrContent })))" frameborder="0"></iframe>
                </li>
                <li>
                    <a target="_blank" href="@UlrContent">Ver Archivo</a>
                </li>
            }
            }
        }
    </ul>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




