@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Estados financieros";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;

    //get render partial view name
    string oViewName = MVC.Desktop.Shared.Views._P_FI_Indicators;
    if (!string.IsNullOrEmpty(Request["ViewName"]))
    {
        oViewName = Request["ViewName"].Trim();
    }
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">

    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Estados financieros</label>

        <div>
            <ul>
                <li>
                    <span>Año</span>
                </li>
                <li>
                    <span>Moneda</span>
                </li>
                <li>
                    <a href="">Consultar</a>
                </li>
            </ul>
            <ul>
                <li class="@(oViewName == MVC.Desktop.Shared.Views.ViewNames._P_FI_Indicators ? "selected" : string.Empty)">
                    <a href="">Indicadores financieros</a>
                </li>
                <li class="@(oViewName == MVC.Desktop.Shared.Views.ViewNames._P_FI_Balance ? "selected" : string.Empty)">
                    <a href="">Balance general</a>
                </li>
                <li>
                    <a href="">Ver Archivo</a>
                </li>
            </ul>
            <div>
                @Html.Partial(oViewName, Model)
            </div>
        </div>

    </div>
</div>

@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    @Html.Partial(oViewName, Model)
}
