@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Bancaria";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información Bancaria</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedFinancialInfo)
                {
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12 col-lg-12">
                            @if (item.IB_Bank != null && !string.IsNullOrEmpty(item.IB_AccountType))
                            {
                                <strong>@item.IB_Bank.ItemName</strong>
                            }
                            else
                            {
                                <strong>N/D</strong>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4"><label>Tipo de Cuenta</label></div>
                            <div class="col-sm-4 col-lg-4"><label>Número de Cuenta</label></div>
                            <div class="col-sm-4 col-lg-4"><label>Titular de la Cuenta</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_AccountType))
                                {
                                    <span>@item.IB_AccountType</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_AccountNumber))
                                {
                                    <span>@item.IB_AccountNumber</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_AccountHolder))
                                {
                                    <span>@item.IB_AccountHolder</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-4 col-lg-4"><label>ABA</label></div>
                            <div class="col-sm-4 col-lg-4"><label>SWIFT</label></div>
                            <div class="col-sm-4 col-lg-4"><label>IBAN</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_ABA))
                                {
                                    <span>@item.IB_ABA</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_Swift))
                                {
                                    <span>@item.IB_Swift</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_IBAN))
                                {
                                    <span>@item.IB_IBAN</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-4 col-lg-4"><label>Comprador</label></div>
                            <div class="col-sm-4 col-lg-4"><label>Archivo de Cuenta</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_Customer))
                                {
                                    <span>@item.IB_Customer</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IB_AccountFile))
                                {
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.IB_AccountFile">Ver Archivo Certificado</a>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>

                    </div>
                    <br />
                }
            }
        </div>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




