@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Bancaria";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información Bancaria</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedFinancialInfo)
                {
                    <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                @if (item.IB_Bank != null && !string.IsNullOrEmpty(item.IB_AccountType))
                                {
                                    <span>@item.IB_Bank.ItemName</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">

                        @if (!string.IsNullOrEmpty(item.IB_AccountType))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Tipo de Cuenta</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IB_AccountType</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IB_AccountNumber))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Número de Cuenta</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IB_AccountNumber</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IB_AccountHolder))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Titular de la Cuenta</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IB_AccountHolder</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IB_ABA))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>ABA</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IB_ABA</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IB_Swift))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>SWIFT</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IB_Swift</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IB_IBAN))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>IBAN</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IB_IBAN</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IB_Customer))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Comprador</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IB_Customer</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IB_AccountFile))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Archivo de Cuenta</label>
                                </div>
                                <div class="col-xs-12">
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.IB_AccountFile">Ver Archivo Certificado</a>
                                </div>
                            </div>
                        }
                    </div>
                }

            }
        </div>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




