@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Estados Financieros";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;

    //get render partial view name
    string oViewName = MVC.Desktop.Shared.Views.ViewNames._P_FI_Indicators;
    if (!string.IsNullOrEmpty(Request["ViewName"]))
    {
        oViewName = Request["ViewName"].Trim();
    }

    int oCurrentYear = Model.RelatedFinancialInfo.
        Where(x => x.SH_HasValues && !string.IsNullOrEmpty(x.SH_Year)).
        Select(x => Convert.ToInt32(x.SH_Year)).
        OrderByDescending(x => x).
        DefaultIfEmpty(0).
        FirstOrDefault();

    int oCurrencyValidate = 0;

    int oCurrentCurrency = !string.IsNullOrEmpty(Request["Currency"]) && int.TryParse(Request["Currency"].ToString(), out oCurrencyValidate) == true ?
        Convert.ToInt32(Request["Currency"].Replace(" ", "")) :
        Convert.ToInt32(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_CurrencyExchange_COP].Value);

    string oCurrentFile = Model.RelatedFinancialInfo.
        Where(x => x.SH_HasValues && x.SH_Year == oCurrentYear.ToString()).
        Select(x => x.SH_BalanceSheetFile).
        DefaultIfEmpty(string.Empty).
        FirstOrDefault();
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">

    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Estados Financieros</label>

        <div class="container-fluid">

            <div class="POMPFinancialBalanceGreatWrapper">
                <ul class="POMPBalanceSheet_mainFilter">
                    <li>
                        <label>Seleccionar el año y el tipo de moneda</label>
                    </li>
                    <li>
                        <span>Año: </span>
                        <select id="BalanceSheet_Year">
                            @if (Model.RelatedFinancialInfo != null && Model.RelatedFinancialInfo.Count > 0)
                            {
                                foreach (var bi in Model.RelatedFinancialInfo.Where(x => !string.IsNullOrEmpty(x.SH_Year)).OrderByDescending(x => x.SH_Year))
                                {
                                    if (bi.SH_Year == oCurrentYear.ToString())
                                    {
                                        <option selected="selected" value="@bi.SH_Year">@bi.SH_Year</option>
                                    }
                                    else
                                    {
                                        <option value="@bi.SH_Year">@bi.SH_Year</option>
                                    }
                                }
                            }
                            else
                            {
                                <option selected="selected" value="@DateTime.Now.Year">@DateTime.Now.Year</option>
                            }
                        </select>
                    </li>
                    @if (oViewName != MVC.Desktop.Shared.Views.ViewNames._P_FI_Indicators)
                    {
                        <li>
                            <span>Moneda: </span>
                            <select id="BalanceSheet_Currency">
                                @foreach (var ci in MarketPlace.Models.Company.CompanyUtil.ProviderOptions.Where(x => x.CatalogId == 108).OrderBy(x => x.ItemName))
                                {
                                    if (ci.ItemId == oCurrentCurrency)
                                    {
                                        <option selected="selected" value="@ci.ItemId">@ci.ItemName</option>
                                    }
                                    else
                                    {
                                        <option value="@ci.ItemId">@ci.ItemName</option>
                                    }
                                }
                            </select>
                        </li>
                    }
                    <li>
                        <a class="POMPButtons" href="javascript:Provider_FinancialObject.BalanceSheet_Search('@oViewName');">Consultar</a>
                        <form id="frmProviderUpsert"
                              method="post"
                              action="@(Url.Action
                                    (MVC.Provider.ActionNames.GIProviderInfo,
                                    MVC.Provider.Name,
                                    new
                                    {
                                        ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
                                    }))">
                        </form>
                        <div class="POMPDownloadReportsTop">
                            <form id="frmProviderUpsert"
                                  method="post"
                                  action="@(Url.Action
                                    (MVC.Provider.ActionNames.FIBalanceSheetInfo,
                                    MVC.Provider.Name,
                                    new
                                    {
                                        ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
                                    }))">
                                <button class="POMPButtonDownloadReport_Provider" type="submit" title="Descargar Reporte">Descargar Reporte</button>
                                <input type="hidden" name="DownloadReportFinancial" value="true" />
                            </form>
                        </div>
                    </li>
                </ul>
            
                <ul class="POMPBalanceSheet_tabs">
                    <li class="@(oViewName == MVC.Desktop.Shared.Views.ViewNames._P_FI_Indicators ? "selected" : string.Empty)">
                        <a href="javascript:Provider_FinancialObject.BalanceSheet_Search('@MVC.Desktop.Shared.Views.ViewNames._P_FI_Indicators');">Indicadores Financieros</a>
                    </li>
                    <li class="@(oViewName == MVC.Desktop.Shared.Views.ViewNames._P_FI_Balance ? "selected" : string.Empty)">
                        <a href="javascript:Provider_FinancialObject.BalanceSheet_Search('@MVC.Desktop.Shared.Views.ViewNames._P_FI_Balance');">Balance General</a>
                    </li>
                    @if (!string.IsNullOrEmpty(oCurrentFile))
                {
                        <li>
                            <a href="@oCurrentFile" target="_blank">Ver Archivo</a>
                        </li>
                }
                </ul>
                <div class="POMPBalanceSheetContent">
                    @Html.Partial(oViewName, Model)
                </div>
            </div>
        
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    @Html.Partial(oViewName, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            //start base url object
            Provider_FinancialObject.Init({
                ObjectId: 'BalanceSheet',
                QueryUrl: '@(Html.Raw(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.FIBalanceSheetInfo,
                                ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
                                ViewName = "V_ViewName",
                                Year = "V_Year",
                                Currency = "V_Currency"
                            })))',
            });
        });
    </script>
}