@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Declaración de Renta";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Declaración de Renta</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedFinancialInfo)
                {
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12 col-lg-12">
                            @if (!string.IsNullOrEmpty(item.IS_Year))
                            {
                                <strong>Año: @item.IS_Year</strong>
                            }
                            else
                            {
                                <strong>N/D</strong>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4"><label>Ingresos Brutos</label></div>
                            <div class="col-sm-4 col-lg-4"><label>Ingresos Netos</label></div>
                            <div class="col-sm-4 col-lg-4"><label>Patrimonio Bruto</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IS_GrossIncome))
                                {
                                <span>@item.IS_GrossIncome</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IS_NetIncome))
                                {
                                <span>@item.IS_NetIncome</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IS_GrossEstate))
                                {
                                <span>@item.IS_GrossEstate</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-4 col-lg-4"><label>Patrimonio Líquido</label></div>
                            <div class="col-sm-4 col-lg-4"><label>Archivo Declaración de Renta</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IS_LiquidHeritage))
                                {
                                <span>@item.IS_LiquidHeritage</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4  col-lg-4">
                                @if (!string.IsNullOrEmpty(item.IS_FileIncomeStatement))
                                {
                                <a class="POMPProviderDocumetIcon" target="_blank" href="@item.IS_FileIncomeStatement">Ver Archivo de Declaración de Renta</a>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                    </div>
                }
            }
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




