@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Declaración de Renta";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Declaración de Renta</label>
        <div class="container-fluid POMPContainerDetail">
            @{
                foreach (var item in Model.RelatedFinancialInfo)
                {
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12">
                            @if (!string.IsNullOrEmpty(item.IS_Year))
                            {
                                <strong>Año: @item.IS_Year</strong>
                            }
                            else
                            {
                                <strong>N/D</strong>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid POMPProviderDetailContainer">
                        <div class="row">
                            @if (!string.IsNullOrEmpty(item.IS_GrossIncome))
                            {
                                <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Ingresos Brutos</label>
                                        <br />
                                        <span>@item.IS_GrossIncome</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.IS_NetIncome))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Ingresos Netos</label>
                                        <br />
                                    <span>@item.IS_NetIncome</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.IS_GrossEstate))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Patrimonio Bruto</label>
                                    <br />
                                    <span>@item.IS_GrossEstate</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.IS_LiquidHeritage))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Patrimonio Líquido</label>
                                    <br />
                                    <span>@item.IS_LiquidHeritage</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.IS_FileIncomeStatement))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Archivo Declaración de Renta</label>
                                        <br />
                                        <a class="POMPProviderDocumetIcon" target="_blank" href="@item.IS_FileIncomeStatement">Ver Archivo de Declaración de Renta</a>
                                </div>
                            }
                        </div>
                        <br />
                    </div>
                }
            }
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




