@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Income Statement";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Declaración de renta</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                foreach (var item in Model.RelatedFinancialInfo)
                {
                    <li>
                        <label class="POMPProviderDataSubtitle">
                            <span>Año: @item.IS_Year</span>
                        </label>
                        <label>
                            Ingresos Brutos
                            <span>@item.IS_GrossIncome</span>
                        </label>
                        <label>
                            Ingresos Netos
                            <span>@item.IS_NetIncome</span>
                        </label>
                        <label>
                            Patrimonio Bruto
                            <span>@item.IS_GrossEstate</span>
                        </label>
                        <label>
                            Patrimonio Líquido
                            <span>@item.IS_LiquidHeritage</span>
                        </label>
                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.IS_FileIncomeStatement">Ver Archivo de Declaración de Renta</a>
                        </label>
                    </li>
                }
            }
            </ul>
        </div>
        </div>
    @{
        Model.RenderScripts = true;
    }
    @section inlinescripts
{
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    }




