@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Declaración de Renta";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Declaración de Renta</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedFinancialInfo)
                {
                    <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                @if (!string.IsNullOrEmpty(item.IS_Year))
                                {
                                    <span>Año: @item.IS_Year</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        @if (!string.IsNullOrEmpty(item.IS_GrossIncome))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Ingresos Brutos</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IS_GrossIncome</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IS_NetIncome))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Ingresos Netos</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IS_NetIncome</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IS_GrossEstate))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Patrimonio Bruto</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IS_GrossEstate</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IS_LiquidHeritage))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Patrimonio Líquido</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.IS_LiquidHeritage</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.IS_FileIncomeStatement))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Archivo Declaración de Renta</label>
                                </div>
                                <div class="col-xs-12">
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.IS_FileIncomeStatement">Ver Archivo de Declaración de Renta</a>
                                </div>
                            </div>
                        }
                    </div>

                }
            }
        </div>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




