@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - K Contratación";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">K de Contratación</label>
        <ul class="POMPProviderKContratacion">
            @{
                if (Model.RelatedFinancialInfo != null && Model.RelatedFinancialInfo.Count > 0)
                {
                    <li>
                        <label>Criterio de evaluación</label>
                        <label>Capacidad Técnica</label>
                        <label>Experiencias</label>
                        <label>Financiera</label>
                        <label>Puntuación Total</label>
                        <label>Capacidad Organizacional S.M.M.L.V</label>
                        <label>Capacidad Legal de Contratación</label> 
                    </li>
                    foreach (var item in Model.RelatedFinancialInfo)
                    {
                     <li>   
                        <span>@item.FK_RoleType</span>
                        <span>@item.FK_TotalTechnicScore</span>
                        <span>@item.FK_TotalExpirienceScore</span>
                        <span>@item.FK_TotalFinancialScore</span>
                        <span>@item.FK_TotalScore</span>
                        <span>@item.FK_TotalOrgCapacityScore</span>
                        <span>@item.FK_TotalKValueScore</span>
                      </li>    
                    }
                    <li>
                            <span>Consultor</span>
                            <span>4568213</span>
                            <span>4568213</span>
                            <span>4568213</span>
                            <span>4568213</span>
                            <span>4568213</span>
                            <span>4568213</span>
                    </li>
                }
}
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




