@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - K Contratación";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">K de Contratación</label>
        <div class="container-fluid">
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                    <label>Contratación (K)</label> <p>Decreto 4881 de 2008. Expedido por el departamento nacional de planeación.</p>
                </div>
            </div>
            <div class="col-xs-12">
                @{
                    if (Model.RelatedFinancialInfo != null && Model.RelatedFinancialInfo.Count > 0)
                    {
                        <div class="col-xs-6">
                            <div class="col-xs-12">
                                <label>Criterio de evaluación</label>
                            </div>
                            <div class="col-xs-12">
                                <label>Capacidad Técnica</label>
                            </div>
                            <div class="col-xs-12">
                                <label>Experiencias</label>
                            </div>
                            <div class="col-xs-12">
                                <label>Financiera</label>
                            </div>
                            <div class="col-xs-12">
                                <label>Puntuación Total</label>
                            </div>
                            <div class="col-xs-12">
                                <label>Capacidad Organizacional S.M.M.L.V</label>
                            </div>
                            <div class="col-xs-12">
                                <label>Capacidad Legal de Contratación U.S.D</label>
                            </div>
                        </div>
                        foreach (var item in Model.RelatedFinancialInfo)
                        {
                            <div class="col-xs-2">
                                <div class="col-xs-12">
                                    <span>@item.FK_RoleType</span>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.FK_TotalTechnicScore</span>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.FK_TotalExpirienceScore</span>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.FK_TotalFinancialScore</span>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.FK_TotalScore</span>
                                </div>

                                @{string FK_TotalOrgCapacityScore = Convert.ToDecimal(item.FK_TotalOrgCapacityScore).ToString("#,0.##", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"));}

                                <div class="col-xs-12">
                                    <span>@FK_TotalOrgCapacityScore</span>
                                </div>

                                @{string FK_TotalKValueScore = Convert.ToDecimal(item.FK_TotalKValueScore).ToString("#,0.##", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"));}

                                <div class="col-xs-12">
                                    <span>@FK_TotalKValueScore</span>
                                </div>
                            </div>

                        }

                    }
                }
            </div>
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                   <p>Fecha de última actualización: 07 de Febrero de 2014.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@{
        Model.RenderScripts = true;
}
@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            switch ($(".POMPProviderKContratacion li").length) {
                case 2:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionTwoColumns");
                    break;
                case 3:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionThreeColumns");
                    break;
                case 4:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionFourColumns");
                    break;
            }
        });
    </script>

    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




