@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Sucursales";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
<div class="">
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
</div>
<div>
    <ul>
        @{
            foreach (var item in Model.RelatedGeneralInfo)
            {
                <li>Nombre Sucursal</li>
                <li>@item.BR_Name</li>

                <li>Representante</li>
                <li>@item.BR_Representative</li>

                <li>Dirección</li>
                <li>@item.BR_Address</li>

                <li>Ciudad</li>
                <li>@item.BR_City</li>

                <li>Teléfono</li>
                <li>@item.BR_Phone</li>

                <li>Fax</li>
                <li>@item.BR_Fax</li>

                <li>Correo Electrónico</li>
                <li>@item.BR_Email</li>

                <li>Página Web</li>
                <li>@item.BR_Website</li>
            }
        }
    </ul>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}

