@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Sucursales";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Sucursales</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <li>
                        <label class="POMPProviderDataSubtitle">
                            @if (!string.IsNullOrEmpty(item.BR_City))
                            {
                                <span>@item.BR_City @item.BR_Name</span>
                            }
                        </label>
                        @if (!string.IsNullOrEmpty(item.BR_Representative))
                        {
                            <label>
                                Nombre de Contacto
                                <span>@item.BR_Representative</span>
                            </label>
                        }
                        @if (!string.IsNullOrEmpty(item.BR_Address))
                        {
                            <label>
                                Dirección
                                <span>@item.BR_Address</span>
                            </label>
                        }
                        @if (!string.IsNullOrEmpty(item.BR_Phone))
                        {
                            <label>
                                Teléfono
                                <span> @item.BR_Phone</span>
                            </label>
                        }
                        @if (!string.IsNullOrEmpty(item.BR_Fax))
                        {
                            <label>
                                Fax
                                <span> @item.BR_Fax</span>
                            </label>
                        }
                        @if (!string.IsNullOrEmpty(item.BR_Email))
                        {
                            <label>
                                Correo Electrónico
                                <span>  @item.BR_Email</span>
                            </label>
                        }
                        @if (!string.IsNullOrEmpty(item.BR_Website))
                        {
                            <label>
                                Página Web
                                <span><a target="_blank" href="http://@item.BR_Website" title="@item.BR_Website">@item.BR_Website</a></span>
                            </label>
                        }
                        <label>
                            Principal
                            <span>@(item.BR_IsPrincipal ? "si" : "no")</span>
                        </label>
                    </li>
                }
            }
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}

