@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Sucursales";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Sucursales</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <li>
                        <label>
                            Nombre Sucursal
                            <span>@item.BR_Name</span>
                        </label>
                        <label>
                            Representante
                            <span>@item.BR_Representative</span>
                        </label>
                        <label>
                            Dirección
                            <span>@item.BR_Address</span>
                        </label>
                        <label>
                            Ciudad
                            <span>@item.BR_City</span>
                        </label>
                        <label>
                            Teléfono
                            <span> @item.BR_Phone</span>
                        </label>
                        <label>
                            Fax
                            <span> @item.BR_Fax</span>
                        </label>
                        <label>
                            Correo Electrónico
                            <span>  @item.BR_Email</span>
                        </label>
                        <label>
                            Página Web
                            <span> @item.BR_Website</span>
                        </label>
                    </li>
                }
            }
        </ul>
    </div>
</div>
    @{
        Model.RenderScripts = true;
    }
    @section inlinescripts
{
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    }

