@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Sucursales";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Sucursales</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12 col-lg-12">
                            @if (!string.IsNullOrEmpty(item.BR_City))
                            {
                                <strong>@item.BR_City @item.BR_Name</strong>
                            }
                            else
                            {
                                <span>N/D</span>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-lg-3"><strong>Nombre de Contacto</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Dirección</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Teléfono</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Celular</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.BR_Representative))
                                {
                                <span>@item.BR_Representative</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.BR_Address))
                                {
                                <span>@item.BR_Address</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.BR_Phone))
                                {
                                <span> @item.BR_Phone</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.BR_Cellphone))
                                {
                                <span> @item.BR_Cellphone</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 col-lg-3"><strong>Fax</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Correo Electrónico</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Página Web</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Principal</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.BR_Fax))
                                {
                                <span> @item.BR_Fax</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.BR_Email))
                                {
                                <span>  @item.BR_Email</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.BR_Website))
                                {
                                <span><a target="_blank" href="http://@item.BR_Website" title="@item.BR_Website">@item.BR_Website</a></span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <span>@(item.BR_IsPrincipal ? "si" : "no")</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 col-lg-3"><strong>País</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Estado</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-lg-3">
                                @{
                                    string tmp_pais = item.DT_Country;
                                    if (tmp_pais != null)
                                    {
                                        string[] pais = tmp_pais.Split(',');
                                        <span>@pais[1]</span>
                                    }
                                    else
                                    {
                                        <span>N/D</span>
                                    }
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @{
                                    tmp_pais = item.DT_Country;
                                    if (tmp_pais != null)
                                    {
                                        string[] estado = tmp_pais.Split(',');
                                        <span>@estado[0]</span>
                                    }
                                    else
                                    {
                                        <span>N/D</span>
                                    }
                                }
                            </div>
                        </div>
                        <br />
                    </div>
                }
            }
        </div>
    </div>
    @{
        Model.RenderScripts = true;
    }
    @section inlinescripts
{
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    }

