@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Calificación del proveedor";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Calificación del proveedor</label>
        <div class="container-fluid POMPContainerDetail">
            <div class="row POMPSectionTitlesBox">
                <div class="col-xs-9">
                    <label>Proceso de calificación</label>
                </div>
                @{
                    List<int> oCurrentReports = MarketPlace.Models.General.SessionModel.CurrentReport();

                    if (oCurrentReports.Any(x => x == (int)MarketPlace.Models.General.enumReports.CalificationProject))
                    {
                        <div class="col-xs-3">
                            <div class="POMPDownloadReportsTop">
                                <form id="frmProviderUpsert"
                                      method="post"
                                      action="@(Url.Action
                                    (MVC.Provider.ActionNames.GICalificationProjectDetail,
                                    MVC.Provider.Name,
                                    new
                                    {
                                        ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
                                    }))">
                                    @if (Model.ProviderCalification != null && Model.ProviderCalification.ProRelatedCalificationProject != null)
                                    {
                                        <button class="POMPButtonDownloadReport_Provider" type="submit" title="Descargar Reporte">Descargar Reporte</button>
                                        <input type="hidden" name="DownloadReport" value="true" />
                                    }
                                </form>
                            </div>
                        </div>
                    }
                }
            </div>
            @if (Model.ProviderCalification != null && Model.ProviderCalification.ProRelatedCalificationProject != null)
            {
                foreach (var CalificationProjectConfig in Model.ProviderCalification.RelatedCalificationProjectConfig)
                {
                    var CalificationProjectBatch = Model.ProviderCalification.ProRelatedCalificationProject.Where(x => x.ProjectConfigModel.CalificationProjectConfigId == CalificationProjectConfig.CalificationProjectConfigId).Select(x => x).FirstOrDefault();

                    <div class="container-fluid POMPProviderDetailContainer">
                        <div class="row">
                            <div class="col-xs-4">
                                <br />
                                <label>Calificación:</label>
                                <br />
                                <span>@Model.ProviderCalification.TotalCalification</span>
                            </div>
                            <div>
                                <br />
                                <label>Puntuación total:</label>
                                <br />
                                <span>@Model.ProviderCalification.TotalScore Puntos</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @foreach (var CalificationProjectConfigItem in CalificationProjectConfig.ConfigItemModel)
                            {
                                if (CalificationProjectBatch.CalificationProjectItemBatchModel.Any(y => y.CalificationProjectConfigItem.CalificationProjectConfigItemId == CalificationProjectConfigItem.CalificationProjectConfigItemId))
                                {
                                    var CalificaitonProjectItemBatch = CalificationProjectBatch.CalificationProjectItemBatchModel.Where(y => y.CalificationProjectConfigItem.CalificationProjectConfigItemId == CalificationProjectConfigItem.CalificationProjectConfigItemId).Select(x => x).FirstOrDefault();

                                    <div class="row POMPSectionTitlesBox">
                                        <div class="col-xs-6">
                                            @if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.BalanceModule)
                                            {
                                                <label>Modulo @(!string.IsNullOrEmpty(CalificaitonProjectItemBatch.CalificationProjectConfigItem.CalificationProjectConfigItemName) ? CalificaitonProjectItemBatch.CalificationProjectConfigItem.CalificationProjectConfigItemName : CalificaitonProjectItemBatch.CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemName) del año: @Model.RelatedFinancialBasicInfo.Where(x => x.BI_Year != null).Select(x => x.BI_Year).DefaultIfEmpty("").FirstOrDefault() - @CalificaitonProjectItemBatch.ItemScore Puntos</label>
                                            }
                                            else
                                            {
                                                <label>Modulo @(!string.IsNullOrEmpty(CalificaitonProjectItemBatch.CalificationProjectConfigItem.CalificationProjectConfigItemName) ? CalificaitonProjectItemBatch.CalificationProjectConfigItem.CalificationProjectConfigItemName : CalificaitonProjectItemBatch.CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemName) - @CalificaitonProjectItemBatch.ItemScore Puntos</label>
                                            }

                                        </div>
                                        @if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.LegalModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.LIChaimberOfCommerceInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.FinancialModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.FIIncomeStatementInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.CommercialModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.CIExperiencesInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.HSEQModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.HICertificationsInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.BalanceModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.FIBalanceSheetInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <div class="container-fluid POMPProviderDetailContainer">
                                        <div class="row">
                                            @foreach (var CalificationProjectConfigItemInfo in CalificationProjectConfigItem.CalificationProjectConfigItemInfoModel)
                                            {
                                                if (CalificaitonProjectItemBatch.CalificatioProjectItemInfoModel.Any(infb => infb.CalificationProjectConfigItemInfoModel.CalificationProjectConfigItemInfoId == CalificationProjectConfigItemInfo.CalificationProjectConfigItemInfoId))
                                                {
                                                    var CalificationProjectItemInfoBatch = CalificaitonProjectItemBatch.CalificatioProjectItemInfoModel.Where(infb => infb.CalificationProjectConfigItemInfoModel.CalificationProjectConfigItemInfoId == CalificationProjectConfigItemInfo.CalificationProjectConfigItemInfoId).Select(infb => infb).FirstOrDefault();

                                                    <div class="col-xs-12">
                                                        <div class="col-xs-3">
                                                            <br />
                                                            <label>Pregunta:</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.Question.ItemName</span>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            <br />
                                                            <label>Regla:</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.Rule.ItemName</span>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            <br />
                                                            <label>Validación</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.ValueType.ItemName</span>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <br />
                                                            <label>Valor</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.Value</span>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <br />
                                                            <label>Resultado</label>
                                                            <br />
                                                            <span>@CalificationProjectItemInfoBatch.ItemInfoScore</span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-3">
                                                            <br />
                                                            <label>Pregunta:</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.Question.ItemName</span>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            <br />
                                                            <label>Regla:</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.Rule.ItemName</span>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            <br />
                                                            <label>Validación</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.ValueType.ItemName</span>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <br />
                                                            <label>Valor</label>
                                                            <br />
                                                            <span>@CalificationProjectConfigItemInfo.Value</span>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <br />
                                                            <label>Resultado</label>
                                                            <br />
                                                            <span>0</span>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <br />
                                }
                                else
                                {
                                    <div class="row POMPSectionTitlesBox">
                                        <div class="col-xs-6">
                                            @if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.BalanceModule)
                                            {
                                                <label>Modulo @(!string.IsNullOrEmpty(CalificationProjectConfigItem.CalificationProjectConfigItemName) ? CalificationProjectConfigItem.CalificationProjectConfigItemName : CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemName) del año: @Model.RelatedFinancialBasicInfo.Where(x => x.BI_Year != null).Select(x => x.BI_Year).DefaultIfEmpty("").FirstOrDefault() - 0 Puntos</label>
                                            }
                                            else
                                            {
                                                <label>Modulo @(!string.IsNullOrEmpty(CalificationProjectConfigItem.CalificationProjectConfigItemName) ? CalificationProjectConfigItem.CalificationProjectConfigItemName : CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemName) - 0 Puntos</label>
                                            }
                                        </div>
                                        @if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.LegalModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.LIChaimberOfCommerceInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.FinancialModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.FIIncomeStatementInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.CommercialModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.CIExperiencesInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.HSEQModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.HICertificationsInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                        else if (CalificationProjectConfigItem.CalificationProjectConfigItemType.ItemId == (int)MarketPlace.Models.General.CalificationProjectModule.BalanceModule)
                                        {
                                            <div class="col-sm-6 text-right">
                                                <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                            new
                                                                            {
                                                                                controller = MVC.Provider.Name,
                                                                                action = MVC.Provider.ActionNames.FIBalanceSheetInfo,
                                                                                ProviderPublicId = Request["ProviderPublicId"]
                                                                            }))">
                                                    Ver Detalle
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <div class="container-fluid POMPProviderDetailContainer">
                                        <div class="row">
                                            @foreach (var CalificationProjectConfigItemInfo in CalificationProjectConfigItem.CalificationProjectConfigItemInfoModel)
                                            {
                                                <div class="col-xs-12">
                                                    <div class="col-xs-3">
                                                        <br />
                                                        <label>Pregunta:</label>
                                                        <br />
                                                        <span>@CalificationProjectConfigItemInfo.Question.ItemName</span>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <br />
                                                        <label>Regla:</label>
                                                        <br />
                                                        <span>@CalificationProjectConfigItemInfo.Rule.ItemName</span>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <br />
                                                        <label>Validación</label>
                                                        <br />
                                                        <span>@CalificationProjectConfigItemInfo.ValueType.ItemName</span>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <br />
                                                        <label>Valor</label>
                                                        <br />
                                                        <span>@CalificationProjectConfigItemInfo.Value</span>
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <br />
                                                        <label>Resultado</label>
                                                        <br />
                                                        <span>0</span>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <br />

                                }
                            }
                        </div>
                    </div>
                }

                if (Model.ProviderCalification.oValidateModel != null &&
                    Model.ProviderCalification.oValidateModel.Count > 0)
                {

                    <div class="container-fluid POMPProviderDetailContainer">
                        <div class="row POMPSectionTitlesBox">
                            <div class="col-xs-12">
                                <label>Tabla de Validación:</label>
                            </div>
                        </div>
                        <div class="container-fluid POMPProviderDetailContainer" style="text-align:center;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <br />
                                    <label>Operador</label>
                                    <br />
                                </div>
                                <div class="col-xs-4">
                                    <br />
                                    <label>Valor</label>
                                    <br />
                                </div>
                                <div class="col-xs-4">
                                    <br />
                                    <label>Resultado</label>
                                    <br />
                                </div>
                            </div>
                            @foreach (var ValidateModel in Model.ProviderCalification.oValidateModel)
                            {
                                <div class="row">
                                    <div class="col-xs-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <span>@ValidateModel.Operator.ItemName</span>
                                    </div>
                                    <div class="col-xs-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <span>@ValidateModel.Value</span>
                                    </div>
                                    <div class="col-xs-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <span>@ValidateModel.Result</span>
                                    </div>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="container-fluid POMPContainerDetail">
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-xs-9">
                            <label>No existe calificación para este proveedor</label>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}
