@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Distribuidores";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = true;
}
<div class="">
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
</div>
<div>
    <ul>      
        @{
            foreach (var item in Model.RelatedGeneralInfo)
            {
                <li>Razón Social</li>
                <li>@item.DT_SocialReazon</li>

                <li>Tipo de Distribuidor</li>
                if (item.DT_DistributorType == "211001")
                {
                    <li>Comercializador</li>    
                }
                else if (item.DT_DistributorType == "211002")
                {
                    <li>Distribuido por</li>
                }
                else if (item.DT_DistributorType == "211003")
                {
                    <li>Distribuidor de</li>
                }
                else if (item.DT_DistributorType == "211004")
                {
                    <li>Representado por</li>
                }
                else if (item.DT_DistributorType == "211005")
                {
                    <li>Representante de</li>
                }

                <li>Representante Comercial</li>
                <li>@item.DT_Representative</li>

                <li>Correo Electrónico</li>
                <li>@item.DT_Email</li>

                <li>Teléfono</li>
                <li>@item.DT_Phone</li>

                <li>Ciudad</li>
                <li>@item.DT_City</li>

                <li>Fecha de Expedición</li>
                <li>@item.DT_DateIssue</li>

                <li>Fecha de Vencimiento</li>
                <li>@item.DT_DueDate</li>

                var UlrContent = item.DT_DistributorFile;
                if (!string.IsNullOrEmpty(UlrContent))
                {
                    <li>Documento Soporte</li>                                
                    <li>
                        <iframe src="@(Server.UrlDecode(Url.Action(MVC.Desktop.Provider.ActionNames.GetProviderFileBytes, MVC.Provider.Name, new { FilePath = UlrContent })))" frameborder="0"></iframe>
                    </li>
                    <li>
                        <a target="_blank" href="@UlrContent">Ver Archivo</a>
                    </li>
                }
            }
        }
    </ul>
</div>


