@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Distribuidores";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Distribuidores</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <li>
                        <label>
                            Razón Social
                            <span>@item.DT_SocialReazon</span>
                        </label>
                        <label>
                            Tipo de Distribuidor
                            <span>@item.DT_DistributorType</span>                           
                        </label>
                        <label>
                            Representante Comercial
                            <span>@item.DT_Representative</span>
                        </label>
                        <label>
                            Correo Electrónico
                            <span>@item.DT_Email</span>
                        </label>
                        <label>
                            Teléfono
                            <span>@item.DT_Phone</span>
                        </label>
                        <label>
                            Ciudad
                            <span>@item.DT_City</span>
                        </label>
                        <label>
                            Fecha de Expedición
                            <span>@item.DT_DateIssue</span>
                        </label>                            
                        <label>
                            Documento Soporte
                            @{
                                var UlrContent = item.DT_DistributorFile;
                                if (!string.IsNullOrEmpty(UlrContent))
                                {
                                    <iframe src="@(Server.UrlDecode(Url.Action(MVC.Desktop.Provider.ActionNames.GetProviderFileBytes, MVC.Provider.Name, new { FilePath = UlrContent })))" frameborder="0"></iframe>
                                    <a target="_blank" href="@UlrContent">Ver Archivo</a>
                                }
                            }
                        </label>
                   </li>
                }
            }
        </ul>
    </div>
    @{
        Model.RenderScripts = true;
    }
    @section inlinescripts
{
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    }




