@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Representación y/o Distribuciones";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Representación y/o Distribuciones</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                @if (!string.IsNullOrEmpty(item.DT_DistributorType) && !string.IsNullOrEmpty(item.DT_SocialReazon))
                                {
                                    <span>@item.DT_DistributorType, @item.DT_SocialReazon</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">

                        @if (!string.IsNullOrEmpty(item.DT_Representative))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Representante Comercial</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.DT_Representative</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.DT_Email))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Correo Electrónico</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.DT_Email</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.DT_Phone))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Teléfono</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.DT_Phone</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.DT_Country))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>País</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.DT_Country</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.DT_City))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Ciudad</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.DT_City</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.DT_DateIssue))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Fecha de Expedición</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.DT_DateIssue</span>
                                </div>
                            </div>
                        }
                        @{
                        var UlrContent = item.DT_DistributorFile;
                        if (!string.IsNullOrEmpty(UlrContent))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Documento de Soporte</label>
                                </div>
                                <div class="col-xs-12">
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@UlrContent">Ver Documento Soporte</a>
                                </div>
                            </div>
                        }
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




