@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Representación y/o Distribuciones";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Representación y/o Distribuciones</label>
        <div class="container-fluid POMPContainerDetail">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12">
                            @if (!string.IsNullOrEmpty(item.DT_DistributorType) && !string.IsNullOrEmpty(item.DT_SocialReazon))
                            {
                                <strong>@item.DT_DistributorType, @item.DT_SocialReazon</strong>
                            }
                            else
                            {
                                <strong>N/D</strong>
                            }
                        </div>
                    </div>
                    <br/>
                    <div class="container-fluid POMPProviderDetailContainer">
                        <div class="row">
                            @if (!string.IsNullOrEmpty(item.DT_Representative))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                               
                                        <br />
                                        <label class="POMPProviderBoxInfo">Representante Comercial</label>
                                        <br />
                                        <span>@item.DT_Representative</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.DT_Email))
                            {
                                <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Correo Electrónico</label>
                                        <br />
                                        <span>@item.DT_Email</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.DT_Phone))
                            {
                                <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                               
                                        <br />
                                        <label class="POMPProviderBoxInfo">Teléfono</label>
                                        <br />
                                        <span>@item.DT_Phone</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.DT_Country))
                            {
                                <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">País</label>
                                        <br />
                                        <span>@item.DT_Country</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.DT_City))
                            {
                                <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Ciudad</label>
                                        <br />
                                        <span>@item.DT_City</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.DT_DateIssue))
                            {
                                <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Fecha de Expedición</label>
                                        <br />
                                        <span>@item.DT_DateIssue</span>
                                </div>
                            }
                            @{var UlrContent = item.DT_DistributorFile;}
                            @if (!string.IsNullOrEmpty(UlrContent))
                            {
                                <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Documento de Soporte</label>
                                    <br />
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@UlrContent">Ver Documento Soporte</a>
                                </div>
                            }
                        </div>
                    </div>
                    <br/>
                }
            }
        </div>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




