@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Contacto de la empresa";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información de Personas de Contacto</label>
        <div class="container-fluid POMPContainerDetail">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12">
                            @if (!string.IsNullOrEmpty(item.PC_ContactName))
                            {
                                <strong>@item.PC_ContactName</strong>
                            }
                            else
                            {
                                <span>N/D</span>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid POMPProviderDetailContainer">
                        <div class="row">
                            @if (!string.IsNullOrEmpty(item.PC_RepresentantType))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Tipo de Contacto</label>
                                        <br />
                                        <span>@item.PC_RepresentantType</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.PC_IdentificationType))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Tipo de Identificación</label>
                                    <br />
                                    <span>@item.PC_IdentificationType</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.PC_IdentificationNumber))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Número de Identificación</label>
                                    <br />
                                    <span>@item.PC_IdentificationNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.PC_ExpeditionDocumentCity))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Ciudad de Expedición del Documento</label>
                                    <br />
                                    <span>@item.PC_ExpeditionDocumentCity</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.PC_TelephoneNumber))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Teléfono</label>
                                        <br />
                                        <span>@item.PC_TelephoneNumber @(!string.IsNullOrEmpty(item.PC_Extent) ? "ext " + item.PC_Extent : string.Empty)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.PC_Email))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                               
                                        <br />
                                        <label class="POMPProviderBoxInfo">Mail</label>
                                        <br />
                                        <span title="@item.PC_Email">@item.PC_Email</span>
                                
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.PC_Negotiation))
                            {
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                        @if (item.PC_Negotiation.ToString().Trim().Length > 0)
                                        {
                                            <br />
                                            <label class="POMPProviderBoxInfo">Capacidad de negociación</label>
                                            <br />
                                            <span>@item.PC_Negotiation</span>
                                        }
                                </div>
                            }
                            @{var UlrContent = item.PC_LegalFile;
                                if (!string.IsNullOrEmpty(UlrContent))
                                {
                                    <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Archivo Representante Legal</label>
                                        <br />
                                        <a class="POMPProviderDocumetIcon" href="@UlrContent" title="" target="_blank">Ver Archivo Representante Legal</a>
                                    </div>
                                }
                            }
                        </div>
                        <br/>
                    </div>
                }

            }


        </div>

    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}

