@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Contacto de la empresa";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información de Personas de Contacto</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {

                    <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                @if (!string.IsNullOrEmpty(item.PC_ContactName))
                                {
                                    <span>@item.PC_ContactName</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">

                        @if (!string.IsNullOrEmpty(item.PC_RepresentantType))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Tipo de Contacto </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.PC_RepresentantType</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.PC_IdentificationType))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Tipo de Identificación </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.PC_IdentificationType</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.PC_IdentificationNumber))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Número de Identificación </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.PC_IdentificationNumber</span>
                                </div>
                            </div>

                        }
                        @if (!string.IsNullOrEmpty(item.PC_ExpeditionDocumentCity))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Ciudad de Expedición del Documento </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.PC_ExpeditionDocumentCity</span>
                                </div>
                            </div>

                        }
                        @if (!string.IsNullOrEmpty(item.PC_TelephoneNumber))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Teléfono </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.PC_TelephoneNumber</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.PC_Email))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Email </label>
                                </div>
                                <div class="col-xs-12">
                                    <span title="@item.PC_Email">@item.PC_Email</span>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.PC_Negotiation))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Capacidad de Negociación</label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@item.PC_Negotiation</span>
                                </div>
                            </div>
                        }
                        @{
                        var UlrContent = item.PC_LegalFile;
                        if (!string.IsNullOrEmpty(UlrContent))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label> Archivo Representante Legal</label>
                                </div>
                                <div class="col-xs-12">
                                    <a class="POMPProviderDocumetIcon" href="@UlrContent" title="" target="_blank">Ver Archivo Representante Legal</a>
                                </div>
                            </div>
            
                        }


                        }

                    </div>
                }

            }


        </div>

    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}

