@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Contacto de la empresa";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información de Personas de Contacto</label>
        <div class="container-fluid">
            @{
                foreach (var item in Model.RelatedGeneralInfo)
                {
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12 col-lg-12">
                            @if (!string.IsNullOrEmpty(item.PC_ContactName))
                            {
                                <strong>@item.PC_ContactName</strong>
                            }
                            else
                            {
                                <span>N/D</span>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 col-lg-2"><strong>Tipo de Contacto</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Tipo de Identificación</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Número de Identificación</strong></div>
                            <div class="col-sm-4 col-lg-4"><strong>Ciudad de Expedición del Documento</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-lg-2">
                                @if (!string.IsNullOrEmpty(item.PC_RepresentantType))
                                {
                                    <span>@item.PC_RepresentantType</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.PC_IdentificationType))
                                {
                                    <span>@item.PC_IdentificationType</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.PC_IdentificationNumber))
                                {
                                    <span>@item.PC_IdentificationNumber</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4 col-lg-4">
                                @if (!string.IsNullOrEmpty(item.PC_ExpeditionDocumentCity))
                                {
                                    <span>@item.PC_ExpeditionDocumentCity</span>
                                }
                                else
                                {
                                <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2 col-lg-2"><strong>Teléfono</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Mail</strong></div>
                            <div class="col-sm-3 col-lg-3"><strong>Capacidad de negociación</strong></div>
                            <div class="col-sm-4 col-lg-4"><strong>Archivo Representante Legal</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-lg-2">
                                @if (!string.IsNullOrEmpty(item.PC_TelephoneNumber))
                                {
                                    <span>@item.PC_TelephoneNumber</span>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.PC_Email))
                                {
                                    <span title="@item.PC_Email">@item.PC_Email</span>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                @if (!string.IsNullOrEmpty(item.PC_Negotiation))
                                {
                                    if (item.PC_Negotiation.ToString().Trim().Length > 0)
                                    {
                                    <span>@item.PC_Negotiation</span>
                                    }
                                    else
                                    {
                                        <span>N/D</span>
                                    }
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                            <div class="col-sm-4 col-lg-4">
                                @{var UlrContent = item.PC_LegalFile;
                                    if (!string.IsNullOrEmpty(UlrContent))
                                    {
                                        <a class="POMPProviderDocumetIcon" href="@UlrContent" title="" target="_blank">Ver Archivo Representante Legal</a>
                                    }
                                    else
                                    {
                                        <span>N/D</span>
                                    }
                                }
                            </div>
                        </div>
                        <br/>
                    </div>
                }

            }


        </div>

    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}

