@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Información de contacto de empresa";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = true;
}
<div class="">
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
</div>
<div>
    <ul>
        @{
            foreach (var item in Model.RelatedGeneralInfo)
            {
                <li>Nombre de Contacto</li>
                <li>@item.PC_ContactName</li>
            
                <li>Tipo de Contacto</li>
                <li>@item.PC_RepresentantType</li>               
            
                <li>Tipo de Identificación</li>
                <li>@item.PC_IdentificationType</li>
            
                <li>Número de Identificación</li>
                <li>@item.PC_IdentificationNumber</li>    

                <li>Ciudad de Expedición del Documento</li>
                <li>@item.PC_ExpeditionDocumentCity</li>

                <li>Teléfono</li>
                <li>@item.PC_TelephoneNumber</li>

                <li>Email</li>
                <li>@item.PC_Email</li>
                         
                <li>Capacidad de Negociación</li>
                <li>@item.PC_Negotiation</li>


                var UlrContent = item.PC_LegalFile;
                if (!string.IsNullOrEmpty(UlrContent))
                {   
                    <li>Archivo del Representante Legal </li>
                    <li>                        
                        <iframe src="@(Server.UrlDecode(Url.Action(MVC.Desktop.Provider.ActionNames.GetProviderFileBytes, MVC.Provider.Name, new { FilePath = UlrContent })))" frameborder="0"></iframe>
                    </li>
                    <li>
                        <a href="@UlrContent"  >Ver Archivo</a>
                    </li>
                }
            }
        }
    </ul>
</div>


