@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Básica";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Resumen del Proveedor</label>
        <div class="container-fluid">
            <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label>Información Básica</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                @if (Model.RelatedGeneralInfo != null && Model.RelatedGeneralInfo.Count > 0)
                {
                    if (!string.IsNullOrEmpty(Model.RelatedGeneralInfo.Where(x => x.PC_RepresentantType == "Legal").Select(x => x.PC_ContactName).FirstOrDefault()))
                    {

                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label> Representante Legal </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedGeneralInfo.Where(x => x.PC_RepresentantType == "Legal").Select(x => x.PC_ContactName).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                            </div>
                        </div>

                    }
                    if (Model.RelatedLegalInfo.Count > 0 && !string.IsNullOrEmpty(Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber)
                        && !string.IsNullOrWhiteSpace(Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber))
                    {

                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label> Registro Mercantil </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Address).FirstOrDefault()))
                    {

                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>
                                    Dirección
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Address).FirstOrDefault()</span>
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_City).FirstOrDefault()))
                    {

                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>
                                    Ciudad
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_City).FirstOrDefault()</span>
                            </div>
                        </div>

                    }
                    if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Phone).FirstOrDefault()))
                    {

                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>
                                    Teléfono
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Phone).FirstOrDefault()</span>
                            </div>
                        </div>

                    }
                    if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Fax).FirstOrDefault()))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>
                                    Fax
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Fax).FirstOrDefault()</span>
                            </div>
                        </div>

                    }
                    if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Website).FirstOrDefault()))
                    {

                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>
                                    Página Web
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Website).FirstOrDefault()</span>
                            </div>
                        </div>

                    }
                    if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Email).FirstOrDefault()))
                    {
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>
                                    Email
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Email).FirstOrDefault()</span>
                            </div>
                        </div>

                    }
                    if (Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203011).Select(x => x).ToList().Count > 0)
                    {
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <label>
                                    Formulario Esenttia
                                </label>
                            </div>
                            <div class="col-xs-12">
                                @{string CompanyInfoValueAux = string.Empty;
                                CompanyInfoValueAux = Model.RelatedLiteProvider.
                                RelatedProvider.
                                RelatedCompany.
                                CompanyInfo.
                                Where(x => x.ItemInfoType.ItemId == 203011).
                                Select(x => x.Value).
                                DefaultIfEmpty(string.Empty).
                                FirstOrDefault();
                                <a target="_blank" href="@CompanyInfoValueAux">Ver archivo</a>
                                }
                            </div>
                        </div>

                    }
                    if (Model.RelatedLegalInfo.Count > 0 && !string.IsNullOrWhiteSpace(Model.RelatedLegalInfo.FirstOrDefault().CP_SocialObject))
                    {
                        <div class="col-xs-12" id="POMPSocialObject">
                            <div class="col-xs-12">
                                <label>
                                    Objeto Social
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_SocialObject</span>
                            </div>
                        </div>

                    }
                }
            </div>
            @*Validación de Modulos por Rol*@
            @foreach (var module in MarketPlace.Models.General.SessionModel.CurrentUserModules())
            {
                if (module == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderDetail)
                {
                    @*AQUI ESTA EL AREA DE LISTAS RESTRICTIVAS*@
                    if (Model.RelatedBlackListInfo != null && Model.RelatedBlackListInfo.Count > 0)
                    {

                        if (Model.RelatedBlackListInfo != null && Model.RelatedBlackListInfo.Count > 0)
                        {

                            var maxDate = (from d in Model.RelatedBlackListInfo select d.CreateDate).Max();
                           
                            if (Model.RelatedBlackListInfo.Where(x => x.BlackListStatus.ItemId == 1101001).Select(x => x).ToList() != null
                                     && Model.RelatedBlackListInfo.Where(x => x.BlackListStatus.ItemId == 1101001).Select(x => x).ToList().Count > 0)
                            {
                                
                                <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                                    <div class="col-xs-12">
                                        <label>Consulta Listas Restrictivas - Última Validación @maxDate.ToLocalTime().ToString()</label><p class ="POMPWarning">@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyName.ToString() Se encuentra notificado en listas restrictivas.</p>
                                    </div>
                                </div>

                                List<ProveedoresOnLine.CompanyProvider.Models.Provider.BlackListModel> ShowAlertModel = Model.RelatedBlackListInfo.Where(x => x.BlackListStatus.ItemId == 1101001).Select(x => x).ToList();

                                foreach (var item in ShowAlertModel)
                                {
                                    foreach (var info in item.BlackListInfo)
                                    {

                                        if (info.ItemInfoType.ItemName == "RazonSocial")
                                        {
                                            <div class="col-xs-4">
                                                <div class="col-xs-12">
                                                    <label>
                                                        Razón Social/Nombre
                                                    </label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <span>@info.Value</span>
                                                </div>
                                            </div>
                                        }
                                        else if (info.ItemInfoType.ItemName == "IdentificationType")
                                        {
                                            <div class="col-xs-4">
                                                <div class="col-xs-12">
                                                    <label>
                                                        Tipo de Identificación
                                                    </label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <span>@info.Value</span>
                                                </div>
                                            </div>
                                        }
                                        else if (info.ItemInfoType.ItemName == "IdentificationNumber")
                                        {
                                            <div class="col-xs-4">
                                                <div class="col-xs-12">
                                                    <label>
                                                        Número de Identificación
                                                    </label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <span>@info.Value</span>
                                                </div>
                                            </div>
                                        }
                                        else if (info.ItemInfoType.ItemName == "Cargo")
                                        {
                                            <div class="col-xs-4">
                                                <div class="col-xs-12">
                                                    <label>
                                                        Cargo
                                                    </label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <span>@info.Value</span>
                                                </div>
                                            </div>
                                        }
                                        else if (info.ItemInfoType.ItemName != "SearchType" &&
                                                 info.ItemInfoType.ItemName != "BlackListStatus" &&
                                                 info.ItemInfoType.ItemName != "ProviderPublicId")
                                        {
                                            <div class="col-xs-4">
                                                <div class="col-xs-12">
                                                    <label>
                                                        @info.ItemInfoType.ItemName
                                                    </label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <span>@info.Value</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                            else
                            {

                                <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                                    <div class="col-xs-12">
                                        <label>Consulta Listas Restrictivas - Última Validación @maxDate.ToLocalTime().ToString()</label><p>@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyName.ToString() No se encuentra notificado en listas restrictivas.</p>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            <label class="POMPProviderDataSubtitle">Consulta Listas Restrictivas</label>
                        }

                    }

                    @*AQUI ESTA EL AREA SEGUIMIENTOS*@
                    <ul class="POMPProviderInfoMultipleValues">
                        @if (Model.RelatedTrackingInfo != null && Model.RelatedTrackingInfo.Count > 0)
                        {
                            <li>
                                <label class="POMPProviderDataSubtitle">Seguimientos</label>
                                @if (!string.IsNullOrEmpty(Model.RelatedTrackingInfo.FirstOrDefault().ItemName))
                                {
                                    <label>
                                        Seguimiento
                                        <span>@Model.RelatedTrackingInfo.FirstOrDefault().ItemName</span>
                                    </label>
                                }
                                @if (Model.RelatedTrackingInfo.FirstOrDefault().CreateDate != null)
                                {
                                    <label>
                                        Fecha
                                        <span>@Model.RelatedTrackingInfo.FirstOrDefault().CreateDate</span>
                                    </label>
                                }
                            </li>
                        }

                    </ul>
                    @*AQUI ESTA EL AREA FINANCIERA*@

                    if (Model.RelatedFinancialBasicInfo != null && Model.RelatedFinancialBasicInfo.Count > 0)
                    {
                        <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                            <div class="col-xs-12">
                                <label>Información Financiera Año @Model.RelatedFinancialBasicInfo.Where(x => x.BI_Year != null).Select(x => x.BI_Year).DefaultIfEmpty("").FirstOrDefault()</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Total Activo
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    @if (Model.RelatedFinancialBasicInfo != null && Model.RelatedFinancialBasicInfo.Count > 0)
                                    {
                                        <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalActive != null).Select(x => x.BI_TotalActive).DefaultIfEmpty("").FirstOrDefault()</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Total Pasivo
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPassive != null).Select(x => x.BI_TotalPassive).DefaultIfEmpty("").FirstOrDefault()))
                                    {
                                        <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPassive != null).Select(x => x.BI_TotalPassive).DefaultIfEmpty("").FirstOrDefault()</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Total Patrimonio
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPatrimony != null).Select(x => x.BI_TotalPatrimony).DefaultIfEmpty("").FirstOrDefault()))
                                    {
                                        <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPatrimony != null).Select(x => x.BI_TotalPatrimony).DefaultIfEmpty("").FirstOrDefault()</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Ingresos Operacionales
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_OperationIncome != null).Select(x => x.BI_OperationIncome).DefaultIfEmpty("").FirstOrDefault()))
                                    {

                                        <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency  @Model.RelatedFinancialBasicInfo.Where(x => x.BI_OperationIncome != null).Select(x => x.BI_OperationIncome).DefaultIfEmpty("").FirstOrDefault()</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Utilidad Antes de Impuestos
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_IncomeBeforeTaxes != null).Select(x => x.BI_IncomeBeforeTaxes).DefaultIfEmpty("").FirstOrDefault()))
                                    {
                                        <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_IncomeBeforeTaxes != null).Select(x => x.BI_IncomeBeforeTaxes).DefaultIfEmpty("").FirstOrDefault()</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Capital de Trabajo
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_JobCapital != null).Select(x => x.BI_JobCapital).DefaultIfEmpty("0").FirstOrDefault()</span>
                                </div>
                            </div>
                            <div class="col-xs-8" id="POMPAltmanHeight">
                                <div class="col-xs-12">
                                    <label>
                                        Indice Altman
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_Altman != null).Select(x => x.BI_Altman).DefaultIfEmpty("").FirstOrDefault()</span>
                                </div>
                                <div class="col-xs-12">
                                    <span>
                                        - 1.80 Muy alta
                                    </span>
                                </div>
                                <div class="col-xs-12">
                                    <span>
                                        - 1.81 a 2.7 Alta
                                    </span>
                                </div>
                                <div class="col-xs-12">
                                    <span>
                                        - 2.8 a 2.9 Posible
                                    </span>
                                </div>
                                <div class="col-xs-12">
                                    <span>
                                        - 3 o más No es probable la falta de liquidez
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Utilidad del Ejercicio
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_ExerciseUtility != null).Select(x => x.BI_ExerciseUtility).DefaultIfEmpty("").FirstOrDefault()))
                                    {
                                        <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_ExerciseUtility != null).Select(x => x.BI_ExerciseUtility).DefaultIfEmpty("").FirstOrDefault()</span>
                                    }
                                </div>
                            </div>
                            <label class="POMPProviderVerDetalle" id="POMPProviderVerDetalleNew">
                                <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Provider.Name,
                                    action = MVC.Provider.ActionNames.FIBalanceSheetInfo,
                                    ProviderPublicId = Request["ProviderPublicId"]
                                }))">Ver Detalle</a>
                            </label>
                        </div>
                    }


                    @*AQUI ESTA EL AREA DE K *@

                    if (Model.RelatedKContractInfo != null && Model.RelatedKContractInfo.Count > 0)
                    {

                        <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                            <div class="col-xs-12">
                                <label>Contratación (K)</label> <p>Decreto 4881 de 2008. Fecha de última actualización: 07 de Febrero de 2014</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="POMPProviderKContratacion" style="padding:0px;">
                                <div class="col-xs-6">
                                    <div class=" col-xs-12">
                                        <label>Criterio de evaluación</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>Puntuación Total</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>Capacidad Organizacional S.M.M.L.V</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>Capacidad Legal de Contratación U.S.D</label>
                                    </div>
                                </div>
                                @foreach (var item in Model.RelatedKContractInfo)
                                {

                                    <div class="col-xs-2">
                                        <div class="col-xs-12">
                                            <span>@item.FK_RoleType</span>
                                        </div>
                                        <div class="col-xs-12">
                                            <span>@item.FK_TotalScore</span>
                                        </div>
                                        <div class="col-xs-12">
                                            @{
                                    string FK_TotalOrgCapacityScore = Convert.ToDecimal(item.FK_TotalOrgCapacityScore).ToString("#,0.##", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"));
                                            }
                                            <span>@FK_TotalOrgCapacityScore</span>
                                        </div>
                                        <div class="col-xs-12">
                                            @{
                                    string FK_TotalKValueScore = Convert.ToDecimal(item.FK_TotalKValueScore).ToString("#,0.##", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"));
                                            }
                                            <span>@FK_TotalKValueScore</span>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="col-xs-12" align="right" id="POMPSocialObject">

                                <label class="POMPProviderVerDetalle" id="POMPProviderVerDetalleNew2">
                                    <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.FIKContract,
                                ProviderPublicId = Request["ProviderPublicId"]
                            }))">Ver Detalle</a>
                                </label>
                            </div>
                        </div>
                    }



                    @*AQUI ESTA EL AREA info HSE*@

                    if (Model.RelatedHSEQlInfo != null && Model.RelatedHSEQlInfo.Count > 0)
                    {
                        <div class="POMPEvalTitle" id="POMPEvalTitleMargin">
                            <div class="col-xs-12">
                                <label>Información HSEQ</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                <label>
                                    Empresa de sistema de riegos
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <span>@Model.RelatedHSEQlInfo.FirstOrDefault().CR_SystemOccupationalHazards</span>
                            </div>
                        </div>

                        if (Model.RelatedCertificationBasicInfo != null && Model.RelatedCertificationBasicInfo.Count > 0)
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Certificado de gestión OHSAS 18001
                                    </label>
                                </div>
                                @if (Model.RelatedCertificationBasicInfo.FirstOrDefault().LargeValue == "1" &&
                    Model.RelatedCertificationBasicInfo.FirstOrDefault().ItemInfoType.ItemId == 204)
                                {
                                    <div class="col-xs-12">
                                        <span>Si</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-xs-12">
                                        <span>No</span>
                                    </div>
                                }
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Certificados de gestión ISO
                                    </label>
                                </div>
                                @if (Model.RelatedCertificationBasicInfo.FirstOrDefault().LargeValue == "1" &&
                    Model.RelatedCertificationBasicInfo.FirstOrDefault().ItemInfoType.ItemId == 170
                    || Model.RelatedCertificationBasicInfo.FirstOrDefault().LargeValue == "1" &&
                    Model.RelatedCertificationBasicInfo.FirstOrDefault().ItemInfoType.ItemId == 177)
                                {
                                    <div class="col-xs-12">
                                        <span>@Model.RelatedCertificationBasicInfo.FirstOrDefault().ItemInfoType.ItemName</span>
                                    </div>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Nivel de Riesgo ARL
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@Model.RelatedHSEQlInfo.FirstOrDefault().CR_RateARL</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        Guia RUC-CCS
                                    </label>
                                </div>
                                @if (!string.IsNullOrWhiteSpace(Model.RelatedCertificationBasicInfo.FirstOrDefault().Value))
                                {
                                    <div class="col-xs-12">
                                        <span>@Model.RelatedCertificationBasicInfo.FirstOrDefault().Value</span>
                                    </div>
                                }
                            </div>

                        }
                        if (!string.IsNullOrWhiteSpace(Model.RelatedHSEQlInfo.FirstOrDefault().CR_LTIFResult))
                        {
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>
                                        LTIF
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    <span>@Model.RelatedHSEQlInfo.FirstOrDefault().CR_LTIFResult</span>
                                </div>
                            </div>
                        }
                        <div class="col-xs-12" align="right" id="POMPSocialObject">
                            <label class="POMPProviderVerDetalle" id="POMPProviderVerDetalleNew2">
                                <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.HICertificationsInfo,
                                ProviderPublicId = Request["ProviderPublicId"]
                            }))">Ver Detalle</a>
                            </label>
                        </div>

                    }

                }
            }
        </div>
    </div>
</div>
@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            switch ($(".POMPProviderKContratacion li").length) {
                case 2:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionTwoColumns");
                    break;
                case 3:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionThreeColumns");
                    break;
                case 4:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionFourColumns");
                    break;
            }
        });
    </script>

    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}