@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Básica";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información básica</label>
        <ul class="POMPProviderInfoDisplayList">
            <li>
                <label>
                    Representante Legal
                    @if (Model.RelatedGeneralInfo != null && Model.RelatedGeneralInfo.Count > 0)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.PC_RepresentantType == "Legal").Select(x => x.PC_ContactName).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Registro Mercantil
                    @if (Model.RelatedLegalInfo != null)
                    {
                        <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Dirección
                    @if (Model.RelatedGeneralInfo != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Address).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Ciudad
                    @if (Model.RelatedGeneralInfo != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_City).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Teléfono
                    @if (Model.RelatedGeneralInfo != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Phone).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Fáx
                    @if (Model.RelatedLiteProvider != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Fax).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Página Web
                    @if (Model.RelatedLiteProvider != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Website).FirstOrDefault()</span>
                    }
                </label>
            </li>

            <li>
                <label>
                    Email
                    @if (Model.RelatedLiteProvider != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Email).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Objeto Social
                    @if (Model.RelatedLegalInfo != null)
                    {
                        <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_SocialObject</span>
                    }
                </label>
            </li>
        </ul>
        @if (Model.RelatedBlackListInfo != null)
        {
            <label class="POMPSectionTitles">Consulta Listas Restrictivas</label>
            <ul class="POMPProviderInfoDisplayList">
                <li>
                    <label>
                        @foreach (var itemBL in Model.RelatedBlackListInfo)
                        {
                            @itemBL.ItemType.ItemName
                            <span>@itemBL.ItemName</span>
                        }

                    </label>
                </li>
            </ul>
        }
        <label class="POMPSectionTitles">Seguimientos</label>
        <ul class="POMPProviderInfoDisplayList">
            <li>
                <label>
                    Seguimiento
                    @if (Model.RelatedTrackingInfo != null)
                    {
                        <span>@Model.RelatedTrackingInfo.FirstOrDefault().ItemName</span>                        
                    }
                    Fecha
                    @if (Model.RelatedTrackingInfo != null)
                    {
                        <span>@Model.RelatedTrackingInfo.FirstOrDefault().CreateDate</span>
                    }
                </label>
            </li>
        </ul>

        <label class="POMPSectionTitles">Información Financiera</label>
        <ul class="POMPProviderInfoDisplayList">
            <li>
                <label>
                    Total Activo
                    @if (Model.RelatedFinancialBasicInfo != null)
                    {
                        <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalActive != null).Select(x => x.BI_TotalActive).DefaultIfEmpty("").FirstOrDefault()</span>                        
                    }
                    Total Pasivo
                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPassive != null).Select(x => x.BI_TotalPassive).DefaultIfEmpty("").FirstOrDefault()))
                    {
                        <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPassive != null).Select(x => x.BI_TotalPassive).DefaultIfEmpty("").FirstOrDefault()</span>                        
                    }
                    Total Patrimonio
                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPatrimony != null).Select(x => x.BI_TotalPatrimony).DefaultIfEmpty("").FirstOrDefault()))
                    {
                        <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPatrimony != null).Select(x => x.BI_TotalPatrimony).DefaultIfEmpty("").FirstOrDefault()</span>
                    }
                    Ingresos Operacionales
                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_OperationIncome != null).Select(x => x.BI_OperationIncome).DefaultIfEmpty("").FirstOrDefault()))
                    {
                        <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_OperationIncome != null).Select(x => x.BI_OperationIncome).DefaultIfEmpty("").FirstOrDefault()</span>
                    }
                    Utilidad Antes de Impuestos
                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_IncomeBeforeTaxes != null).Select(x => x.BI_IncomeBeforeTaxes).DefaultIfEmpty("").FirstOrDefault()))
                    {
                        <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_IncomeBeforeTaxes != null).Select(x => x.BI_IncomeBeforeTaxes).DefaultIfEmpty("").FirstOrDefault()</span>
                    }
                                        
                    Capital de Trabajo                
                    @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_JobCapital != null).Select(x => x.BI_JobCapital).DefaultIfEmpty("").FirstOrDefault()))
                    {
                        <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_JobCapital != null).Select(x => x.BI_JobCapital).DefaultIfEmpty("").FirstOrDefault()</span>
                    }                   
                  
                </label>
            </li>
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}