@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Básica";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información básica</label>
        <ul class="POMPProviderInfoDisplayList">
            <li>
                <label>
                    Tipo de Identificación
                    <span>@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.IdentificationType.ItemName</span>
                </label>
            </li>
            <li>
                <label>
                    Número de Identificación
                    <span>@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.IdentificationNumber</span>
                </label>
            </li>
            <li>
                <label>
                    Razón Social
                    <span>@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyName</span>
                </label>
            </li>
            <li>
                <label>
                    Fecha de Certificación
                    <span>@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203004).Select(x => x.Value).FirstOrDefault()</span>
                </label>
            </li>
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}