@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Básica";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Información básica</label>
        <ul class="POMPProviderInfoDisplayList">
            <li>
                <label>
                    Representante Legal
                    @if (Model.RelatedGeneralInfo != null && Model.RelatedGeneralInfo.Count > 0)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.PC_RepresentantType == "Legal").Select(x => x.PC_ContactName).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Registro Mercantil
                    @if (Model.RelatedLegalInfo != null)
                    {
                        <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Dirección
                    @if (Model.RelatedGeneralInfo != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Address).FirstOrDefault()</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Ciudad
                    @if (Model.RelatedGeneralInfo != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_City)</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Teléfono
                    @if (Model.RelatedGeneralInfo != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Phone)</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Fáx
                    @if (Model.RelatedLiteProvider != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Fax)</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Página Web
                    @if (Model.RelatedLiteProvider != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Website)</span>
                    }
                </label>
            </li>

            <li>
                <label>
                    Email
                    @if (Model.RelatedLiteProvider != null)
                    {
                        <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Email)</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Objeto Social
                    @if (Model.RelatedLegalInfo != null)
                    {
                        <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_SocialObject</span>
                    }
                </label>
            </li>
            <li>
                <label>
                    Objeto Social
                    @if (Model.RelatedLegalInfo != null)
                    {
                        <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_SocialObject</span>
                    }
                </label>
            </li>
        </ul>

        <label class="POMPSectionTitles">Información básica</label>
        <ul class="POMPProviderInfoDisplayList">
            <li>
                <label>                    
                    @if (Model.RelatedBlackListInfo != null)
                    {
                        //Model.RelatedBlackListInfo.Where(x => x.)
                        <span>@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203004).Select(x => x.Value).FirstOrDefault()</span>
                    }
                </label>
            </li>
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}