@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Información Básica";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Resumen del Proveedor</label>
        <div class="container-fluid POMPContainerDetail">
            <div class="row POMPSectionTitlesBox">
                <div class="col-xs-9">
                    <label>Información Básica</label>
                </div>
                <div class="col-xs-3">
                    <div class="POMPDownloadReportsTop">
                        <form id="frmProviderUpsert"
                              method="post"
                              action="@(Url.Action
                                    (MVC.Provider.ActionNames.GIProviderInfo,
                                    MVC.Provider.Name,
                                    new
                                    {
                                        ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,
                                    }))">
                            <button class="POMPButtonDownloadReport_Provider" type="submit" title="Descargar Reporte">Descargar Reporte</button>
                            <input type="hidden" name="DownloadReport" value="true" />
                        </form>
                    </div>
                </div>
            </div>
            @if (Model.RelatedGeneralInfo != null && Model.RelatedGeneralInfo.Count > 0)
            {
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row">
                        @if (!string.IsNullOrEmpty(Model.RelatedGeneralInfo.Where(x => x.PC_RepresentantType == "Legal").Select(x => x.PC_ContactName).FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Representante Legal</label>
                                <br />
                                <span>@Model.RelatedGeneralInfo.Where(x => x.PC_RepresentantType == "Legal").Select(x => x.PC_ContactName).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                            </div>
                        }
                        @if (Model.RelatedLegalInfo.Count > 0 && !string.IsNullOrEmpty(Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber) && !string.IsNullOrWhiteSpace(Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Registro Mercantil</label>
                                <br />
                                <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_InscriptionNumber</span>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Address).FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Dirección</label>
                                <br />
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Address).FirstOrDefault()</span>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_City).FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Ciudad</label>
                                <br />
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_City).FirstOrDefault()</span>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Country).FirstOrDefault()))
                        {
                            string tmpPais = Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Country).FirstOrDefault();
                            if (tmpPais != null)
                            {
                                string[] pais_estado = tmpPais.Split(',');
                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">País</label>
                                    <br />
                                    <span>@pais_estado[1]</span>
                                </div>

                                <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                    <br />
                                    <label class="POMPProviderBoxInfo">Estado</label>
                                    <br />
                                    <span>@pais_estado[0]</span>
                                </div>
                            }

                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Phone).FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Teléfono</label>
                                <br />
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Phone).FirstOrDefault()</span>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Fax).FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Fax</label>
                                <br />
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Fax).FirstOrDefault()</span>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Email).FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Mail</label>
                                <br />
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Email).FirstOrDefault()</span>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Website).FirstOrDefault()))
                        {
                            <div class="col-xs-12 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Página Web</label>
                                <br />
                                <span>@Model.RelatedGeneralInfo.Where(x => x.BR_IsPrincipal == true).Select(x => x.BR_Website).FirstOrDefault()</span>
                            </div>
                        }
                        @if (Model.RelatedLegalInfo.Count > 0 && !string.IsNullOrWhiteSpace(Model.RelatedLegalInfo.FirstOrDefault().CP_SocialObject))
                        {
                            <div class="col-xs-12 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Objeto Social</label>
                                <br />
                                <span>@Model.RelatedLegalInfo.FirstOrDefault().CP_SocialObject</span>
                            </div>
                        }
                    </div>
                </div>
            }
            @*Validación de Modulos por Rol*@
            @foreach (var module in MarketPlace.Models.General.SessionModel.CurrentUserModules())
            {
                if (module == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderDetail)
                {
                    <br />
                    @*AQUI ESTA EL AREA DE LISTAS RESTRICTIVAS*@
            if (!string.IsNullOrWhiteSpace(Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203012).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault().ToString()))
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-6 text-left">
                        <label>Consulta Listas Restrictivas - Última Validación @Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203012).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault() </label>
                    </div>
                    <div class="col-sm-6 text-right">
                        @if (Model.RelatedLiteProvider.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.DontShowAlert)
                        {
                            /*Si no hay*/
                        }
                        else
                        {
                            <a class="POMPLinkDetail_Provider" href="@(Url.RouteUrl
                                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                new
                                                {
                                                    controller = MVC.Provider.Name,
                                                    action = MVC.Provider.ActionNames.GIBlackList,
                                                    ProviderPublicId = Request["ProviderPublicId"]
                                                }))">
                                Ver Detalle
                            </a>
                        }

                    </div>
                </div>
                <br />
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row">
                        @if (Model.RelatedLiteProvider.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.DontShowAlert)
                        {
                            <p>No se encontraron coincidencias en listas restrictivas.</p>
                        }
                        else
                        {
                            <p class="POMPWarning">Se encontraron coincidencias en listas restrictivas.</p>
                        }
                    </div>
                </div>
            }
            <br />
            @*AQUI ESTA EL AREA SEGUIMIENTOS*@
            if (Model.RelatedTrackingInfo != null && Model.RelatedTrackingInfo.Count > 0)
            {
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row POMPSectionTitlesBox">
                        <div class="col-sm-12  text-left">
                            <label>Seguimientos</label>
                        </div>
                    </div>
                    <div class="row POMPBorderbottom">
                        <div class="col-sm-6 POMPBorderbottom POMPProviderBoxInfo">
                            <label>Seguimiento</label>
                        </div>
                        <div class="col-sm-6 POMPProviderBoxInfo">
                            <label>Fecha</label>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.RelatedTrackingInfo.FirstOrDefault().ItemName))
                        {
                            <div class="col-sm-6 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Objeto Social</label>
                                <br />
                                <span>@Model.RelatedTrackingInfo.FirstOrDefault().ItemName</span>
                            </div>
                        }
                        @if (Model.RelatedTrackingInfo.FirstOrDefault().CreateDate != null)
                        {
                            <div class="col-sm-6 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Objeto Social</label>
                                <br />
                                <span>@Model.RelatedTrackingInfo.FirstOrDefault().CreateDate</span>
                            </div>
                        }
                    </div>
                </div>
            }
            @*AQUI ESTA EL AREA FINANCIERA*@
            <br />
            if (Model.RelatedFinancialBasicInfo != null && Model.RelatedFinancialBasicInfo.Count > 0)
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-6  text-left">
                        <label>Información Financiera Año @Model.RelatedFinancialBasicInfo.Where(x => x.BI_Year != null).Select(x => x.BI_Year).DefaultIfEmpty("").FirstOrDefault()</label>
                    </div>
                    <div class="col-sm-6  text-right">
                        <label class="POMPLinkDetail_Provider">
                            <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Provider.Name,
                                    action = MVC.Provider.ActionNames.FIBalanceSheetInfo,
                                    ProviderPublicId = Request["ProviderPublicId"]
                        }))">Ver Detalle</a>
                        </label>
                    </div>
                </div>
                <br />
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row">
                        @if (Model.RelatedFinancialBasicInfo != null && Model.RelatedFinancialBasicInfo.Count > 0)
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Total Activo</label>
                                <br />
                                <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalActive != null).Select(x => x.BI_TotalActive).DefaultIfEmpty("").FirstOrDefault()</span>

                            </div>
                        }
                        @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPassive != null).Select(x => x.BI_TotalPassive).DefaultIfEmpty("").FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Total Pasivo</label>
                                <br />
                                <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPassive != null).Select(x => x.BI_TotalPassive).DefaultIfEmpty("").FirstOrDefault()</span>

                            </div>
                        }
                        @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPatrimony != null).Select(x => x.BI_TotalPatrimony).DefaultIfEmpty("").FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Total Patrimonio</label>
                                <br />
                                <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_TotalPatrimony != null).Select(x => x.BI_TotalPatrimony).DefaultIfEmpty("").FirstOrDefault()</span>

                            </div>
                        }
                        @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_OperationIncome != null).Select(x => x.BI_OperationIncome).DefaultIfEmpty("").FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Ingresos Operacionales</label>
                                <br />
                                <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency  @Model.RelatedFinancialBasicInfo.Where(x => x.BI_OperationIncome != null).Select(x => x.BI_OperationIncome).DefaultIfEmpty("").FirstOrDefault()</span>

                            </div>
                        }
                        @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_IncomeBeforeTaxes != null).Select(x => x.BI_IncomeBeforeTaxes).DefaultIfEmpty("").FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Utilidad Antes de Impuestos</label>
                                <br />
                                <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_IncomeBeforeTaxes != null).Select(x => x.BI_IncomeBeforeTaxes).DefaultIfEmpty("").FirstOrDefault()</span>
                            </div>
                        }
                        <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                            <br />
                            <label class="POMPProviderBoxInfo">Capital de Trabajo</label>
                            <br />
                            <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_JobCapital != null).Select(x => x.BI_JobCapital).DefaultIfEmpty("0").FirstOrDefault()</span>
                        </div>
                        @if (Model.RelatedFinancialBasicInfo != null && !string.IsNullOrWhiteSpace(Model.RelatedFinancialBasicInfo.Where(x => x.BI_ExerciseUtility != null).Select(x => x.BI_ExerciseUtility).DefaultIfEmpty("").FirstOrDefault()))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Utilidad del Ejercicio</label>
                                <br />
                                <span>@Model.RelatedFinancialBasicInfo.FirstOrDefault().Currency @Model.RelatedFinancialBasicInfo.Where(x => x.BI_ExerciseUtility != null).Select(x => x.BI_ExerciseUtility).DefaultIfEmpty("").FirstOrDefault()</span>
                            </div>
                        }
                        <div class="col-xs-12">
                            <br />
                            <label class="POMPProviderBoxInfo">Indice Altman</label>
                            <br />
                            <div class="col-sm-2 POMPProviderBoxInfo">
                                <span>@Model.RelatedFinancialBasicInfo.Where(x => x.BI_Altman != null).Select(x => x.BI_Altman).DefaultIfEmpty("").FirstOrDefault()</span>
                                <br />
                                <span class="POMPResumeItem_Provider"><i>- 1.80 Muy alta</i><br /><i>- 1.81 a 2.7 Alta</i><br /><i>- 2.8 a 2.9 Posible</i><br /><i>- 3 o más No es probable la falta de liquidez</i></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br />
            @*AQUI ESTA EL AREA DE K *@
            if (Model.RelatedKContractInfo != null && Model.RelatedKContractInfo.Count > 0)
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-2 text-left">
                        <label>Contratación (K)</label>
                    </div>
                    <div class="col-sm-7  text-right">
                        <i class="POMPResumeItem_Provider">Decreto 4881 de 2008. Fecha de última actualización: 07 de Febrero de 2014</i>
                    </div>
                    <div class="col-sm-3 text-right">
                        <label class="POMPLinkDetail_Provider">
                            <a href="@(Url.RouteUrl
                                                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                    new
                                                    {
                                                        controller = MVC.Provider.Name,
                                                        action = MVC.Provider.ActionNames.FIKContract,
                                                        ProviderPublicId = Request["ProviderPublicId"]
                                                    }))">Ver Detalle</a>
                        </label>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 ">
                            <div class="col-sm-12 POMPProviderBoxInfo"><strong>Criterio de Evaluación</strong></div>
                            <div class="col-sm-12 POMPProviderBoxInfo"><strong>Puntuación Total</strong></div>
                            <div class="col-sm-12 POMPProviderBoxInfo"><strong>Capacidad Organizacional S.M.M.L.V</strong></div>
                            <div class="col-sm-12 POMPProviderBoxInfo"><strong>Capacidad Legal de Contratación U.S.D</strong></div>
                        </div>
                        <div class="col-sm-8 col-lg-8">
                            <div class="row">
                                @foreach (var item in Model.RelatedKContractInfo)
                                {
                                    <div class="col-sm-4 ">
                                        <div class="col-sm-12 POMPProviderBoxInfo text-center">
                                            <strong>@item.FK_RoleType</strong>
                                        </div>
                                        <div class="col-sm-12 POMPProviderBoxInfo text-center">
                                            <span>@item.FK_TotalScore</span>
                                        </div>
                                        <div class="col-sm-12 POMPProviderBoxInfo text-center">
                                            @{string FK_TotalOrgCapacityScore = Convert.ToDecimal(item.FK_TotalOrgCapacityScore).ToString("#,0.##", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"));}
                                            <span>@FK_TotalOrgCapacityScore</span>
                                        </div>
                                        <div class="col-sm-12 POMPProviderBoxInfo text-center">
                                            @{string FK_TotalKValueScore = Convert.ToDecimal(item.FK_TotalKValueScore).ToString("#,0.##", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"));}
                                            <span>@FK_TotalKValueScore</span>
                                        </div>
                                    </div>
                                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*AQUI ESTA EL AREA info HSE*@
            <br />
            if (Model.RelatedHSEQlInfo != null && Model.RelatedHSEQlInfo.Count > 0)
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-xs-9">
                        <label>Información HSEQ</label>
                    </div>
                    <div class="col-xs-3 text-right">
                        <label class="POMPLinkDetail_Provider">
                            <a href="@(Url.RouteUrl
                                    (MarketPlace.Models.General.Constants.C_Routes_Default,
                                    new
                                    {
                                        controller = MVC.Provider.Name,
                                        action = MVC.Provider.ActionNames.HICertificationsInfo,
                                        ProviderPublicId = Request["ProviderPublicId"]
                                    }))">Ver Detalle</a>
                        </label>
                    </div>
                </div>
                <br />
                <div class="container-fluid POMPProviderDetailContainer">
                    <div class="row">
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedHSEQlInfo.FirstOrDefault().CR_SystemOccupationalHazards))
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Empresa de Sistema de Riesgos</label>
                                <br />
                                <span>@Model.RelatedHSEQlInfo.FirstOrDefault().CR_SystemOccupationalHazards</span>
                            </div>
                        }
                        @if (Model.RelatedCertificationBasicInfo != null && Model.RelatedCertificationBasicInfo.Count > 0)
                        {
                            <div class="col-sm-4 POMPBorderbottom POMPProviderBoxInfo">
                                @if (Model.RelatedCertificationBasicInfo.Where(x => x.LargeValue == "1" && x.ItemInfoType.ItemId == 204).Count() > 0)
                                {
                                    <br />
                                    <label class="POMPProviderBoxInfo">Certificado de gestión OHSAS 18001</label>
                                    <br />
                                    <span>Si</span>
                                }
                                else
                                {
                                    <br />
                                    <label class="POMPProviderBoxInfo">Certificado de gestión OHSAS 18001</label>
                                    <br />
                                    <span>No</span>
                                }
                            </div>
                        }
                        @if (Model.RelatedCertificationBasicInfo != null && Model.RelatedCertificationBasicInfo.Count > 0)
                        {
                            <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">

                                @if (Model.RelatedCertificationBasicInfo.Where(x => x.LargeValue == "1" && (x.ItemInfoType.ItemId == 170 || x.ItemInfoType.ItemId == 177)).Count() > 0)
                                {
                                    <br />
                                    <label class="POMPProviderBoxInfo">Certificados de gestión ISO</label>
                                    <br />
                                    <span>@Model.RelatedCertificationBasicInfo.Where(x => x.LargeValue == "1" && (x.ItemInfoType.ItemId == 170 || x.ItemInfoType.ItemId == 177)).Select(x => x.ItemInfoType.ItemName).FirstOrDefault()</span>
                                }
                                else
                                {
                                    <br />
                                    <label class="POMPProviderBoxInfo">Certificados de gestión ISO</label>
                                    <br />
                                    <span>N/D</span>
                                }

                            </div>
                        }
                        @if (Model.RelatedCertificationBasicInfo != null && Model.RelatedCertificationBasicInfo.Count > 0)
                        {
                            <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">Nivel de Riesgo ARL</label>
                                <br />
                                <span>@Model.RelatedHSEQlInfo.FirstOrDefault().CR_RateARL</span>
                            </div>
                        }
                        @if (Model.RelatedCertificationBasicInfo != null && Model.RelatedCertificationBasicInfo.Count > 0)
                        {
                            <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">

                                @if (!string.IsNullOrWhiteSpace(Model.RelatedCertificationBasicInfo.FirstOrDefault().Value))
                                {
                                    <br />
                                    <label class="POMPProviderBoxInfo">Guia RUC-CCS</label>
                                    <br />
                                    <span>@Model.RelatedCertificationBasicInfo.FirstOrDefault().Value</span>
                                }
                                else
                                {
                                    <br />
                                    <label class="POMPProviderBoxInfo">Guia RUC-CCS</label>
                                    <br />
                                    <span>N/D</span>
                                }
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.RelatedHSEQlInfo.FirstOrDefault().CR_LTIFResult))
                        {
                            <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                <br />
                                <label class="POMPProviderBoxInfo">LTIF</label>
                                <br />
                                <span>@Model.RelatedHSEQlInfo.FirstOrDefault().CR_LTIFResult</span>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        if (module == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.NewClient)
        {
            <br />
            @*AQUI ESTA EL AREA DE LISTAS RESTRICTIVAS*@
            if (!string.IsNullOrWhiteSpace(Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203012).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault().ToString()))
            {
                <div class="row POMPSectionTitlesBox">
                    <div class="col-sm-6 text-left">
                        <label>Consulta Listas Restrictivas - Última Validación @Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyInfo.Where(x => x.ItemInfoType.ItemId == 203012).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault() </label>
                    </div>
                </div>

                <br />
                    <div class="container-fluid POMPProviderDetailContainer">
                        <div class="row">
                            @if (Model.RelatedLiteProvider.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.DontShowAlert)
                            {
                                <p>No se encontraron coincidencias en listas restrictivas.</p>
                            }
                            else
                            {
                                <p class="POMPWarning">Se encontraron coincidencias en listas restrictivas.</p>
                            }
                        </div>
                    </div>
                    }
                }
            }
            <br />
        </div>
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            switch ($(".POMPProviderKContratacion li").length) {
                case 2:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionTwoColumns");
                    break;
                case 3:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionThreeColumns");
                    break;
                case 4:
                    $(".POMPProviderKContratacion > li").addClass("KContratacionFourColumns");
                    break;
            }
        });
    </script>

    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}