@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Certification";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Certificacione</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                foreach (var item in Model.RelatedHSEQlInfo)
                {
                    <li>
                            <label>
                                Empresa Certificadora
                                <span>@item.C_CertificationCompanyName</span>
                            </label>
                            <label>
                                Norma
                                <span>@item.C_RuleName</span>
                            </label>
                            <label>
                                Fecha de Certificación
                                <span>@item.C_StartDateCertification</span>
                            </label>
                            <label>                
                                Fecha de Caducidad
                                <span>@item.C_EndDateCertification</span>
                            </label>
                            <label>
                                % CCS
                                <span>@item.C_CCS</span>
                            </label>                            
                            <label>
                                Alcance
                                <span>@item.C_Scope</span>
                            </label>
                        <label>
                            Archivo de Alcance
                            @{
                                var UlrContent = item.C_CertificationFile;
                                if (!string.IsNullOrEmpty(UlrContent))
                                {
                                    <a class="POMPProviderDocumetIcon" href="@UlrContent" title=""></a>
                                            @*<iframe src="@(Server.UrlDecode(Url.Action(MVC.Desktop.Provider.ActionNames.GetProviderFileBytes, MVC.Provider.Name, new { FilePath = UlrContent })))" frameborder="0"></iframe>*@
                                            <a target="_blank" href="@UlrContent">Ver Archivo</a>
                                }
                            }
                        </label>
                    </li>
                }
            }
        </ul>
    </div>
    </div>
    @{
        Model.RenderScripts = true;
    }
    @section inlinescripts
{
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    }




