@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Politicas de Seguridad, Medio Ambiente y Seguridad";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Politicas de Seguridad, Medio Ambiente y Seguridad</label>
        <ul class="POMPProviderInfoMultipleValues">
            <li>
                @foreach (var item in Model.RelatedHSEQlInfo)
                {
                    if (!string.IsNullOrEmpty(item.CH_Year))
                    {
                        <label class="POMPProviderDataSubtitle">
                            <span>Año @item.CH_Year</span>
                        </label>
                    }
                    if (!string.IsNullOrEmpty(item.CH_PoliticsSecurity))
                    {
                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_PoliticsSecurity">Ver Archivo de Política de Seguridad, Salud y Ambiente</a>
                        </label>
                    }
                    if (!string.IsNullOrEmpty(item.CH_PoliticsNoAlcohol))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_PoliticsNoAlcohol">Ver Archivo de Política de no alcohol, Drogas y Fumadores</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_ProgramOccupationalHealth))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_ProgramOccupationalHealth">Ver Archivo de Sistema de Gestión de Seguridad y Salud en el Trabajo</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_RuleIndustrialSecurity))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_RuleIndustrialSecurity">Ver Archivo de Reglamento de Higiene y Seguridad Industrial</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_MatrixRiskControl))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_MatrixRiskControl">Ver Archivo de Matriz de Identificación de Peligros, Evaluación y Control de Riesgos</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_CorporateSocialResponsability))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_CorporateSocialResponsability">Ver Archivo de Responsabilidad Social Empresarial</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_ProgramEnterpriseSecurity))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_ProgramEnterpriseSecurity">Ver Archivo de Programa de Seguridad Empresarial y Logística</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_PoliticsRecruiment))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_PoliticsRecruiment">Ver Archivo de Política de Contratación de Personal</a>
                        </label>

                    }
                    if (!string.IsNullOrEmpty(item.CH_CertificationsForm))
                    {

                        <label>
                            <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CH_CertificationsForm">Ver Archivo de Formulario Certificaciones</a>
                        </label>
                    }

                }
            </li>
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




