@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Risk Policies";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
<div class="POBOProviderSideMenuWrapper">
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
</div>
<div>
    <ul>
        @{

            <li>Sistema de Riesgos</li>
            <li>@Model.RelatedHSEQlInfo.Where(x => x.CR_SystemOccupationalHazards != null).Select(x => x.CR_SystemOccupationalHazards).FirstOrDefault()</li>

            <li>Calificación de Riesgo ARL</li>
            <li>@Model.RelatedHSEQlInfo.Where(x => x.CR_RateARL != null).Select(x => x.CR_RateARL).FirstOrDefault()</li>

            <li>Certificado de Accidentalidad</li>
            <li>
                <a target="_blank" href="@Model.RelatedHSEQlInfo.Where(x => x.CR_CertificateAffiliateARL != null).Select(x => x.CR_CertificateAffiliateARL).FirstOrDefault()">Ver Archivo</a>
            </li>

            <li>Resultado LTIF:</li>
            <li>@Model.RelatedLTIFInfo.FirstOrDefault().CA_LTIFResult</li>

            <li>Años:</li>
            <li>@Model.RelatedLTIFInfo.FirstOrDefault().CA_YearsResult</li>
        }
    </ul>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




