@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Proveedores";
    Layout = MVC.Desktop.Shared.Views._Layout;
    
    List<int> oCurrentUserModules = MarketPlace.Models.General.SessionModel.CurrentUserModules();
    List<int> oCurrentUserMenu = MarketPlace.Models.General.SessionModel.CurrentProviderMenu();
    List<int> oCurrentUserSubMenu = MarketPlace.Models.General.SessionModel.CurrentProviderSubMenu((int)MarketPlace.Models.General.enumProviderMenu.GeneralInfo);
}
<div class="col-sm-12 col-lg-12">
    <div class="POMPChartContainer container-fluid">
        <div class="col-sm-12 col-lg-12 row-centered text-center">
            @*Validate single modules*@
            @if (oCurrentUserModules.Any(x => x == (int)MarketPlace.Models.General.enumModule.ProviderInfo))
            {
                <div class="col-sm-12 col-lg-6 col-centered col-max">
                    <div class="panel panel-default">
                        <div class="panel-heading POMPChartPanelTitle">
                            <h3 class="panel-title">Estado de Proveedores Nacionales</h3>
                        </div>
                        <div class="panel-body POMPChart-minHeight">
                            @Html.Partial(MVC.Desktop.Shared.Views._CH_StateNationalProviders)
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6  col-centered col-max">
                    <div class="panel panel-default">
                        <div class="panel-heading POMPChartPanelTitle">
                            <h3 class="panel-title">Estado de Proveedores Internacionales</h3>
                        </div>
                        <div class="panel-body POMPChart-minHeight">
                            @Html.Partial(MVC.Desktop.Shared.Views._CH_StateForeingProviders)
                        </div>
                    </div>
                </div>
            }

            @if (oCurrentUserModules.Any(x => x == (int)MarketPlace.Models.General.enumModule.SelectionInfo))
            {
                <div class="col-sm-12 col-lg-6  col-centered col-max">
                    <div class="panel panel-default">
                        <div class="panel-heading POMPChartPanelTitle">
                            <h3 class="panel-title">Procesos De Selección Por Estado</h3>
                        </div>
                        <div class="panel-body POMPChart-minHeight">
                            @Html.Partial(MVC.Desktop.Shared.Views._CH_ProjectByState)
                        </div>
                    </div>
                </div>
            }

            @if (oCurrentUserMenu.Any(x => x == (int)MarketPlace.Models.General.enumProviderMenu.Survey))
            {
                @*add validation survey*@
                <div class="col-sm-12 col-lg-6 text-center col-centered col-max">
                    <div class="panel panel-default">
                        <div class="panel-heading POMPChartPanelTitle">
                            <h3 class="panel-title">Evaluaciones de Desempeño por Estado</h3>
                        </div>
                        <div class="panel-body POMPChart-minHeight">
                            @Html.Partial(MVC.Desktop.Shared.Views._CH_Survey)
                        </div>
                    </div>
                </div>
            }

            @if (oCurrentUserModules.Any(x => x == (int)MarketPlace.Models.General.enumModule.ThirdKnowledgeInfo))
            {
                <div class="col-sm-12 col-lg-6  col-centered col-max">
                    <div class="panel panel-default">
                        <div class="panel-heading POMPChartPanelTitle">
                            <h3 class="panel-title">Conocimiento De Terceros Consultas Por Periodo</h3>
                        </div>
                        <div class="panel-body POMPChart-minHeight">
                            @Html.Partial(MVC.Desktop.Shared.Views._CH_TK_GetPeriodsByPlan)
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <div id="POMPManuals">
        <div id="POMPManualTittle" class="div-centered text-center">Manuales</div>
        <div id="POMPManualIcons" class="div-centered  text-center">
            <div class="row">
                @{
                    if (oCurrentUserMenu.Any(x => x == (int)MarketPlace.Models.General.enumProviderMenu.Survey))
                    {
                        <div class="col-xs-4 col-md-4 text-right"><a title="Manual de Evaluación de Desempeño" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Manual_SurveyManual].Value" target="_new"><img class="POMPPdfIcon" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_PdfReportIcon].Value"></a></div>
                    }

                    if (oCurrentUserModules.Any(x => x == (int)MarketPlace.Models.General.enumModule.SelectionInfo))
                    {
                        <div class="col-xs-4 col-md-4 text-left"><a title="Manual de Proceso de Selección" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Manual_ProjectManual].Value" target="_new"><img class="POMPPdfIcon" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_PdfReportIcon].Value"></a></div>
                    }

                    if (oCurrentUserModules.Any(x => x == (int)MarketPlace.Models.General.enumModule.ThirdKnowledgeInfo))
                    {
                        <div class="col-xs-4 col-md-4 text-left"><a title="Manual de Conocimiento de Terceros" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Manual_TkManual].Value" target="_new"><img class="POMPPdfIcon" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_PdfReportIcon].Value"></a></div>
                    }

                    if (MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyPublicId == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.CC_CompanyPublicId_Publicar].Value ||
                    MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyPublicId == MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.CC_CompanyPublicId_ClientePolipropileno].Value)
                    {
                        <div class="col-xs-4 col-md-4 text-right"><a title="Manual de Búsqueda de Proveedores" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Manual_ClientPolipropileno].Value" target="_new"><img class="POMPPdfIcon" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_PdfReportIcon].Value"></a></div>
                    }
                }
            </div>
        </div>
    </div>
</div>

        
