@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Proveedores";
    Layout = MVC.Desktop.Shared.Views._Layout;

    /*Get session modules by user*/
    bool IsBasicInfo = false;
    bool IsEvaluator = false;
    bool IsProcessModuleEnable = false;
    bool IsThirdKnowledgeModeuleEnable = false;

    List<int> Modules = MarketPlace.Models.General.SessionModel.CurrentUserModules();

    Modules.All(x =>
    {
        if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderBasicInfo)
        {
            IsBasicInfo = true;
        }
        else if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderSelectionCreate)
        {
            IsProcessModuleEnable = true;
        }
        else if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingView)
        {
            IsEvaluator = true;
        }
        else if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ThirdKnowledge)
        {
            IsThirdKnowledgeModeuleEnable = true;
        }
        return true;
    });

}
<div class="POMPChartContainer container-fluid">
    <div class="row">
        @if (!IsBasicInfo || MarketPlace.Models.General.SessionModel.CurrentCompanyType == MarketPlace.Models.General.enumCompanyType.BuyerProvider)
        {
            <div class="col-sm-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading POMPChartPanelTitle">
                        <h3 class="panel-title">Estado de Proveedores Nacionales</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial(MVC.Desktop.Shared.Views._CH_StateNationalProviders)
                    </div>
                </div>
            </div>
        }

        @if (!IsBasicInfo || MarketPlace.Models.General.SessionModel.CurrentCompanyType == MarketPlace.Models.General.enumCompanyType.BuyerProvider)
        {
            <div class="col-sm-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading POMPChartPanelTitle">
                        <h3 class="panel-title">Estado de Proveedores Internacionales</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial(MVC.Desktop.Shared.Views._CH_StateAliensProviders)
                    </div>
                </div>
            </div>
        }

        @if (IsProcessModuleEnable)
        {
            <div class="col-sm-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading POMPChartPanelTitle">
                        <h3 class="panel-title">Procesos De Selección Por Estado Año En Curso</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial(MVC.Desktop.Shared.Views._CH_ProjectByState)
                    </div>
                </div>
            </div>

        }

        @if (IsThirdKnowledgeModeuleEnable)
        {
            <div class="col-sm-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading POMPChartPanelTitle">
                        <h3 class="panel-title">Conocimiento De Terceros Consultas Por Periodo</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Partial(MVC.Desktop.Shared.Views._CH_TK_GetPeriodsByPlan)
                    </div>
                </div>
            </div>

        }
    </div>
</div>

@*MANUALES*@
<div class="container-fluid">
    <div class="row  centered">
        <div class="col-sm-12 col-lg-12 text-center">
            <div id="POMPManuals">
                <div id="POMPManualTittle" class="div-centered">Manuales</div>
                <div id="POMPManualIcons" class="div-centered">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 text-right"><a title="Manual de Evaluación de Desempeño" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Manual_SurveyManual].Value" target="_new"><img class="POMPPdfIcon" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_PdfReportIcon].Value"></a></div>
                        <div class="col-xs-6 col-md-6 text-left"><a title="Manual de Proceso de Selección" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Manual_ProjectManual].Value" target="_new"><img class="POMPPdfIcon" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_PdfReportIcon].Value"></a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


