@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Proveedores";
    Layout = MVC.Desktop.Shared.Views._Layout;

    /*Get session modules by user*/
    bool IsBasicInfo = false;
    bool IsEvaluator = false;
    bool IsProcessModelEnable = false;

    List<int> Modules = MarketPlace.Models.General.SessionModel.CurrentUserModules();

    Modules.All(x =>
    {
        if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderBasicInfo)
        {
            IsBasicInfo = true;
        }
        else if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderSelectionCreate)
        {
            IsProcessModelEnable = true;
        }
        else if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingView)
        {
            IsEvaluator = true;
        }
        return true;
    });

}
<div id="POMPGraphicContainerMain">
    @if (!IsBasicInfo || MarketPlace.Models.General.SessionModel.CurrentCompanyType == MarketPlace.Models.General.enumCompanyType.BuyerProvider)
    {
        <div class="POMPGraphicDynamic">
            <div class="POMPHeaderGraphicDynamic">
                <h1>Estado de los proveedores</h1>
            </div>
            @Html.Partial(MVC.Desktop.Shared.Views._CH_StateProviders)
        </div>
    }  

    @if (IsProcessModelEnable == true)
    {
        <div class="POMPGraphicDynamic">
            <div class="POMPHeaderGraphicDynamic">
                <h1>Procesos de Selección por estado año en curso</h1>
            </div>
            @Html.Partial(MVC.Desktop.Shared.Views._CH_ProjectByState)
        </div>
    }   

    @if (IsEvaluator == true)
    {
        <div class="POMPGraphicDynamic">
            <div class="POMPHeaderGraphicDynamic">
                <h1>Evaluaciones de desempeño por estado año en curso</h1>
            </div>
            @Html.Partial(MVC.Desktop.Shared.Views._CH_Survey)
        </div>
    }
    
    <div class="POMPManualLink">
        <div id="POMPManualTitle"><p>MANUALES</p></div>
        <div id="POMPManualIcons">
            <div class="POMPPdfContainer"><a title="Manual de evaluación de desempeño" href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Manual_SurveyManual].Value" target="_new"><img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.MP_Report_PdfReportIcon].Value"></a></div>           
        </div>
    </div>
</div>




