@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "CIFIN";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">CIFIN</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
                {
                    
                        @foreach (var item in Model.RelatedLegalInfo)
                        {
                            <li>
                                <label class="POMPProviderDataSubtitle">
                                    <span>Fecha de Consulta: @item.CF_QueryDate</span>
                                </label>
                                <label>
                                    Resultado de la Consulta
                                    <span>@item.CF_ResultQuery</span>
                                </label>
                                <label>
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.CF_AutorizationFile">Ver Archivo Archivo de Autorización</a>
                                </label>
                            </li>
                        }

                }
}
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




