@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Resolutions";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Resoluciones</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
                {

                        foreach (var item in Model.RelatedLegalInfo)
                        {
                            <li>
                                <label class="POMPProviderDataSubtitle">
                                <span>@item.RS_EntityType, Alcance: @item.RS_Description</span>
                                </label>
                                <label>
                                    Fecha Inicial
                                    <span>@item.RS_StartDate</span>
                                </label>

                                <label>
                                    Fecha Final
                                    <span>@item.RS_EndDate</span>
                                </label>
                                <label>
                                    Alcance
                                    <span>@item.RS_Description</span>
                                </label>
                                <label>
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.RS_ResolutionFile">Ver Archivo Anexo</a>
                                </label>
                            </li>
                        }

                }
}
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




