@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Resoluciones";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Resoluciones</label>
        <div class="container-fluid POMPContainerDetail">
            @{
                if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
                {

                    foreach (var item in Model.RelatedLegalInfo)
                    {
                        <div class="row POMPSectionTitlesBox">
                            <div class="col-sm-12">
                                @if (!string.IsNullOrEmpty(item.RS_EntityType) && !string.IsNullOrEmpty(item.RS_Description))
                                {
                                    <strong>@item.RS_EntityType</strong>
                                }
                                else
                                {
                                    <span>N/D</span>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="container-fluid POMPProviderDetailContainer">

                            <div class="row">
                                @if (!string.IsNullOrEmpty(item.RS_StartDate))
                                {
                                    <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Fecha Inicial</label>
                                        <br />
                                        <span>@item.RS_StartDate</span>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.RS_EndDate))
                                {
                                    <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Fecha Final</label>
                                        <br />
                                        <span>@item.RS_EndDate</span>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.RS_Description))
                                {
                                    <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Alcance</label>
                                        <br />
                                        <span>@item.RS_Description</span>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.RS_ResolutionFile))
                                {
                                    <div class="col-sm-4 POMPBorderbottom  POMPProviderBoxInfo">
                                        <br />
                                        <label class="POMPProviderBoxInfo">Archivo Anexo</label>
                                        <br />
                                        <a class="POMPProviderDocumetIcon" target="_blank" href="@item.RS_ResolutionFile">Ver Archivo Anexo</a>
                                    </div>
                                }
                            </div>
                            <br />
                        </div>


                    }
                }
            }
        </div>

    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




