@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "SARLAFT";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>
    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">SARLAFT</label>
        <ul class="POMPProviderInfoMultipleValues">
            @{
                if (Model.RelatedLegalInfo != null && Model.RelatedLegalInfo.Count > 0)
                {

                        foreach (var item in Model.RelatedLegalInfo)
                        {
                            <li>
                                <label class="POMPProviderDataSubtitle">
                                    <span>Fecha de Diligenciamiento: @item.SF_ProcessDate</span>
                                </label>
                                <label>
                                    Tipo de Persona
                                    <span>@item.SF_PersonType</span>
                                </label>
                                <label>
                                    <a class="POMPProviderDocumetIcon" target="_blank" href="@item.SF_SARLAFTFile">Ver Archivo Archivo Anexo</a>
                                </label>
                            </li>
                        }

                }
}
        </ul>
    </div>
</div>
@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
}




