@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Evaluación de desempeño";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;

    MarketPlace.Models.Survey.SurveyProgramModel oSurveyModel = new MarketPlace.Models.Survey.SurveyProgramModel()
    {
        RenderScripts = false,
    };
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Lista De Evaluaciones De Desempeño</label>
        <div>
            <div class="POMPSearchResultsPager">
                <!--Pager-->
                @Html.Partial(MVC.Desktop.Shared.Views._SV_SurveySearch_Result_Pager, Model.RelatedSurveySearch)
            </div>
            <div class="POMPSearchResultsOrder">
                <!--Orders-->
                <ul class="POMPProviderSurvey_mainFilter">
                    <li class="SurveyFilters">
                        <div class="SurveyOrderBy">
                            <span>Ordenar por:</span>
                            <div style="margin-bottom:10px;"></div>
                            <!--order-->
                            <select id="SurveySearch_Order" class="orderInput">
                                @{string strOrderAux = ((int)MarketPlace.Models.General.enumSurveySearchOrderType.LastModify).ToString() + "_0";}
                                <option value="@strOrderAux" @(strOrderAux == Model.RelatedSurveySearch.OrderTypeOrientation ? "selected='selected'" : string.Empty)>Fecha de modificación - reciente antiguo</option>

                                @{strOrderAux = ((int)MarketPlace.Models.General.enumSurveySearchOrderType.LastModify).ToString() + "_1";}
                                <option value="@strOrderAux" @(strOrderAux == Model.RelatedSurveySearch.OrderTypeOrientation ? "selected='selected'" : string.Empty)>Fecha de modificación- antiguo reciente</option>

                                @{strOrderAux = ((int)MarketPlace.Models.General.enumSurveySearchOrderType.SurveyGroup).ToString() + "_1";}
                                <option value="@strOrderAux" @(strOrderAux == Model.RelatedSurveySearch.OrderTypeOrientation ? "selected='selected'" : string.Empty)>Grupo de evaluación - AZ</option>

                                @{strOrderAux = ((int)MarketPlace.Models.General.enumSurveySearchOrderType.SurveyGroup).ToString() + "_0";}
                                <option value="@strOrderAux" @(strOrderAux == Model.RelatedSurveySearch.OrderTypeOrientation ? "selected='selected'" : string.Empty)>Grupo de evaluación - ZA</option>

                                @{strOrderAux = ((int)MarketPlace.Models.General.enumSurveySearchOrderType.SurveyName).ToString() + "_1";}
                                <option value="@strOrderAux" @(strOrderAux == Model.RelatedSurveySearch.OrderTypeOrientation ? "selected='selected'" : string.Empty)>Nombre de evaluación - AZ</option>

                                @{strOrderAux = ((int)MarketPlace.Models.General.enumSurveySearchOrderType.SurveyName).ToString() + "_0";}
                                <option value="@strOrderAux" @(strOrderAux == Model.RelatedSurveySearch.OrderTypeOrientation ? "selected='selected'" : string.Empty)>Nombre de evaluación - ZA</option>

                                @{strOrderAux = ((int)MarketPlace.Models.General.enumSurveySearchOrderType.SurveyStatus).ToString() + "_0";}
                                <option value="@strOrderAux" @(strOrderAux == Model.RelatedSurveySearch.OrderTypeOrientation ? "selected='selected'" : string.Empty)>Estado</option>
                            </select>
                        </div>
                        <div class="SurveyFilterDate">
                            @{
                                if (Model.RelatedSurveySearch.SurveySearchResult.Count > 0 && Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterDateIni.ToString("dd/MM/yyyy") != "01/01/0001"
                              && Model.RelatedSurveySearch.SurveySearchResult.Count > 0 && Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterEndDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                {
                                    var InitDate = Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterDateIni.ToString("yyyy-MM-dd");
                                    var EndDate = Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterEndDate.ToString("yyyy-MM-dd");
                                    <div class="POMPFilterBox">
                                        <span>Desde:</span>
                                        <div style="margin-bottom:10px;"></div>
                                        <input type="date" name="SurveySearch_InitDate" id="SurveySearch_InitDateId" value="@InitDate" />
                                    </div>
                                    <div class="POMPFilterBox">
                                        <span>Hasta:</span>
                                        <div style="margin-bottom:10px;"></div>
                                        <input type="date" name="SurveySearch_EndDate" id="SurveySearch_EndDateId" value="@EndDate" />
                                    </div>
                                }
                                else
                                {
                                    <div class="POMPFilterBox">
                                        <span>Desde:</span>
                                        <div style="margin-bottom:10px;"></div>
                                        <input class="filtrarFecha" type="date" name="SurveySearch_InitDate" id="SurveySearch_InitDateId" value="" />
                                    </div>

                                    <div class="POMPFilterBox">
                                        <span>Hasta:</span>
                                        <div style="margin-bottom:10px;"></div>
                                        <input class="filtrarFecha" type="date" name="SurveySearch_EndDate" id="SurveySearch_EndDateId" value="" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="SurveyActions">
                            <!--actions-->

                            <div style="clear:both"></div>

                            <input class="POMPButtonsSurvey" type="button" name="SurveySearch_Filter" id="SurveySearch_FilterId" value="Filtrar" />

                            @if (Model.RelatedSurveySearch.SurveySearchResult.Count > 0 && Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterDateIni.ToString("dd/MM/yyyy") != "01/01/0001"
                                && Model.RelatedSurveySearch.SurveySearchResult.Count > 0 && Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterEndDate.ToString("dd/MM/yyyy") != "01/01/0001")
                            {
                                <!--actions-->
                                <a class="POMPButtonsSurvey" href="javascript:Provider_SurveyReports.ShowProgramReport({ProviderPublicId:'@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId'});">Generar Reporte</a>
                            }

                        </div>
                    </li>
                    <li class="SurveyResults">

                        <div class="SurveyAverage">
                            <label id="POMPPromedio">Promedio</label>
                            @{decimal average = Model.RelatedSurveySearch.SurveySearchResult.Count > 0 ? Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().Average : 0;                          }
                            <div class="POMPSearchResultsPager" id="POMPSearchResultsPagerPercentage">@Math.Round(average, 1) %</div>
                        </div>

                        @*Validación de Modulos por Rol*@
                        @foreach (var module in MarketPlace.Models.General.SessionModel.CurrentUserModules())
                        {
                            if (module == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingCreate)
                            {
                                <div class="NewSurvey">
                                    <a class="POMPButtonsSurvey" id="POMPButtonSurveryNewEvaluation" href="@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                                                            new
                                                                                                            {
                                                                                                                controller = MVC.Provider.Name,
                                                                                                                action = MVC.Provider.ActionNames.SVSurveyProgram,
                                                                                                                ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                                                                                                            }))">Programar nueva evaluación</a>
                                </div>
                            }
                        }

                    </li>
                </ul>
            </div>
            <div class="POMPResultsOrder">
                <!--search results-->
                @if (Model.RelatedSurveySearch.SurveySearchResult != null && Model.RelatedSurveySearch.SurveySearchResult.Count > 0)
                {
                    <ul>
                        @foreach (MarketPlace.Models.Survey.SurveyViewModel ssit in Model.RelatedSurveySearch.SurveySearchResult)
                        {
                            Model.RelatedSurvey = ssit;

                            <li>
                                <!--Survey Item-->
                                @Html.Partial(MVC.Desktop.Shared.Views._SV_SurveySearch_Result_Item, Model)
                            </li>
                        }
                    </ul>
                }
                else
                {
                    @*Validación de Modulos por Rol*@
                    foreach (var module in MarketPlace.Models.General.SessionModel.CurrentUserModules())
                    {
                        if (module == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.ProviderRatingCreate)
                        {
                            <a href="@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                                        new
                                        {
                                            controller = MVC.Provider.Name,
                                            action = MVC.Provider.ActionNames.SVSurveyProgram,
                                            ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                                        }))">La búsqueda no arrojó resultados o aún no tiene evaluaciones relacionadas, puede programar una evaluación haciendo click aquí.</a>
                        }
                    }
                }
            </div>
            <div class="POMPSearchResultsPager">
                <!--Pager-->
                @Html.Partial(MVC.Desktop.Shared.Views._SV_SurveySearch_Result_Pager, Model.RelatedSurveySearch)
            </div>
        </div>
    </div>
</div>

<!--templates-->
<div style="display:none;">

    @Html.Partial(MVC.Desktop.Shared.Views._SV_ProgramSurvey, oSurveyModel)
    @{Model.RenderScripts = false;}
    @Html.Partial(MVC.Desktop.Shared.Views._SV_SurveyReport, Model)

</div>

@{
    Model.RenderScripts = true;
    oSurveyModel.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    @Html.Partial(MVC.Desktop.Shared.Views._SV_ProgramSurvey, oSurveyModel)
    @Html.Partial(MVC.Desktop.Shared.Views._SV_SurveyReport, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            Provider_SurveySearchObject.Init({
                ObjectId: 'SurveySearch',
                SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.SVSurveySearch,
                                ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId
                            }))',
            });
            Provider_SurveyReports.Init({
                ObjectId: 'Survey_SurveyReport',
            });
            Provider_SurveySearchObject.RenderAsync();
        });
    </script>
}

