@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Programar Evaluación de desempeño";
    Layout = MVC.Desktop.Shared.Views._Layout;
    Model.RenderScripts = false;
}
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Programar evaluaciones de desempeño</label>
        <div class="container-fluid">
            <div id="Survey_ProgramSurvey">
                <div class=" container-fluid">
                    <form id="Survey_ProgramSurvey_Form" method="post" action="@(Url.Action(MVC.Provider.ActionNames.SVSurveyProgram,MVC.Provider.Name,new{ProviderPublicId = Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId,}))">

                        <div class="row thumbnail">
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Evaluación:</label>
                                </div>
                                <div class="col-xs-12">
                                    <input class="POMPEvaluationInput" id="Survey_ProgramSurvey_SurveyName" placeholder="Evaluación" required validationmessage="Seleccione una evaluación" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Fecha de envío:</label>
                                </div>
                                <div class="col-xs-12">
                                    <input class="POMPEvaluationInput" id="Survey_ProgramSurvey_IssueDate" placeholder="yyyy-MM-dd" required validationmessage="Seleccione una fecha" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.IssueDate).ToString())_" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Fecha de caducidad:</label>
                                </div>
                                <div class="col-xs-12">
                                    <input class="POMPEvaluationInput" id="Survey_ProgramSurvey_ExpirationDate" placeholder="yyyy-MM-dd" required validarionmessage="Seleccione una fecha" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.ExpirationDate).ToString())_" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="row">
                                        <div id="Survey_ProgramSurvey_EvaluatorDiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row thumbnail">

                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Contrato o Factura:</label>
                                </div>
                                <div class="col-xs-12">
                                    <input id="Survey_ProgramSurvey_Contract" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Contract).ToString())_" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-8">
                                    <label>Periodo de Evaluación:</label>
                                    <label>Fecha Inicial:</label>
                                </div>
                                <div class="col-xs-5">
                                    <input id="Survey_ProgramSurvey_StartDate" placeholder="yyyy-MM-dd" required validationmessage="Seleccione una fecha" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.StartDate).ToString())_" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-12">
                                    <label>Fecha Final:</label>
                                    <input id="Survey_ProgramSurvey_EndDate" placeholder="yyyy-MM-dd" required validationmessage="Seleccione una fecha" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.EndDate).ToString())_" />
                                </div>
                                <div class="col-xs-12">

                                </div>
                            </div>

                        </div>

                        <div class="row thumbnail">
                            <div class="col-xs-12">
                                <label>Observaciones:</label>
                                <textarea id="Survey_ProgramSurvey_Comments" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Comments).ToString())_"></textarea>
                            </div>
                        </div>


                        <div style="display:none">
                            <input type="hidden" id="Survey_ProgramSurvey_SurveyPublicId" name="SurveyPublicId">
                            <input type="hidden" id="Survey_ProgramSurvey_SurveyConfigId" name="SurveyConfigId" />
                            <input type="hidden" id="Survey_ProgramSurvey_UpsertAction" name="UpsertAction" value="true" />

                            <input type="hidden" id="Survey_ProgramSurvey_Responsible" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Responsible).ToString())_" value="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.Email" />
                            <input type="hidden" id="Survey_ProgramSurvey_Status" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Status).ToString())_" value="@(((int)MarketPlace.Models.General.enumSurveyStatus.Program).ToString())" />
                            <input type="hidden" id="Survey_ProgramSurvey_Progress" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Progress).ToString())_" value="0" />
                            <input type="hidden" id="Survey_ProgramSurvey_Rating" name="SurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.Rating).ToString())_" value="0" />
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="text-align:right;">
                                <input type="submit" value="Guardar" class="POMPSaveButton" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    @{
        Model.RenderScripts = true;
    }
    @section inlinescripts
{
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
        @*@Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)*@
        @*@Html.Partial(MVC.Desktop.Shared.Views._SV_ProgramSurvey, oSurveyModel)*@
        <script type="text/javascript">
            $(document).ready(function () {
                //show generic progress bar
                Survey_Evaluation_ProgramObject.Init(
                    {
                        ObjectId: 'Survey_ProgramSurvey',
                        DateFormat: '@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_DateFormat_Kendo].Value)',
                    });

                Survey_Evaluation_ProgramObject.RenderEvaluation();
            });
        </script>
    }
