@model DocumentManagement.Models.Provider.ProviderFormModel

@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_LayoutProviderForm.cshtml";
}

    @{
        string strStyle = string.Empty;
        if (Model.RealtedStep == null)
        {
            strStyle = "DMLogInProviders";
        }
    }

    <div class="@strStyle">
        <div class="DMLogIntopWrapper">
            <img class="DMProviderlogo" src="@Model.RealtedForm.Logo" alt="" />
            <label>REGISTRO DE INFORMACIÓN DE PROVEEDORES</label>
            <img class="DMPOLogo" src="/Content/Images/LogoPOLogInAlpha.png" alt="" />
        </div>

        @if (Model.RealtedStep == null)
        {
                @Html.Partial(MVC.Shared.Views._P_StepLogin, Model);
        }
        else
        {
            <div class="DMStepsLayOutWrapper">
                <div class="DMMenuCustomer">
                    @Html.Partial(MVC.Shared.Views._P_Menu, Model)
                </div>
                <div class="DMCustomerForm">
                    @Html.Partial(MVC.Shared.Views._P_StepGeneric, Model)
                </div>
            </div>
        }
        <div class="DMLogInbottomWrapper">
            <img class="DMLogPublicar" src="~/Content/Images/LogoPublicarFooterBlack.png" alt="" />
            <label class="DMPublicarCopyright">Publicar publicidad y soluciones multimedia - Proveedores Online &copy; 2014 - 2015</label>
        </div>
    </div>