@model DocumentManagement.Models.Provider.ProviderFormModel

@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_LayoutProviderForm.cshtml";

    Model.RenderScripts = false;

    string strStyle = string.Empty;
    if (Model.RealtedStep == null)
    {
        strStyle = "DMLogInProviders";
    }
}


<div class="@strStyle">
    <p  id="demo" ></p>
    <div class="DMLogIntopWrapper">
        <img class="DMProviderlogo" src="@Model.RealtedForm.Logo" alt="" />
        <label>SISTEMA DE REGISTRO DE PROVEEDORES DE @Model.RealtedCustomer.Name.ToUpper()</label>
        <img class="DMPOLogo" src="@Url.Content("~/Content/Images/LogoPOLogInAlpha.png")" alt="" />                                
    </div>

    @if (Model.RealtedStep == null)
    {
        @Html.Partial(MVC.Shared.Views._P_StepLogin, Model);
    }
    else
    {
        <div class="DMStepsLayOutWrapper">
            <div class="DMStepsMenuCustomer">
                @Html.Partial(MVC.Shared.Views._P_Menu, Model)
            </div>
            <div class="DMCustomerForm">
                @Html.Partial(MVC.Shared.Views._P_StepGeneric, Model)
            </div>
        </div>
    }

    @if (Model.RealtedStep == null)
    {
        <div class="DMLogInbottomWrapper">
            <img class="DMLogPublicar" src="~/Content/Images/LogoPublicarFooterBlack.png" alt="" />
            <label class="DMPublicarCopyright">Publicar publicidad y soluciones multimedia - Proveedores Online &copy; 2014 - 2015</label>
        </div>
    }
    else
    {
        <div class="DMStepsBottomWrapper">
            <img class="DMLogPublicar" src="~/Content/Images/LogoPublicarFooterBlack.png" alt="" />
            <label class="DMPublicarCopyright">Publicar publicidad y soluciones multimedia - Proveedores Online &copy; 2014 - 2015</label>
        </div>
    }

</div>
@{
    Model.RenderScripts = true;
}
<script>  
    var NAV = navigator.appVersion;
    NAV = NAV.toString();
    if (NAV.indexOf("IE 8.0") > -1 || NAV.indexOf("IE 7.0") > -1 || NAV.indexOf("IE 6.0") > -1 || NAV.indexOf("IE 5.0") > -1) {
        document.getElementById("demo").className = "alert";
        document.getElementById("demo").innerHTML = "Estas utilizando un navegador no compatible con varias de nuestras funcionalidades. <br /><br /> Te recomendamos utilizar una versión más reciente o utilizar otro navegador. <br /><br /> Para mayor información comunicate con nosotros al teléfono 6465555 ext. 16614 o ext: 16609";
    }    
</script>

@section inlinescripts
{       
    @if (Model.RealtedStep == null)
    {         
        Html.RenderPartial(MVC.Shared.Views._P_StepLogin, Model);
    }
    else
    {
        Html.RenderPartial(MVC.Shared.Views._P_Menu, Model);
        Html.RenderPartial(MVC.Shared.Views._P_StepGeneric, Model);
    }
}
