@model DocumentManagement.Models.Provider.ProviderSearchModel

@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string UrlAction = Url.Action(MVC.Provider.ActionNames.DownloadFile, MVC.Provider.Name);
    string UrlActionEdit = Url.Action(MVC.Provider.ActionNames.UpdateProvider, MVC.Provider.Name);
}

<div>
    <div>
        <span class="spanTitleForm">Administrar Proveedores</span>
        <div id="divGridProvider"></div>
    </div>
    <div id="template" style="display:none;">
        <div id="divGridProvider_FormUrl">       
            <a target="_blank" href="@(Server.UrlDecode(Url.Action(MVC.ProviderForm.ActionNames.Index, MVC.ProviderForm.Name, new { ProviderPublicId = "ProviderPublicIdParam", FormPublicId = "FormPublicIdParam" })))">Ver formulario proveedor</a>    
        </div>
        <a id="salesForceUrlId"  href="">Ver lead en SalesForce</a>

        <div id="divGridProvider_Header">
            <form id="ProfileInfoFormId" action="@UrlAction" method="post">
                <label>Filtrar por:</label>
                <input type="text" id="divGridProvider_txtSearch" name="divGridProvider_txtSearch" />
                <label> | Comprador:</label>
                <select id="CustomerId" name="CustomerName">
                    <option value=""></option>
                    @foreach (var item in Model.Customers)
                    {
                        {
                            <option value="@item.CustomerPublicId">@item.Name</option>
                        }
                    }
                </select>
                <label> | Formulario:</label>
                <select id="Form" name="FormId"></select>
                <label> | Único:</label>
                <input type="checkbox" name="chk_Unique" id="chk_Unique" value="" />

                <div class="DMProviderFilterActions">
                    <input type="button" id="divGridProvider_SearchButton" value="Buscar" />
                    <input type="submit" value="Descargar Excel" />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EditProviderDialog" name="EditProviderDialog" style="display:none">
    <form action="@UrlActionEdit" method="post">
        <ul>
            <li>
                <label>Razón Social</label>
                <input type="text" name="RazonSocial" id="RazonSocial" value="" />
            </li>
            <li>
                <label>Tipo de Identificación (id)</label>
                <input type="text" name="TipoIdentificacion" id="TipoIdentificacion" value="" />
            </li>
            <li>
                <label>Número de Identificación</label>
                <input type="text" name="NumeroIdentificacion" id="NumeroIdentificacion" value="" />
            </li>
            <li>
                <label>Dígito de verificación</label>
                <input type="text" name="checkDigit" id="checkDigit" value="" />
            </li>
            <li>
                <label>E-Mail</label>
                <input type="text" name="Email" id="Email" value="" />
            </li>
            <li>
                <input type="hidden" id="ProviderPublicIdEdit" name="ProviderPublicIdEdit" value="" />
                <input type="hidden" id="ProviderCustomerIdEdit" name="ProviderCustomerIdEdit" value="" />
                <input type="hidden" id="checkDigitInfoIdEdit" name="checkDigitInfoIdEdit" value="" />
                <input type="hidden" id="ProviderInfoIdEdit" name="ProviderInfoIdEdit" value="" />
            </li>
            <li>
                <input type="submit" name="Edit" value="Editar" />
            </li>
        </ul>
    </form>
</div>
@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //start customer grid
            ProviderSearchGrid('divGridProvider', 'Form', 'CustomerId', 'chk_Unique');
            initCmb('Form');
        });
    </script>
}
