@model BackOffice.Models.Customer.CustomerViewModel

@{
    ViewBag.Title = "Comprador - Criterios de Evaluación.";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)
    </div>

    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Criterios de Evaluación</label>
            <div class="POBOEvaluationGoBackWrapper">
                <a href="@(Url.Action(
                MVC.Customer.ActionNames.PCEvaluationItemUpsert,
                MVC.Customer.Name,
                    new { CustomerPublicId = Model.RelatedCustomer.RelatedCompany.CompanyPublicId, ProjectProviderId = Model.RelatedProjectConfig.ProjectProviderId }))">
                    <div></div>Regresar a la configuración de áreas.
                </a>
            </div>
            <label>Agregar Criterio de Evaluación</label>
            <ul>
                <li>
                    <label>Criterio de Evaluación:</label>
                    <select id="EvaluationCriteriaId" name="EvaluationCriteria">
                        <option id="0">Seleccione una opción</option>
                        @foreach (var item in Model.ProjectConfigOptions.Where(x => x.CatalogId == 1404))
                        {
                            <option id="@item.ItemId">@item.ItemName</option>
                        }
                    </select>
                </li>
                <li>
                    <div id="EvaluationCriteria_1404001" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404001,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>

                    <div id="EvaluationCriteria_1404002" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404002,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>

                    <div id="EvaluationCriteria_1404003" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404003,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>

                    <div id="EvaluationCriteria_1404004" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404004,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>

                    <div id="EvaluationCriteria_1404005" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404005,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>

                    <div id="EvaluationCriteria_1404006" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404006,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>

                    <div id="EvaluationCriteria_1404007" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404007,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>

                    <div id="EvaluationCriteria_1404008" style="display:none;">
                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404008,
                            new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                            (Model, new BackOffice.Models.Customer.EvaluationItemViewModel())))
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@*templates*@



@*<div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Criterios de Evaluación</label>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
            <div class="POBOEvaluationGoBackWrapper">
                <a href="@(Url.Action(
                MVC.Customer.ActionNames.PCEvaluationItemUpsert,
                MVC.Customer.Name,
                    new { CustomerPublicId = Model.RelatedCustomer.RelatedCompany.CompanyPublicId, ProjectProviderId = Model.RelatedProjectConfig.ProjectProviderId }))">
                    <div></div>Regresar a la configuración de áreas.
                </a>
            </div>
            <div id="EvaluationCriteriaList">
                <div id="NewCriteria">
                    <a>Agregar Criterio</a>
                </div>
                <form id="ProjectCriteriaUpsert">
                    <div>
                        <ul>
                            @if (Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem != null &&
                        Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem.Count > 0)
                            {
                                foreach (ProveedoresOnLine.Company.Models.Util.GenericItemModel EvaluationCriteria in Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem)
                                {
                                    <li class="liEvaluationCriteria">
                                        <label name="EvaluationCriteriaId">@EvaluationCriteria.ItemId</label>

                                        <label id="EvaluationCriteriaName">@EvaluationCriteria.ItemName</label>

                                        @foreach (string EvaluationCriteriaType in EvaluationCriteria.ItemInfo.Where(x => x.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.EvaluationCriteria).Select(x => x.Value.ToString()))
                                        {
                                            @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404001.Replace("1404001", EvaluationCriteriaType),
                                                         new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                                                             (Model, new BackOffice.Models.Customer.EvaluationItemViewModel(EvaluationCriteria))
                                                            ))
                                        }
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div>
                        <a>Guardar</a>
                        <a>Cancelar</a>
                    </div>
                </form>
            </div>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
        </div>
    </div>*@
@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    <script type="text/javascript">

        var oEvaluationCriteriaId;

        $(document).ready(function () {
            $("#EvaluationCriteriaId").change(function () {
                var id = $(this).children(":selected").attr("id");
                $("#EvaluationCriteria_" + oEvaluationCriteriaId).hide();
                $("#EvaluationCriteria_" + id).show();
                oEvaluationCriteriaId = id;
            });

            Customer_ProjectModule.Init({
                AutoCompleteId: 'EC_Value',
                ControlToRetornACId: 'Selected_Value',
            });

            Customer_ProjectModule.RenderAutocomplete();
        });
    </script>
}
