@model BackOffice.Models.Customer.CustomerViewModel

@{
    ViewBag.Title = "Comprador - Criterios de Evaluación.";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Criterios de Evaluación</label>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
            <div class="POBOEvaluationGoBackWrapper">
                <a href="@(Url.Action(
                MVC.Customer.ActionNames.PCEvaluationItemUpsert,
                MVC.Customer.Name,
                    new { CustomerPublicId = Model.RelatedCustomer.RelatedCompany.CompanyPublicId, ProjectProviderId = Model.RelatedProjectConfig.ProjectProviderId }))">
                    <div></div>Regresar a la configuración de áreas.
                </a>
            </div>
            <div id="EvaluationCriteriaList">
                <div id="NewCriteria">
                    <a>Agregar Criterio</a>
                </div>
                <div>

                    <ul>
                        @if (Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem != null &&
                        Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem.Count > 0)
                        {
                            foreach (ProveedoresOnLine.Company.Models.Util.GenericItemModel EvaluationCriteria in Model.RelatedProjectConfig.RelatedProjectProvider.RelatedEvaluationItem)
                            {
                                <li>
                                    <label name="EvaluationCriteriaId">@EvaluationCriteria.ItemId</label>

                                    <label id="EvaluationCriteriaName">@EvaluationCriteria.ItemName</label>

                                    @foreach (string EvaluationCriteriaType in EvaluationCriteria.ItemInfo.Where(x => x.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumEvaluationItemInfoType.EvaluationCriteria).Select(x => x.Value.ToString()))
                                    {
                                        @(Html.Partial(MVC.Shared.Views._PJ_EvaluationCriteria_1404001.Replace("1404001", EvaluationCriteriaType),
                                                         new Tuple<BackOffice.Models.Customer.CustomerViewModel, BackOffice.Models.Customer.EvaluationItemViewModel>
                                                             (Model, new BackOffice.Models.Customer.EvaluationItemViewModel(EvaluationCriteria))
                                                            ))
                                    }
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>

            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
        </div>
    </div>
</div>


@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
