@model BackOffice.Models.Customer.CustomerViewModel

@{
    ViewBag.Title = "Comprador - evaluación de desempeño";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Evaluación de desempeño - @Model.RelatedSurveyConfig.SurveyName</label>
            <a href="@(Url.Action(
                MVC.Customer.ActionNames.SCSurveyConfigUpsert,
                MVC.Customer.Name,
                new { CustomerPublicId = Model.RelatedCustomer.RelatedCompany.CompanyPublicId, }))">Regresar a las evaluaciones</a>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
            <div id="loading"></div>
            <div id="divGridItem_@(((int)BackOffice.Models.General.enumSurveyConfigItemType.EvaluationArea).ToString())"></div>
            <div id="divGridItem_@(((int)BackOffice.Models.General.enumSurveyConfigItemType.Question).ToString())"></div>
            <div id="divGridItem_@(((int)BackOffice.Models.General.enumSurveyConfigItemType.Answer).ToString())"></div>
            <br />
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
        </div>
    </div>
</div>

<!--templates-->
<div style="display:none;">
    <div id="divGridItem_ShortcutToolTipTemplate">
        <img class="divGrid_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
    </div>

    <div id="divGridItem_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divGridSurveyConfig_ViewEnable" type="checkbox" checked="checked" />
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            Customer_SurveyItemObject.Init({
                ObjectId: 'divGridItem',
                CustomerPublicId: '@Model.RelatedCustomer.RelatedCompany.CompanyPublicId',
                SurveyConfigId: '@Model.RelatedSurveyConfig.SurveyConfigId',
                PageSize: '@BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_Grid_RowCountDefault].Value',
            });

            Customer_SurveyItemObject.RenderAsync({
                SurveyItemType: '@(((int)BackOffice.Models.General.enumSurveyConfigItemType.EvaluationArea).ToString())',
                ParentSurveyConfigItem: '',
            })
        });
    </script>
}
