@model BackOffice.Models.Customer.CustomerViewModel

@{
    ViewBag.Title = "Comprador - evaluación de desempeño";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Evaluación de desempeño</label>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
            <div id="loading"></div>
            <div id="divGridSurveyConfig"></div>
            <br />
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
        </div>
    </div>
</div>

<!--templates-->
<div style="display:none;">

    <div id="divGridSurveyConfig_ShortcutToolTipTemplate">
        <img class="divGrid_kbtooltip" src="@Url.Content(BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_InfoTooltip].Value)" title=" Nuevo (alt+shift+n) -  Guardar (alt+shift+g) - Descartar (alt+shift+d) " />
    </div>

    <div id="divGridSurveyConfig_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divGridSurveyConfig_ViewEnable" type="checkbox" checked="checked" />
    </div>

    <div id="divGridSurveyConfig_SearchTemplate">
        <input class="POBOSurveySearchInput" id="divGridSurveyConfig_txtSearch" type="text" value="@Request["SearchParam"]" placeholder="Buscar evaluación por nombre o por grupo" />
        <a class="POBOSearchEvaluations" href="javascript:Customer_SurveyObject.Search();">Buscar</a>
    </div>
</div>

@{
    Model.RenderScripts = true;

    string oSurveyGroup = Model.RelatedCustomer.
        RelatedCompany.
        CompanyInfo.
        Where(x => x.ItemInfoType.ItemId == (int)BackOffice.Models.General.enumCompanyInfoType.SurveyGroup).
        Select(x => x.Value).
        DefaultIfEmpty(string.Empty).
        FirstOrDefault();

    string oSCSurveyConfigItemUpsertUrl = Url.Action
        (MVC.Customer.ActionNames.SCSurveyConfigItemUpsert,
        MVC.Customer.Name,
        new
        {
            CustomerPublicId = Model.RelatedCustomer.RelatedCompany.CompanyPublicId
        }) + "&SurveyConfigId=${SurveyConfigId}";
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    <script type="text/javascript">
        $(document).ready(function () {
            Customer_SurveyObject.Init({
                ObjectId: 'divGridSurveyConfig',
                CustomerPublicId: '@Model.RelatedCustomer.RelatedCompany.CompanyPublicId',
                PageSize: '@BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_Grid_RowCountDefault].Value',
                SurveyGroup: '@oSurveyGroup',
                SurveyConfigItemUpsertUrl: '@Html.Raw(oSCSurveyConfigItemUpsertUrl)',
            });

            Customer_SurveyObject.RenderAsync();
        });
    </script>
}
