@model BackOffice.Models.Customer.CustomerViewModel

@{
    ViewBag.Title = "Comprador - evaluación de desempeño";
    Layout = MVC.Shared.Views._Layout;

    Model.RenderScripts = false;
}

@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POBOProviderWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POBOProviderSideMenuWrapper">
        @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)
    </div>
    <div class="POBOProviderContentWrapper">
        <div id="POBOProviderUpsertForm">
            <label class="POBOSectionTitles">Evaluación de desempeño - @Model.RelatedSurveyConfig.SurveyName</label>
            <a href="@(Url.Action(
                MVC.Customer.ActionNames.SCSurveyConfigUpsert,
                MVC.Customer.Name,
                new { CustomerPublicId = Model.RelatedCustomer.RelatedCompany.CompanyPublicId, }))">Regresar a las evaluaciones</a>
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
            <div id="loading"></div>
            <label>Areas de evaluación</label>
            <div id="divGridItem_@(((int)BackOffice.Models.General.enumSurveyConfigItemType.EvaluationArea).ToString())"></div>
            <label>Preguntas</label>
            <div id="divGridItem_@(((int)BackOffice.Models.General.enumSurveyConfigItemType.Question).ToString())"></div>
            <label>Respuestas</label>
            <div id="divGridItem_@(((int)BackOffice.Models.General.enumSurveyConfigItemType.Answer).ToString())"></div>
            <br />
            @{
                Model.IsForm = false;
                Html.RenderPartial(MVC.Shared.Views._C_CustomerActions, Model);
            }
        </div>
    </div>
</div>

<!--templates-->
<div style="display:none;">
    <div id="divGridItem_TitleTemplate">
        <label>${Title}</label>
    </div>

    <div id="divGridItem_ViewEnablesTemplate">
        <label class="POBOProviderGridVerSoloTrue">Ver solo los habilitados</label>
        <input class="POBOProviderGridEnableContact" id="divGridSurveyConfig_ViewEnable" type="checkbox" checked="checked" />
    </div>
</div>

@{
    Model.RenderScripts = true;
}

@section inlinescripts
{
    @Html.Partial(MVC.Shared.Views._C_CustomerMenu, Model)

    @{

        //ger CertificationTypeValues
        string oSurveyInfoOptionList = "[]";
        if (Model.CustomerOptions != null &&
            Model.CustomerOptions.Count > 0)
        {
            Dictionary<int, List<ProveedoresOnLine.Company.Models.Util.CatalogModel>> oOptionCertification =
                Model.CustomerOptions.
                GroupBy(x => x.CatalogId).
                Select(x =>
                    new
                    {
                        okey = x.Key,
                        ovalue = Model.CustomerOptions.Where(y => y.CatalogId == x.Key).OrderBy(y => y.ItemName).ToList(),
                    }).ToDictionary(k => k.okey, v => v.ovalue);

            oSurveyInfoOptionList = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(oOptionCertification.Select(x => new { Key = x.Key, Value = x.Value }));
        }
    }

    <script type="text/javascript">
        
        var vCustomerInfoOptionList = @(Html.Raw(oSurveyInfoOptionList));

        $(document).ready(function () {
            Customer_SurveyItemObject.Init({
                ObjectId: 'divGridItem',
                CustomerPublicId: '@Model.RelatedCustomer.RelatedCompany.CompanyPublicId',
                SurveyConfigId: '@Model.RelatedSurveyConfig.SurveyConfigId',
                HasEvaluations: @Model.RelatedSurveyConfig.RelatedSurveyConfig.HasEvaluations.ToString().ToLower(),
                PageSize: '@BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_Grid_RowCountDefault].Value',
                CustomerOptions: vCustomerInfoOptionList,
            });

            Customer_SurveyItemObject.RenderAsync({
                SurveyItemType: '@(((int)BackOffice.Models.General.enumSurveyConfigItemType.EvaluationArea).ToString())',
                ParentSurveyConfigItem: '',
                Title: '@Model.RelatedSurveyConfig.SurveyName',
            })
        });
</script>
}
